@import 'variables';
// background colors
.background {
  &-black {
    background-color: @black;

    &-light {
      background-color: @black-light;
    }
    &-lighter {
      background-color: @black-lighter;
    }
  }
  &-blue{
    background-color: @blue;
  }
  &-grey {
    &-lighter {
      background-color: @grey-lighter;
    }
  }
  &-white {
      background-color: @white;
  }
}
