.background-black {
  background-color: #000000;
}
.background-black-light {
  background-color: #212224;
}
.background-black-lighter {
  background-color: #1C1C1E;
}
.background-blue {
  background-color: #00AEEF;
}
.background-grey {
  background-color: #4D4D4D;
}
.background-grey-lighter {
  background-color: #f8f8f8;
}
.background-white {
  background-color: #FFFFFF;
}
.active-link {
  content: "";
  padding-bottom: 3rem;
  border-bottom: 1px solid #00AEEF;
}
.active-marker {
  background-color: #00AEEF;
}
.active-tab {
  color: #00AEEF;
}
