.background-black {
  background-color: #000000;
}
.background-black-light {
  background-color: #1C1C1E;
}
.background-black-lighter {
  background-color: #262626;
}
.background-blue {
  background-color: #00AEEF;
}
.background-grey-lighter {
  background-color: #f8f8f8;
}
.background-white {
  background-color: #FFFFFF;
}
