@import 'variables';
// background colors
.background {
  &-black {
    background-color: @black;

    &-light {
      background-color: @black-light;
    }
    &-lighter {
      background-color: @black-lighter;
    }
  }
  &-blue{
    background-color: @blue;
  }
  &-grey {
     background-color: @grey-dark;
    &-lighter {
      background-color: @grey-lighter;
    }
  }
  &-white {
      background-color: @white;
  }
}
.active {
  &-link {
    content: "";
    padding-bottom: 3rem;
    border-bottom: 1px solid @blue;
  }
  &-marker {
    background-color: @blue;
  }
  &-tab {
    color: @blue;
  }
}
