.blog--part {
  width: 23.5%;
  height: 24vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1.5%;
}
.blog--part-grad {
  background: linear-gradient(179.85deg, rgba(28, 28, 30, 0) 0.12%, #212224 99.88%);
  height: 101%;
  width: 101%;
  position: absolute;
}
.blog--part-grad-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1024px) {
  .blog--part {
    width: 47%;
    height: 48vw;
    margin-right: 3%;
  }
}
@media screen and (max-width: 960px) {
  .blog--part {
    width: 48%;
    margin-right: 2%;
  }
}
@media screen and (max-width: 600px) {
  .blog--part {
    width: 100%;
    height: 92vw;
    margin-right: 0%;
  }
  .blog--part-grad {
    height: 100%;
    width: 100%;
  }
}
