.gallery-blog {
  position: relative;
}
.gallery-blog-big-pic {
  height: 31.3vw;
  width: 56.3vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-blog-big-txt {
  justify-content: space-around;
}
.gallery-blog-big-txt-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.gallery-blog-big-txt-text p:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.gallery-blog-big-txt-text p {
  display: none;
}
.gallery-blog-small {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 24vw;
}
.gallery-blog-small-part {
  grid-column: 1;
  grid-row: 1;
}
.gallery-blog-small-part:nth-child(2) {
  grid-column: 2;
  grid-row: 1 ;
}
.gallery-blog-small-part:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}
.gallery-blog-small-part:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}
.gallery-blog-small-part-pic {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.gallery-blog-small-part-pic-text {
  background: linear-gradient(179.85deg, rgba(28, 28, 30, 0) 0.12%, #212224 99.88%);
  height: 101%;
  width: 101%;
  position: absolute;
}
.gallery-blog-small-part-pic-text-title p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.gallery-blog-small-part-pic-text-title p {
  display: none;
}
.gallery-blog-small-part-pic-text-btn {
  width: 8.875rem;
  height: 2.875rem;
}
@media screen and (max-width: 1440px) {
  .gallery-blog-small-part-pic-text-btn {
    width: 6rem;
    height: 2.875rem;
  }
}
@media screen and (max-width: 1024px) {
  .gallery-blog {
    top: 4.6875rem;
  }
  .gallery-blog-big {
    align-items: center;
  }
  .gallery-blog-big-pic {
    height: 47.7vw;
    width: 78.8vw;
  }
  .gallery-blog-big-txt {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .gallery-blog-small {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-blog-small-part {
    height: 48vw;
    width: 48%;
  }
  .gallery-blog-small-part-pic-text-title {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .gallery-blog-big-pic {
    height: 100vw;
    width: 100%;
  }
  .gallery-blog-big-txt {
    width: auto;
  }
  .gallery-blog-small-part {
    height: 96vw;
    width: 100%;
  }
}
