@import 'variables';
// buttons
.button {
  &-big {
    height: 2.813rem;
    width: 12.063rem;
    background-color: @blue;
    border: 1px solid @blue;
    transition: all 0.4s ease-in-out;
    a {
      height: inherit;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      background-color: @black;
      border: 1px solid @blue;
      transition: all 0.4s ease-in-out;
    }
  }
  &-midd {
    height: 2.813rem;
    width: 8.375rem;
    background-color: @blue;
    border: 1px solid @blue;
    transition: all 0.4s ease-in-out;
    a {
      height: inherit;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      background-color: @black;
      border: 1px solid @blue;
      transition: all 0.4s ease-in-out;
    }
  }
  &-small {
    height: 1.875rem;
    width: 6rem;
    background-color: @blue;
    border: 1px solid @blue;
    transition: all 0.4s ease-in-out;
    a {
      height: inherit;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      background-color: @black;
      border: 1px solid @blue;
      transition: all 0.4s ease-in-out;
    }
  }
  &-border {
    &-blue {
      border: 1px solid @blue;
      transition: all 0.4s ease-in-out;
    }
  }
}
@media screen and (max-width: 480px){
  .button{
    &-big {
      height: 3.513rem;
      width: 10.063rem;
    }
    &-midd {
      height: 2.313rem;
      width: 6.375rem;
    }
  }
}
