.button-big {
  height: 2.813rem;
  width: 12.063rem;
}
.button-big:hover {
  background-color: #000000;
  border: 1px solid #00AEEF;
}
.button-midd {
  height: 2.813rem;
  width: 8.375rem;
}
.button-midd:hover {
  background-color: #000000;
  border: 1px solid #00AEEF;
}
.button-small {
  height: 1.875rem;
  width: 6rem;
}
.button-small:hover {
  background-color: #000000;
  border: 1px solid #00AEEF;
}
.button-border-blue {
  border: 1px solid #00AEEF;
}
@media screen and (max-width: 480px) {
  .button-big {
    height: 2.513rem;
    width: 8.063rem;
  }
  .button-midd {
    height: 2.313rem;
    width: 6.375rem;
  }
}
