.kontakt {
  width: 100%;
  top: 4.6875rem;
  position: relative;
}
.kontakt-oglasavanje {
  width: auto;
  height: 100px;
}
.kontakt-shared {
  width: 100%;
}
.kontakt-shared--form-row--column {
  width: 25%;
}
.fade_in_cont {
  transform: scale(1);
  transition: transform 0.9s ease-in-out 0.9s;
}
.fade_out_cont {
  transform: scale(0);
  transition: transform 0.9s ease-in-out;
}
.email-hidden {
  display: none;
}
.email-shown {
  display: flex;
}
.kontakt_solo {
  height: calc(100vh - 4.6875rem);
  top: 4.6875rem;
  position: relative;
  background-color: #212224;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.kontakt_solo--inner {
  height: 100%;
  position: absolute;
  left: 0px;
}
.next-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.next-enabled {
  pointer-events: all;
}
@media only screen and (max-width: 1024px) {
  .kontakt-shared--title p {
    text-align: center;
  }
  .kontakt-shared--form-row {
    flex-direction: column;
  }
  .kontakt-shared--form-row--column {
    width: 40%;
  }
  .kontakt-shared--form-row--column label {
    text-align: center;
  }
  .kontakt-shared--form-row div label {
    text-align: center;
  }
  .kontakt-shared--form-row div input {
    height: 60px;
  }
  .kontakt-shared--form-row--button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kontakt_solo {
    top: 4.6875rem;
    position: relative;
  }
  .kontakt_solo--inner {
    top: 0px;
  }
}
@media only screen and (max-width: 960px) {
  .kontakt-oglasavanje--left {
    margin-left: 11.11%;
  }
  .kontakt-oglasavanje--right {
    margin-right: 11.11%;
  }
  .kontakt-shared--form-row--column {
    width: 70%;
  }
  .left_kontakt {
    width: 40%;
  }
  .right_kontakt {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .kontakt-oglasavanje--left {
    align-items: flex-start;
    margin-left: 8%;
  }
  .kontakt-oglasavanje--left-head {
    display: none;
  }
  .kontakt-oglasavanje--right {
    align-items: flex-end;
    margin-right: 8%;
  }
  .kontakt-oglasavanje--right-head {
    display: none;
  }
  .kontakt-shared--title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .kontakt-shared--form-row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .kontakt-shared--form-row--column {
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .kontakt-oglasavanje--left-title a span:nth-child(2) {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
  .kontakt-oglasavanje--right-title a span:nth-child(1) {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}
