.kontakt {
  width: 100%;
}
.kontakt-oglasavanje {
  width: auto;
  height: 100px;
}
.kontakt-shared {
  width: 100%;
}
.kontakt-shared--form-row--column {
  width: 25%;
}
@media only screen and (max-width: 1024px) {
  .kontakt-shared--title p {
    text-align: center;
  }
  .kontakt-shared--form-row {
    flex-direction: column;
  }
  .kontakt-shared--form-row--column {
    width: 40%;
  }
  .kontakt-shared--form-row--column label {
    text-align: center;
  }
  .kontakt-shared--form-row div label {
    text-align: center;
  }
  .kontakt-shared--form-row div input {
    height: 60px;
  }
  .kontakt-shared--form-row--button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .kontakt-oglasavanje--left {
    align-items: flex-start;
    margin-left: 3rem;
  }
  .kontakt-oglasavanje--right {
    align-items: flex-end;
    margin-right: 3rem;
  }
  .kontakt-shared--title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .kontakt-shared--form-row {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .kontakt-shared--form-row--column {
    width: 100%;
  }
}
