@import 'variables';

.kontakt {
  width: 100%;
  &-oglasavanje {
    width: auto;
    // height: 10.5vh;
    height: 100px;
  }
  &-shared {
    width: 100%;
    &--form {
      &-row {
        &--column {
          width: 25%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .kontakt {
    &-shared {
      &--title{
        p {
          text-align: center;
        }
      }
      &--form {
        &-row {
          flex-direction: column;
          &--column {
            width: 40%;
            label {
              text-align: center;
            }
          }
          div {
            label {
              text-align: center;
            }
            input {
              height: 60px;
            }
          }
          &--button {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 960px) {

}
