@import 'variables';

.recnik{
    &--blok2{
        height: auto;
        &-left{
            width: 50%;
            &-part{
                width: 65%;
                height: 32.25rem;
                margin-top: -6.5rem;
                &-icon{
                    height: 4.063rem;
                    width: 5.313rem;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
        &-right{
            width: 50%;
            &-part{
                width: 65%;
                margin-top: -6.5rem;
                height: 32.25rem;
            }
        }
        &-line{
            width: 3.125rem;
            height: 0.063rem;
            &-big{
                height: 64.063rem;
                width: 0.063rem;
            }
        }
    }
}