.font-12 {
  font-size: 0.75rem;
  line-height: 0.9rem;
}
.font-14 {
  font-size: 0.875rem;
  line-height: 1.05rem;
}
.font-16 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.font-18 {
  font-size: 1.125rem;
  line-height: 1.35rem;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.font-32 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.font-36 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}
.font-46 {
  font-size: 2.875rem;
  line-height: 4.106rem;
}
.font-53 {
  font-size: 3.335rem;
  line-height: 3.438rem;
}
.font-regular {
  font-weight: 300;
}
.font-semibold {
  font-weight: 400;
}
.font-bold {
  font-weight: 500;
}
.font-grey {
  color: #4D4D4D;
}
.font-grey--mid {
  color: #A6A6A6;
}
.font-blue {
  color: #00AEEF;
}
.font-white {
  color: #FFFFFF;
}
.letter-spacing-0_3 {
  letter-spacing: 0.019rem;
}
.letter-spacing--0_3 {
  letter-spacing: -0.019rem;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
@media screen and (max-width: 960px) {
  .font-32 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .font-46 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}
