@import 'variables';
//font size
.font {
  &-12 {
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
  &-14 {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
  &-16 {
    font-size: 1rem;
    line-height: 1.3125rem;
  }
  &-18 {
    font-size: 1.125rem;
    line-height: 1.35rem;
  }
  &-24 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  &-32 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
  &-36 {
    font-size: 2.25rem;
    line-height: 2.7rem;
  }
  &-46 {
    font-size: 2.875rem;
    line-height: 4.106rem;
  }
  &-53 {
    font-size: 3.335rem;
    line-height: 3.438rem;
  }
  &-regular {
    font-weight: 300;
  }
  &-semibold {
    font-weight: 400;
  }
  &-bold {
    font-weight: 500;
  }
  // &-back {
  //   color
  // }
  &-grey {
    color: @grey-dark;
    &--mid {
      color: @grey-mid;
    }
  }
  &-blue {
    color: @blue;
  }
  &-white {
    color: @white;
  }
}
.letter-spacing{
  &-0_3{
    letter-spacing: 0.019rem;
  }
  &--0_3{
    letter-spacing: -0.019rem;
  }
}
.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
