@import 'variables';
.prazan {
  min-height: 1.5rem;
}
.footer {
  height: 31.563rem;
  width: @w-100;
  &-top {
    height: 11.375rem;
    span:nth-child(2) {
      padding-bottom: 4px;
    }
  }
  &-bottom {
    height: 14.375rem;
    // width: @w-100;
    &--left {
      width: @w-50;
      height: 100%;
      &-col {
        width: @w-50;
      }
    }
    &--right {
      width: @w-50;
      height: 100%;
      &-col {
        width: @w-50;
      }
    }
  }
}
.info_menu {
  order: 1;
}
.address_menu {
  order: 2
}
.menu_menu {
  order: 1;
}
.usluge_menu {
  order: 2;
}
@media only screen and (max-width: 1024px) {
  .footer {
    min-height: 45rem;
    top: 4.6875rem;
    position: relative;
    &-top {
      justify-content: center;
    }
    &-bottom {
      height: 33.625rem;
      &--left {
        width: auto;
        // margin-right: 11.25rem;
        justify-content: space-between;
        &-col {
          width: 140px;
        }
      }
      &--right {
        width: auto;
        // margin-right: 11.25rem;
        justify-content: space-between;
        padding-bottom: 6.25rem;
        &-col {
          width: 140px;
        }
      }
    }
  }
  .menu_menu {
    order: 2;
  }
  .usluge_menu {
    order: 1;
    width: auto;
  }
  .info_menu {
    width: auto;
  }
}
@media only screen and (max-width: 960px) {
  .footer {
    height: 43rem;
    &-bottom {
      height: 31.625rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    height: auto;
    &-bottom {
      height: auto;
      &--left {
        order: 2;
        align-items: center;
        &-col {
          align-items: center;
          div {
            p {
              text-align: center;
            }
          }
        }
      }
      &--right {
        order: 1;
        // margin-left: 0px;
        // margin-right: 0px;
        align-items: center;
        padding-bottom: 0px;
        &-col {
          align-items: center;
          padding-bottom: 4.375rem;
          div {
            text-align: center;
            a {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .info_menu {
    order: 1;
  }
  .address_menu {
    order: 2
  }
  .menu_menu {
    order: 1;
  }
  .usluge_menu {
    order: 2;
  }
}
