@import 'variables';
.footer {
  height: 26.875rem;
  width: @w-100;
  &-top {
    height: 9.375rem;
  }
  &-bottom {
    height: 14.375rem;
    // width: @w-100;
    &--left {
      width: @w-50;
      height: 100%;
      &-col {
        width: @w-50;
      }
    }
    &--right {
      width: @w-50;
      height: 100%;
      &-col {
        width: @w-50;
      }
    }
  }
}
