.prazan {
  min-height: 1.5rem;
}
.footer {
  height: 31.563rem;
  width: 100%;
}
.footer-top {
  height: 11.375rem;
}
.footer-top span:nth-child(2) {
  padding-bottom: 4px;
}
.footer-bottom {
  height: 14.375rem;
}
.footer-bottom--left {
  width: 50%;
  height: 100%;
}
.footer-bottom--left-col {
  width: 50%;
}
.footer-bottom--right {
  width: 50%;
  height: 100%;
}
.footer-bottom--right-col {
  width: 50%;
}
.info_menu {
  order: 1;
}
.address_menu {
  order: 2;
}
.menu_menu {
  order: 1;
}
.usluge_menu {
  order: 2;
}
@media only screen and (max-width: 1024px) {
  .footer {
    min-height: 45rem;
    position: relative;
  }
  .footer-top {
    justify-content: center;
  }
  .footer-bottom {
    height: 33.625rem;
  }
  .footer-bottom--left {
    width: auto;
    margin-right: 11.25rem;
    justify-content: space-between;
  }
  .footer-bottom--left-col {
    width: 140px;
  }
  .footer-bottom--right {
    width: auto;
    margin-right: 11.25rem;
    justify-content: space-between;
    padding-bottom: 6.25rem;
  }
  .footer-bottom--right-col {
    width: 140px;
  }
  .menu_menu {
    order: 2;
  }
  .usluge_menu {
    order: 1;
    width: auto;
  }
  .info_menu {
    width: auto;
  }
}
@media only screen and (max-width: 960px) {
  .footer {
    height: 43rem;
  }
  .footer-bottom {
    height: 31.625rem;
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    height: auto;
  }
  .footer-top {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-bottom {
    height: auto;
  }
  .footer-bottom--left {
    order: 2;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    padding-bottom: 100px;
  }
  .footer-bottom--left-col {
    align-items: center;
  }
  .footer-bottom--left-col div p {
    text-align: center;
  }
  .footer-bottom--right {
    order: 1;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    padding-bottom: 0px;
  }
  .footer-bottom--right-col {
    align-items: center;
    padding-bottom: 4.375rem;
  }
  .footer-bottom--right-col div {
    text-align: center;
  }
  .footer-bottom--right-col div a {
    text-align: center;
  }
  .info_menu {
    order: 1;
  }
  .address_menu {
    order: 2;
  }
  .menu_menu {
    order: 1;
  }
  .usluge_menu {
    order: 2;
  }
}
