.footer {
  height: 26.875rem;
  width: 100%;
}
.footer-top {
  height: 12.5rem;
}
.footer-bottom {
  height: 14.375rem;
  width: 100%;
}
.footer-bottom--left {
  width: 50%;
  height: 100%;
}
.footer-bottom--right {
  width: 50%;
  height: 100%;
}
