@import 'variables';
.header {
  height: 4.6875rem;
  width: 100%;
  background-color: @black-light;
}
@media only screen and (max-width: 1024px) {
  .header {
    &-meni {
      width: 0px;
      div {
        display: none;
      }
    }
  }
}
