.home {
  height: calc(100vh - 4.6875rem);
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.home-video {
  min-height: 8.8vh;
  width: 320px;
  position: relative;
}
.home-video--preview {
  min-height: 100%;
  min-width: 35%;
}
.home-video--preview-image {
  height: 100%;
}
.home-line {
  display: none;
}
.home-hero--text {
  width: 35%;
}
@media screen and (max-width: 1440px) {
  .home-hero--text {
    width: 50%;
  }
}
@media screen and (max-width: 1366px) {
  .home {
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .home {
    top: 4.6875rem;
    position: relative;
  }
  .home-line {
    display: flex;
  }
  .home-hero-cont {
    align-items: center;
  }
  .home-hero--title div {
    text-align: center;
  }
  .home-hero--title div div:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-right: 0px;
  }
  .home-hero--title div div:nth-child(2) {
    display: none;
  }
  .home-hero--text {
    width: 80%;
    text-align: center;
  }
  .usluge_mini {
    top: 4.6875rem;
    position: relative;
  }
}
@media screen and (max-width: 960px) {
  .home-video {
    display: none;
  }
}
