.home {
  height: calc(100vh - 4.6875rem);
  width: 100%;
  position: relative;
}
.home-video {
  height: 95px;
  width: 290px;
  position: relative;
}
.home-video--preview {
  height: 100%;
}
.home-video--preview-image {
  height: 100%;
}
.home-hero--text {
  width: 50%;
}
