.home {
  height: calc(~"100vh - 4.6875rem");
  // height: 100vh;
  width: 100%;
  position: relative;
  &-video {
    min-height: 95px;
    // width: 16.4063vw;
    width: 320px;
    position: relative;
    &--preview{
      min-height: 100%;
      min-width: 35%;
      &-image {
        height: 100%;
      }
    }
  }
  &-line {
    display: none;
  }
  &-hero {
    &--text {
      width: 35%;
    }
    &--social {
      &-link {

      }
    }
  }
}
@media screen and (max-width: 1440px){
  .home {
    &-hero {
      &--text {
        width: 45%;
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .home {
    &-line {
      display: flex;
    }
    &-hero {
      &--text {
        width: 45%;
      }
    }
  }
}
