.home {
  height: calc(~"100vh - 4.6875rem");
  // height: 100vh;
  width: 100%;
  top: 4.6875rem;
  position: relative;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  &-video {
    // min-height: 95px;
    min-height: 5.625rem;
    // width: 16.3977vw;
    width: 320px;
    position: relative;
    &--preview{
      min-height: 100%;
      min-width: 35%;
      &-image {
        height: 100%;
      }
    }
  }
  &-line {
    display: none;
  }
  &-hero {
    &--text {
      width: 35%;
    }
    &--social {
      &-link {
        height: 3.125rem;
      }
    }
  }
}
.usluge_mini {
  top: 4.6875rem;
  position: relative;
}
@media screen and (max-width: 1440px){
  .home {
    &-hero {
      &--text {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 1366px){
  .home {
    height: auto;
  }
}
@media screen and (max-width: 1024px){
  .home {
    &-line {
      display: flex;
    }
    &-hero {
      &-cont {
        align-items: center;
      }
      &--title {
        div {
          text-align: center;
          div:nth-child(1) {
            width: 100%;
            text-align: center;
            margin-right: 0px;
          }
          div:nth-child(2) {
            display: none;
          }
        }
      }
      &--text {
        width: 80%;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 960px){
  .home {
    &-video {
      display: none;
    }
  }
}
@media screen and (max-width: 600px){
  .home-hero--social-link{
    height: 2rem;
  }
}
