.home {
  height: calc(~"100vh - 4.6875rem");
  // height: 100vh;
  width: 100%;
  position: relative;
  &-video {
    height: 95px;
    width: 290px;
    position: relative;
    &--preview{
      height: 100%;
      &-image {
        height: 100%;
      }
    }
  }
  &-hero {
    &--text {
      width: 50%;
    }
    &--social {
      &-link {

      }
    }
  }
}
