@import 'variables';

.input {
  &-form {
    background-color: @grey-lighter;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid @grey-light;
    &:active {
      background-color: @grey-lighter;
    }
  }
}
