.input-form {
  background-color: #f8f8f8;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c0c0c0;
  padding-top: 10px;
}
.input-form:active {
  background-color: #f8f8f8;
}
