.klijenti {
  min-height: 38.75rem;
  background-color: #212224;
  top: 4.6875rem;
  position: relative;
}
.klijenti--part-logo {
  height: 12.5rem;
  width: 15.625rem;
}
@media screen and (max-width: 1024px) {
  .klijenti {
    min-height: 38.75rem;
    background-color: #212224;
  }
  .klijenti--part {
    align-items: center;
  }
  .klijenti--part-center {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .klijenti--part-logo {
    height: 9.5rem;
  }
}
@media screen and (max-width: 480px) {
  .klijenti--part-logo {
    height: 6.5rem;
    width: 10.625rem;
  }
}
