.klijenti {
  min-height: 38.75rem;
  background-color: #212224;
  position: relative;
}
.klijenti--part-logo {
  height: 12.5rem;
  width: 15.625rem;
}
@media screen and (max-width: 1024px) {
  .klijenti {
    min-height: 38.75rem;
    background-color: #212224;
    top: 4.6875rem;
  }
  .klijenti--part {
    align-items: center;
  }
  .klijenti--part-center {
    text-align: center;
  }
}
