@import 'variables';

.o-nama{
    height: 42vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(98.03deg, #111111 23.52%, rgba(30, 30, 30, 0) 53.61%), linear-gradient(0deg, rgba(26, 26, 26, 0.2), rgba(26, 26, 26, 0.2)), url(../images/o-nama.jpg);
    &--text{
        width: 21.5rem;
    }
    &--poruka{
        min-height: 18.75rem;
        &-text{
            width: 50%;
        }
    }
    &--misija{
        height: 42vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(294.44deg, rgba(47, 50, 129, 0) 44.35%, rgba(47, 95, 129, 0.5) 75.58%), linear-gradient(246.15deg, rgba(28, 28, 30, 0) 21.19%, #1C1C1E 85.98%), linear-gradient(300.79deg, rgba(47, 50, 129, 0) 44.35%, rgba(47, 95, 129, 0.8) 75.58%), url(../images/vizije-i-misije.jpg);
        
    }
    &--vrednosti{
        width: 33%;
        &-text{
            width: 18.75rem;
        }
        &-slika{
            width: 3.75rem;
            height: 3.75rem;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}