.portfolio {
  height: calc(100vh - 4.6875rem);
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.portfolio-logo {
  max-width: 21.875rem;
  max-height: 6.25rem;
}
.portfolio-icon span {
  height: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .position {
    position: relative;
    top: 4.6875rem;
  }
  .portfolio-icon span {
    height: 1.78rem;
  }
}
@media screen and (max-width: 960px) {
  .portfolio {
    height: 65vw;
  }
}
@media screen and (max-width: 360px) {
  .portfolio {
    height: 100vw;
  }
}
