@import 'variables';

.project{
    &-img{
        height: 24.7vw;
        width: 39.8vw;
    }
    &--owl{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        &-img{
            height: 532px;
            width: 907px;
        }
    }
}