@import 'variables';

.project{
    &-img{
        height: 24.7vw;
        width: 39.8vw;
    }
    &-width{
        width: 50%;
    }
    &--owl{
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        &-img{
            height: 27.7vw;
            width: 47.3vw;
        }
    }
    &-zadatak{
        width: 60%;
    }
    &--rezultat{
        &-left{
            width: 40%;
        }
        &-right{
            width: 60%;
        }
    }
    &-30{
        width: 30%;
    }
    &-line{
        height: 5vw;
        width: 0.063rem;
        background-color: @white;
    }
    &-prev-next{
        width: 100%;
        height: 33vw;
        &-text{
            width: 40%;
        }
    }
}
.owl-next{
    span{
        font-size: 36px;
    }
}
.owl-prev{
    span{
        font-size: 36px;
    }
}
@media screen and (width: 1024px){
    .project{
        &-center{
            &-text{
                text-align: center;
            }
            &-items{
                align-items: center
            }
        }
        &-zadatak{
            width: 100%;
        }
        &--rezultat{
            &-left{
                width: 100%;
            }
            &-right{
                width: 100%;
            }
        }
    }
}