@import 'variables';

.project{
    &-img{
        height: 24.7vw;
        width: 39.8vw;
    }
    &--owl{
        height: auto;
        width: 100%;
        overflow: hidden;
        position: relative;
        &-img{
            height: 27.7vw;
            width: 47.3vw;
        }
    }
    &-zadatak{
        width: 60%;
    }
    &--rezultat{
        &-left{
            width: 40%;
        }
        &-right{
            width: 60%;
        }
    }
    &-line{
        height: 4.5vw;
        width: 0.063rem;
        background-color: @white;
    }
}
.owl-next{
    span{
        font-size: 36px;
    }
}
.owl-prev{
    span{
        font-size: 36px;
    }
}