.projekti {
  position: relative;
}
.projekti--naslov {
  height: 11vw;
  width: 100%;
}
.projekti--naslov-linija {
  height: 0.313rem;
  width: 22%;
  bottom: -15%;
}
.projekti-grid {
  flex-wrap: wrap;
}
.projekti-grid-1 {
  height: 11vw;
  width: 50%;
}
.projekti-grid-projekat {
  width: 50%;
}
.projekti-grid-projekat:nth-of-type(even) {
  margin-top: -11vw;
}
.projekti-grid-projekat:last-of-type:nth-of-type(odd) {
  position: relative;
  left: 50%;
  margin-top: -11vw;
}
.projekti-grid-projekat img {
  width: 100%;
  height: 100%;
}
.projekti-grid-projekat-opis {
  height: 11vw;
}
.projekti-grid-projekat-picture {
  position: relative;
  height: 33vw;
}
.projekti-grid-projekat-picture:hover {
  opacity: 1;
}
.projekti-grid-projekat-picture-hover {
  opacity: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 174, 239, 0.8);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.projekti-grid-projekat-picture-hover:hover {
  opacity: 1;
}
.projekti-grid-projekat-picture-hover-logo {
  max-width: 21.875rem;
  max-height: 6.25rem;
}
.projekti-grid-projekat-picture-hover-icon {
  max-width: 5rem;
  max-height: 5rem;
  margin-left: 7%;
  margin-right: 7%;
}
.projekti-button {
  height: 7vw;
}
.face {
  padding-bottom: 0.85rem;
}
@media screen and (max-width: 1024px) {
  .projekti {
    top: 4.6875rem;
  }
  .projekti--naslov {
    justify-content: center;
    width: 100%;
  }
  .projekti-grid-1 {
    width: 100%;
  }
  .projekti-grid-1-txt {
    text-align: center;
  }
  .projekti-grid-projekat:nth-of-type(even) {
    margin-top: 0vw;
  }
  .projekti-grid-projekat:last-of-type:nth-of-type(odd) {
    position: relative;
    left: 0%;
    margin-top: 0vw;
  }
  .projekti-grid-projekat-picture-hover-logo {
    max-width: 13.75rem;
  }
  .projekti-grid-projekat-opis {
    height: 15vw;
  }
  .projekti-button {
    top: 4.6875rem;
    height: 7vw;
    position: relative;
  }
}
@media screen and (max-width: 960px) {
  .projekti-grid-projekat-picture-hover {
    display: none;
  }
  .face {
    padding-bottom: 0.35rem;
  }
}
@media screen and (max-width: 680px) {
  .projekti--naslov {
    height: 33vw;
  }
  .projekti-grid-1 {
    height: 33vw;
  }
  .projekti-grid-projekat {
    width: 100%;
  }
  .projekti-grid-projekat-opis {
    height: 33vw;
  }
  .projekti-grid-projekat-opis-txt {
    text-align: center;
  }
  .projekti-grid-projekat-picture {
    position: relative;
    height: 66vw;
  }
  .projekti-grid-projekat-picture-hover {
    display: none;
  }
  .projekti-button {
    height: 22vw;
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  .projekti-grid-projekat-opis {
    height: 50vw;
  }
}
