.social {
  min-height: 100vh;
  background: linear-gradient(264deg, rgba(2,0,36,1) 0%, rgba(44,44,125,1) 47%, rgba(19,95,111,1) 100%);
  &--top {
    // height: 19.4375rem;
  }
  &--mid {
      min-height: 80vh;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    &-cont {
      height: 69vh;
      width: 60%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80% 80%;
    }
  }
  &--bottom {
    margin-top: -15.125rem;
    &-inside {

    }
    &-outside {

    }
  }
}
.skiptar {

}
