.social {
  min-height: 100vh;
  top: 4.6875rem;
  position: relative;
  background-image: url('../images/pozadina_mreze.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.social--mid {
  min-height: 60rem;
  width: 100%;
  background-image: url('../images/dotted-world.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.social--mid-cont {
  margin-top: -11rem;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}
.social--mid-cont2 {
  margin-top: -3.5rem;
  width: 90%;
}
.social--bottom {
  margin-top: -15.125rem;
}
.social--bottom-inside--info {
  width: 34.5%;
}
.whatdoit {
  top: 4.6875rem;
  position: relative;
}
.whatdoit--right {
  position: relative;
}
.whatdoit--right-images {
  height: 100%;
}
.whatdoit--right-images-image {
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 0.9s ease-in;
  transition: opacity 0.9s ease-in;
}
.whatdoit--right-images-image picture {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.whatdoit--right-images-image picture img {
  width: 100%;
  max-height: 100%;
}
.whatdoit--left {
  position: relative;
}
.whatdoit--left-menu--item:hover {
  cursor: pointer;
  color: #00AEEF;
}
.whatdoit--left-nalog {
  min-width: 100%;
  position: relative;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.whatdoit--left-nalog-block {
  width: 68%;
}
.whatdoit--left-nalog-benefits {
  width: 68%;
}
.whatdoit--left-nalog-benefits--col-elem {
  width: 44%;
}
.whatdoit--left-nalog-benefits--col-elem--icon {
  height: 2rem;
}
.whatdoit--left-nalog-benefits--col-elem--icon img {
  height: 100%;
}
.howwhy {
  top: 4.6875rem;
  position: relative;
  background-image: linear-gradient(-267.16deg, rgba(28, 28, 30, 0) 11.65%, #1C1C1E 68.12%), url('../images/Kako-marketer-moze-da-vam-pomogne-drustvene-mreze.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left;
  min-height: 100vh;
}
.howwhy--right-how--icons-icon {
  flex: 0 50%;
}
.howwhy-g {
  background-image: linear-gradient(-267.16deg, rgba(28, 28, 30, 0) 11.65%, #1C1C1E 80.12%), url('../images/Kako-marketer-moze-da-pomogne.jpg');
}
.icon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1440px) {
  .social--mid {
    min-height: 48.5625rem;
  }
  .social--bottom {
    margin-top: -9rem;
  }
  .whatdoit--right-images-image {
    height: 100%;
  }
  .whatdoit--left-nalog-block {
    width: 76%;
  }
  .whatdoit--left-nalog-benefits {
    width: 76%;
  }
  .howwhy {
    background-image: linear-gradient(-267.16deg, rgba(28, 28, 30, 0) 11.65%, #1C1C1E 96.12%), url('../images/Kako-marketer-moze-da-vam-pomogne-drustvene-mreze.jpg');
  }
}
@media only screen and (max-width: 1440px) {
  .whatdoit--right {
    order: 1;
    overflow: hidden;
  }
  .whatdoit--right-images-image picture img {
    width: 130%;
    margin-left: 11.25rem;
  }
}
@media only screen and (max-width: 1024px) {
  .social {
    height: auto;
  }
  .social--top-right p:nth-child(2) {
    width: 79%;
  }
  .social--mid {
    min-height: 45vh;
  }
  .social--mid-cont {
    margin-top: 0px;
    width: 80%;
  }
  .social--bottom {
    margin-top: 0px;
  }
  .whatdoit--right {
    height: 40.5625rem;
    order: 1;
  }
  .whatdoit--right-images-image {
    height: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .whatdoit--right-images-image picture {
    width: 60%;
  }
  .whatdoit--right-images-image picture img {
    width: auto;
    margin-left: 0rem;
  }
  .whatdoit--left {
    order: 2;
  }
  .whatdoit--left-nalog-block {
    width: 100%;
  }
  .whatdoit--left-nalog-benefits {
    width: 100%;
  }
  .howwhy {
    height: auto;
    background-image: url('../images/social3_1024.png');
    background-size: contain;
    background-position: top;
    background-color: #1C1C1E;
  }
  .howwhy--right {
    margin-top: 28.75rem;
  }
  .howwhy--right-how--icons-icon {
    flex: 0 33.33%;
  }
  .howwhy-g {
    background-image: url('../images/howwhy_g_1024.png');
  }
}
@media only screen and (max-width: 960px) {
  .howwhy--right {
    margin-top: 25.75rem;
  }
}
@media only screen and (max-width: 600px) {
  .social--mid {
    min-height: 40vh;
  }
  .social--mid-cont {
    margin-top: 0rem;
    width: 75%;
  }
  .howwhy--right {
    margin-top: 15.75rem;
  }
  .whatdoit--right {
    height: 25.5625rem;
  }
}
