// margins
.margin {
  &--top {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--bottom {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--left {
    &-big {
      margin-left: 11.25rem;
    }
    &-medium {
      margin-left: 5rem;
    }
    &-small {
      margin-left: 1.5rem;
    }
  }
  &--right {
    &-big {
      margin-left: 11.25rem;
    }
    &-medium {
      margin-left: 5rem;
    }
    &-small {
      margin-left: 1.5rem;
    }
  }
}
// padding
.padding {
  &--top {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--bottom {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--left {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--right {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
}
