// margins
.margin {
  &--top {
    &-100 {
      margin-top: 6.25rem;
    }
    &-48 {
      margin-top: 3rem;
    }
    &-24 {
      margin-top: 1.5rem;
    }
  }
  &--bottom {
    &-100 {
    margin-bottom: 6.25rem;
    }
    &-48 {
      margin-bottom: 3rem;
    }
    &-24 {
      margin-bottom: 1.5rem;
    }
    &-10 {
      margin-bottom: 0.625rem;
    }
    &-8 {
      margin-bottom: 0.5rem;
    }
  }
  &--left {
    &-180 {
      // margin-left: 11.25rem;
      margin-left: 9.375%;

    }
    &-100 {
      // margin-left: 6.25rem;
      margin-left: 5%;

    }
    &-90 {
      // margin-left: 5.625rem;
      margin-left: 4.687%;

    }
    &-60 {
      // margin-left: 3.75rem;
      margin-left: 3.125%;

    }
    &-24 {
      // margin-left: 1.5rem;
      margin-left: 1.25%;

    }
    &-10 {
      margin-left: 0.625rem;
      // margin-left: 0.5208%;

    }
  }
  &--right {
    &-180 {
      // margin-right: 11.25rem;
      margin-right: 9.375%;

    }
    &-100 {
      // margin-right: 6.25rem;
      margin-right: 5%;

    }
    &-90 {
      // margin-right: 5.625rem;
      margin-right: 4.687%;

    }
    &-60 {
      // margin-right: 3.75rem;
      margin-right: 3.125%;

    }
    &-24 {
      // margin-right: 1.5rem;
      margin-right: 1.25%;
    }
    &-10 {
      margin-right: 0.625rem;
      // margin-right: 0.5208%;

    }
  }
}
// padding
.padding {
  &--top {
    &-100 {
      padding-top: 6.25rem;
    }
    &-48 {
      padding-top: 3rem;
    }
    &-24 {
      padding-top: 1.5rem;
    }
  }
  &--bottom {
    &-100 {
      padding-bottom: 6.25rem;
    }
    &-48 {
      padding-bottom: 3rem;
    }
    &-24 {
      padding-bottom: 1.5rem;
    }
  }
  &--left {
    &-180 {
      padding-left: 11.25rem;
    }
    &-90 {
      padding-left: 5.625rem;
    }
    &-60 {
      padding-left: 3.75rem;
    }
    &-24 {
      padding-left: 1.5rem;
    }
    &-10 {
      padding-left: 0.625rem;
    }
  }
  &--right {
    &-180 {
      padding-right: 11.25rem;
    }
    &-90 {
      padding-right: 5.625rem;
    }
    &-60 {
      padding-right: 3.75rem;
    }
    &-24 {
      padding-right: 1.5rem;
    }
    &-10 {
      padding-right: 0.625rem;
    }
  }
}
