.margin-xxl--top-100 {
  margin-top: 9.46vh;
}
.margin-xxl--top-100-per {
  margin-top: 15%;
}
.margin-xxl--top-48 {
  margin-top: 4.54vh;
}
.margin-xxl--top-48-per {
  margin-top: 6.51%;
}
.margin-xxl--top-24 {
  margin-top: 2.269vh;
}
.margin-xxl--top-2_5-per {
  margin-top: 2.5%;
}
.margin-xxl--bottom-100 {
  margin-bottom: 9.46vh;
}
.margin-xxl--bottom-100-per {
  margin-bottom: 15%;
}
.margin-xxl--bottom-100-60 {
  margin-bottom: 3.75rem;
}
.margin-xxl--bottom-48 {
  margin-bottom: 4.45vh;
}
.margin-xxl--bottom-48-per {
  margin-bottom: 6.51%;
}
.margin-xxl--bottom-24 {
  margin-bottom: 2.269vh;
}
.margin-xxl--bottom-10 {
  margin-bottom: 0.625rem;
}
.margin-xxl--bottom-8 {
  margin-bottom: 0.5rem;
}
.margin-xxl--bottom-10-per {
  margin-bottom: 10%;
}
.margin-xxl--bottom-6-per {
  margin-bottom: 6%;
}
.margin-xxl--bottom-4-per {
  margin-bottom: 4%;
}
.margin-xxl--bottom-3-per {
  margin-bottom: 3%;
}
.margin-xxl--bottom-2_5-per {
  margin-bottom: 2.5%;
}
.margin--left-180 {
  margin-left: 11.25rem;
}
.margin--left-180-per {
  margin-left: 9.375%;
}
.margin--left-100 {
  margin-left: 6.25rem;
}
.margin--left-100-per {
  margin-left: 5%;
}
.margin--left-90 {
  margin-left: 5.625rem;
}
.margin--left-90-per {
  margin-left: 4.687%;
}
.margin--left-60 {
  margin-left: 3.75rem;
}
.margin--left-60-per {
  margin-left: 3.125%;
}
.margin--left-24 {
  margin-left: 1.5rem;
}
.margin--left-24-per {
  margin-left: 1.25%;
}
.margin--left-10 {
  margin-left: 0.625rem;
}
.margin--left-10-per {
  margin-left: 0.5208%;
}
.margin--right-180 {
  margin-right: 11.25rem;
}
.margin--right-180-per {
  margin-right: 9.375%;
}
.margin--right-100 {
  margin-right: 6.25rem;
}
.margin--right-100-per {
  margin-right: 5%;
}
.margin--right-90 {
  margin-right: 5.625rem;
}
.margin--right-90-per {
  margin-right: 4.687%;
}
.margin--right-60 {
  margin-right: 3.75rem;
}
.margin--right-60-per {
  margin-right: 3.125%;
}
.margin--right-24 {
  margin-right: 1.5rem;
}
.margin--right-24-per {
  margin-right: 1.25%;
}
.margin--right-10 {
  margin-right: 0.625rem;
}
.margin--right-10-per {
  margin-right: 0.5208%;
}
.padding-xxl--top-100 {
  padding-top: 9.46vh;
}
.padding-xxl--top-48 {
  padding-top: 4.54vh;
}
.padding-xxl--top-24 {
  padding-top: 2.269vh;
}
.padding-xxl--top-2_5-per {
  padding-top: 2.5%;
}
.padding-xxl--bottom-100 {
  padding-bottom: 9.46vh;
}
.padding-xxl--bottom-48 {
  padding-bottom: 4.45vh;
}
.padding-xxl--bottom-24 {
  padding-bottom: 2.269vh;
}
.padding-xxl--bottom-10 {
  padding-bottom: 0.625rem;
}
.padding-xxl--bottom-8 {
  padding-bottom: 0.5rem;
}
.padding--left-180 {
  padding-left: 11.25rem;
}
.padding--left-90 {
  padding-left: 5.625rem;
}
.padding--left-60 {
  padding-left: 3.75rem;
}
.padding--left-24 {
  padding-left: 1.5rem;
}
.padding--left-10 {
  padding-left: 0.625rem;
}
.padding--right-180 {
  padding-right: 11.25rem;
}
.padding--right-90 {
  padding-right: 5.625rem;
}
.padding--right-60 {
  padding-right: 3.75rem;
}
.padding--right-24 {
  padding-right: 1.5rem;
}
.padding--right-10 {
  padding-right: 0.625rem;
}
.width-100-per {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .margin-l--top-100 {
    margin-top: 13.021vh;
  }
  .margin-l--top-70 {
    margin-top: 9.115vh;
  }
  .margin-l--top-50 {
    margin-top: 6.6vh;
  }
  .margin-l--top-24 {
    margin-top: 3.125vh;
  }
  .margin-l--top-2_5-per {
    margin-top: 2.5%;
  }
  .margin-l--bottom-70 {
    margin-bottom: 9.115vh;
  }
  .margin-l--bottom-50 {
    margin-bottom: 6.6vh;
  }
  .margin-l--bottom-24 {
    margin-bottom: 3.125vh;
  }
  .margin-l--bottom-2_5-per {
    margin-bottom: 2.5%;
  }
  .margin-l--left-180 {
    margin-left: 11.25rem;
  }
  .margin-l--left-180-per {
    margin-left: 9.375%;
  }
  .margin-l--left-100 {
    margin-left: 6.25rem;
  }
  .margin-l--left-100-per {
    margin-left: 5%;
  }
  .margin-l--left-90 {
    margin-left: 5.625rem;
  }
  .margin-l--left-90-per {
    margin-left: 4.687%;
  }
  .margin-l--left-60 {
    margin-left: 3.75rem;
  }
  .margin-l--left-60-per {
    margin-left: 3.125%;
  }
  .margin-l--left-24 {
    margin-left: 1.5rem;
  }
  .margin-l--left-24-per {
    margin-left: 1.25%;
  }
  .margin-l--left-10 {
    margin-left: 0.625rem;
  }
  .margin-l--left-10-per {
    margin-left: 0.5208%;
  }
  .margin-l--right-180 {
    margin-right: 11.25rem;
  }
  .margin-l--right-180-per {
    margin-right: 9.375%;
  }
  .margin-l--right-100 {
    margin-right: 6.25rem;
  }
  .margin-l--right-100-per {
    margin-right: 5%;
  }
  .margin-l--right-90 {
    margin-right: 5.625rem;
  }
  .margin-l--right-90-per {
    margin-right: 4.687%;
  }
  .margin-l--right-60 {
    margin-right: 3.75rem;
  }
  .margin-l--right-60-per {
    margin-right: 3.125%;
  }
  .margin-l--right-24 {
    margin-right: 1.5rem;
  }
  .margin-l--right-24-per {
    margin-right: 1.25%;
  }
  .margin-l--right-10 {
    margin-right: 0.625rem;
  }
  .margin-l--right-10-per {
    margin-right: 0.5208%;
  }
  .padding-l--top-70 {
    padding-top: 9.115vh;
  }
  .padding-l--top-50 {
    padding-top: 6.6vh;
  }
  .padding-l--top-24 {
    padding-top: 3.125vh;
  }
  .padding-l--top-2_5-per {
    padding-top: 2.5%;
  }
  .padding-l--bottom-70 {
    padding-bottom: 9.115vh;
  }
  .padding-l--bottom-50 {
    padding-bottom: 6.6vh;
  }
  .padding-l--bottom-24 {
    padding-bottom: 3.125vh;
  }
  .padding-l--bottom-2_5-per {
    padding-bottom: 2.5%;
  }
  .padding--left-180 {
    padding-left: 11.25rem;
  }
  .padding--left-90 {
    padding-left: 5.625rem;
  }
  .padding--left-60 {
    padding-left: 3.75rem;
  }
  .padding--left-24 {
    padding-left: 1.5rem;
  }
  .padding--left-10 {
    padding-left: 0.625rem;
  }
  .padding--right-180 {
    padding-right: 11.25rem;
  }
  .padding--right-90 {
    padding-right: 5.625rem;
  }
  .padding--right-60 {
    padding-right: 3.75rem;
  }
  .padding--right-24 {
    padding-right: 1.5rem;
  }
  .padding--right-10 {
    padding-right: 0.625rem;
  }
}
@media screen and (max-width: 960px) {
  .margin-m--top-100 {
    margin-top: 12.578vh;
  }
  .margin-m--top-70 {
    margin-top: 8.81vh;
  }
  .margin-m--top-60 {
    margin-top: 7.55vh;
  }
  .margin-m--top-46 {
    margin-top: 5.786vh;
  }
  .margin-m--top-24 {
    margin-top: 3.019vh;
  }
  .margin-m--bottom-100 {
    margin-bottom: 12.578vh;
  }
  .margin-m--bottom-70 {
    margin-bottom: 8.81vh;
  }
  .margin-m--bottom-60 {
    margin-bottom: 7.55h;
  }
  .margin-m--bottom-46 {
    margin-bottom: 5.786vh;
  }
  .margin-m--bottom-24 {
    margin-bottom: 3.019vh;
  }
  .padding-m--top-100 {
    padding-top: 12.578vh;
  }
  .padding-m--top-70 {
    padding-top: 8.81vh;
  }
  .padding-m--top-60 {
    padding-top: 7.55vh;
  }
  .padding-m--top-46 {
    padding-top: 5.786vh;
  }
  .padding-m--top-24 {
    padding-top: 3.019vh;
  }
  .padding-m--bottom-100 {
    padding-bottom: 12.578vh;
  }
  .padding-m--bottom-70 {
    padding-bottom: 8.81vh;
  }
  .padding-m--bottom-60 {
    padding-bottom: 7.55h;
  }
  .padding-m--bottom-46 {
    padding-bottom: 5.786vh;
  }
  .padding-m--bottom-24 {
    padding-bottom: 3.019vh;
  }
  .padding--left-180 {
    padding-left: 11.25rem;
  }
  .padding--left-90 {
    padding-left: 5.625rem;
  }
  .padding--left-60 {
    padding-left: 3.75rem;
  }
  .padding--left-24 {
    padding-left: 1.5rem;
  }
  .padding--left-10 {
    padding-left: 0.625rem;
  }
  .padding--right-180 {
    padding-right: 11.25rem;
  }
  .padding--right-90 {
    padding-right: 5.625rem;
  }
  .padding--right-60 {
    padding-right: 3.75rem;
  }
  .padding--right-24 {
    padding-right: 1.5rem;
  }
  .padding--right-10 {
    padding-right: 0.625rem;
  }
}
@media screen and (max-width: 600px) {
  .margin-s--top-100 {
    margin-top: 11.429vh;
  }
  .margin-s--top-80 {
    margin-top: 9.142vh;
  }
  .margin-s--top-60 {
    margin-top: 6.857vh;
  }
  .margin-s--top-46 {
    margin-top: 6.6vh;
  }
  .margin-s--top-24 {
    margin-top: 3.125vh;
  }
  .margin-s--top-22 {
    margin-top: 3.125vh;
  }
  .margin-s--bottom-100 {
    margin-bottom: 11.429vh;
  }
  .margin-s--bottom-80 {
    margin-bottom: 9.142vh;
  }
  .margin-s--bottom-60 {
    margin-bottom: 6.857vh;
  }
  .margin-s--bottom-46 {
    margin-bottom: 6.6vh;
  }
  .margin-s--bottom-24 {
    margin-bottom: 3.125vh;
  }
  .margin-s--bottom-22 {
    margin-bottom: 3.125vh;
  }
  .padding-s--top-100 {
    margin-top: 11.429vh;
  }
  .padding-s--top-80 {
    margin-top: 9.142vh;
  }
  .padding-s--top-60 {
    margin-top: 6.857vh;
  }
  .padding-s--top-46 {
    margin-top: 6.6vh;
  }
  .padding-s--top-24 {
    margin-top: 3.125vh;
  }
  .padding-s--top-22 {
    margin-top: 3.125vh;
  }
  .padding-s--bottom-100 {
    margin-bottom: 11.429vh;
  }
  .padding-s--bottom-80 {
    margin-bottom: 9.142vh;
  }
  .padding-s--bottom-60 {
    margin-bottom: 6.857vh;
  }
  .padding-s--bottom-46 {
    margin-bottom: 6.6vh;
  }
  .padding-s--bottom-24 {
    margin-bottom: 3.125vh;
  }
  .padding-s--bottom-22 {
    margin-bottom: 3.125vh;
  }
  .padding--left-180 {
    padding-left: 11.25rem;
  }
  .padding--left-90 {
    padding-left: 5.625rem;
  }
  .padding--left-60 {
    padding-left: 3.75rem;
  }
  .padding--left-24 {
    padding-left: 1.5rem;
  }
  .padding--left-10 {
    padding-left: 0.625rem;
  }
  .padding--right-180 {
    padding-right: 11.25rem;
  }
  .padding--right-90 {
    padding-right: 5.625rem;
  }
  .padding--right-60 {
    padding-right: 3.75rem;
  }
  .padding--right-24 {
    padding-right: 1.5rem;
  }
  .padding--right-10 {
    padding-right: 0.625rem;
  }
}
