.margin--left-big {
  margin-left: 11.25rem;
}
.margin--left-medium {
  margin-left: 5rem;
}
.margin--left-small {
  margin-left: 1.5rem;
}
.margin--right-big {
  margin-left: 11.25rem;
}
.margin--right-medium {
  margin-left: 5rem;
}
.margin--right-small {
  margin-left: 1.5rem;
}
