// margins
.margin {
  &--top {
    &-100 {
      margin-top: 6.25rem;
    }
    &-48 {
      margin-top: 3rem;
    }
    &-24 {
      margin-top: 1.5rem;
    }
  }
  &--bottom {
    &-100 {
    margin-bottom: 6.25rem;
    }
    &-48 {
      margin-bottom: 3rem;
    }
    &-24 {
      margin-bottom: 1.5rem;
    }
  }
  &--left {
    &-180 {
      margin-left: 11.25rem;
    }
    &-90 {
      margin-left: 5.625rem;
    }
    &-60 {
      margin-left: 3.75rem;
    }
    &-24 {
      margin-left: 1.5rem;
    }
    &-10 {
      margin-left: 0.625rem;
    }
  }
  &--right {
    &-180 {
      margin-right: 11.25rem;
    }
    &-90 {
      margin-right: 5.625rem;
    }
    &-60 {
      margin-right: 3.75rem;
    }
    &-24 {
      margin-right: 1.5rem;
    }
    &-10 {
      margin-right: 0.625rem;
    }
  }
}
// padding
.padding {
  &--top {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--bottom {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--left {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
  &--right {
    &-title {
    }
    &--subtitle {
    }
    &--text {
    }
    &--p {
    }
  }
}
