@import 'variables';
// @font-face {
//   font-family: 'Helvetica Neue', sans-serif;
//   font-weight: 300;
//   src: url('./fonts/Helvetica-Neue/HelveticaNeueMedium.ttf');
// }
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0px;
    padding: 0px;
    button:focus{
      outline: 0;
    }
}
// HTML {
//     line-height: 1.2;
// }
body {
    width: 100%;
    min-height: 100vh;
    border: 0px;
}
hr {
    -webkit-box-sizing: content-box;
            box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}
b,
strong {
    font-weight: 500;
}
img {
    border-style: none;
}
button {
    border: none;
    cursor: pointer;
    background-color: @white;
}
button:active,
button:focus,
a:active,
a:focus,
input:active,
input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px @white inset;
    box-shadow: 0 0 0px 1000px @white inset;
    -webkit-text-fill-color: @grey-dark !important;
}
// button:hover {
//     opacity: 0.5;
// }
p {
    -webkit-margin-before: 0px;
            margin-block-start: 0px;
    -webkit-margin-after: 0px;
            margin-block-end: 0px;
    -webkit-margin-start: 0px;
       -moz-margin-start: 0px;
            margin-inline-start: 0px;
    -webkit-margin-end: 0px;
       -moz-margin-end: 0px;
            margin-inline-end: 0px;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
a:hover {
    text-decoration: none;
    // opacity: 0.5;
    color: @blue;
}
a:focus, a:active{
    background-color: transparent;
}
@import 'fonts';
@import 'flex_classes';
@import 'buttons';
@import 'background_colors';
@import 'spacing';
@import 'input_fields';
@import 'size';
@import 'borders';
@import 'header';
@import 'footer';
@import 'projekti';
@import 'contact';
@import 'testimonials';
@import 'home';
@import 'blog-gallery';
@import 'klijenti';
@import 'portfolio';
@import 'project';
@import 'social';
@import 'usluge';
@import 'o_nama';
@import 'blog';
@import 'digitalni_recnik';
@import 'post';
@import 'tv';
@import 'anim';

// ovo prebaciti posle u neki drugi fajl

.hover {
    &-tab {
        &:hover {
            cursor: pointer;
            color: #00AEEF;
        }
    }
}

.display {
    &--xxl {
        &-none {
            display: none;
        }
    }
}
.callme {
    height: 3.666rem;
    width: 3.666rem;
    position: fixed;
    bottom: 2.375rem;
    right: 0.625rem;
    border: 1px solid @white;
    border-radius: 50%;
    z-index: 99999999;
}
@media only screen and (max-width: 1024px) {
    .display {
        &--l {
            &-none {
            display: none;
            }
            &-flex {
                display: flex;
            }
        }
    }
}
@media only screen and (max-width: 960px) {
    .display {
        &--m {
            &-none {
            display: none;
            }
            &-flex {
                display: flex;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    * {
        font-size: 14px;
        line-height: 14px;
    }
    .display {
        &--s {
            &-none {
            display: none;
            }
            &-flex {
                display: flex;
            }
        }
    }
}
@media only screen and (max-width: 380px) {
    .display {
        &--xxs {
            &-none {
            display: none;
            }
            &-flex {
                display: flex;
            }
        }
    }
}
