@import 'variables';

.testimonials {
  &--inner {
    &-left {
      &--arrow {

      }
    }
    &-mid {
      &--single {
        position: relative;
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
      }
    }
    &-right {
      &--arrow {

      }
    }
  }
  &--markers {

  }
}
.arrow {
  &:hover {
    cursor: pointer;
  }
}
