.testimonials {
  top: 4.6875rem;
  position: relative;
  min-height: calc(100vh - 4.6875rem);
}
.testimonials--inner-mid--single {
  position: relative;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.testimonials--inner-mid--single-logo {
  width: 15.625rem;
  height: 6.875rem;
}
.testimonials--inner-mid--single-logo img {
  max-width: 100%;
  max-height: 100%;
}
.arrow:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1440px) {
  .testimonials--inner-mid--single-logo {
    height: 3.875rem;
  }
}
