.tv--blok1 {
  height: 39.3vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.tv--blok1 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.tv--blok1 img:hover {
  opacity: 0.5;
}
.tv--blok2 {
  width: 100%;
}
.tv--blok2-video {
  width: 50%;
}
.tv--blok2-video:nth-of-type(even) {
  margin-top: -11vw;
}
.tv--blok2-video:last-of-type:nth-of-type(odd) {
  position: relative;
  left: 50%;
  margin-top: -11vw;
}
.tv--blok2-video-part {
  position: relative;
  height: 33vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tv--blok2-video-part img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.tv--blok2-video-part img:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .tv--blok2-video:nth-of-type(even) {
    margin-top: 0vw;
  }
  .tv--blok2-video:last-of-type:nth-of-type(odd) {
    position: relative;
    left: 0%;
    margin-top: 0vw;
  }
}
@media screen and (max-width: 680px) {
  .tv--blok2-video {
    width: 100%;
  }
  .tv--blok2-video-part {
    height: 66vw;
  }
}
