.usluge {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.usluge--wrap {
  height: 100%;
  width: 100%;
  background: linear-gradient(62.51deg, #1C1C1E 17.28%, rgba(28, 28, 30, 0) 36.51%);
}
.usluge--wrap-right img {
  height: 60%;
  width: 60%;
}
.google {
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.google-wrap {
  width: 100%;
  height: 100%;
  background-position: 80%;
  background-size: contain;
  background-repeat: no-repeat;
}
.google-wrap--left {
  width: 45%;
  height: 100%;
}
.google-wrap--right {
  width: 55%;
  height: 100%;
}
.google-wrap--right img {
  width: 90%;
}
.drustvene {
  height: 100vh;
  background: linear-gradient(264deg, #020024 0%, #2c2c7d 47%, #135f6f 100%);
}
.drustvene-wrap {
  height: 100%;
  width: 100%;
  background-position: -100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.drustvene-wrap--left {
  width: 55%;
  height: 100%;
}
.drustvene-wrap--left-cont {
  width: 90%;
}
.drustvene-wrap--right {
  width: 45%;
  height: 100%;
}
.vebresejna {
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.vebresejna-wrap {
  width: 100%;
  height: 100%;
  background: linear-gradient(299.71deg, rgba(47, 50, 129, 0) 44.35%, rgba(47, 95, 129, 0.8) 75.58%), linear-gradient(242.93deg, rgba(28, 28, 30, 0) 42.09%, rgba(28, 28, 30, 0.60774) 64.65%, #1C1C1E 100.58%);
}
.vebresejna-wrap--gradient {
  height: 100%;
}
