{% extends 'base.twig' %}
{% block title %}Digitalni rečnik{% endblock %}
{% block description %}Ako želiš dobro da sviraš moraš znati note{% endblock %}
{% block content %}

<div class="position recnik--blok1 flex align-items-center align-items--l-end justify-content--l-center">
    <div class="padding-xxl--left-90 padding-l--right-90 padding-m--left-24 padding-m--right-24 flex flex-column align-items--l-center">
        <div class="naslov font-46 font-white margin-xxl--bottom-48 margin-m--bottom-24 text--l-center">Digitalni rečnik</div>
        <div class="text recnik--blok1-text font-16 font-grey--mid margin-xxl--bottom-24 text--l-center">Ako želiš dobro da sviraš moraš znati note</div>
        <div class="line-big background-blue margin-l--bottom-24"></div>
    </div>
</div>

<div class="position recnik--blok2 background-black-lighter flex padding-xxl--top-100 flex--l-column padding-l--top-70">
    <div class="recnik--blok2-left margin-xxl--top-100 flex flex-column margin-l--top-none">
        <div class="flex justify-content-end text-right margin-xxl--top-200 margin-l--top-none flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/relevance-score.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Relevance Score</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Relevance Score je Facebook metrika koja nam pokazuje koliko je naša kampanja relevanta za publiku kojoj se obraćamo. Sa boljom reakcijom na kampanju Relevance score će biti viši, i obrnuto. Izražava se u brojevima od 1 do 10.</div>
                <div class="font-16 font-white">Savet: Iako na neki način pokazuje odziv ljudi na određenu kampanju, nije neophodno fokusirati se na postizanje što većeg Relevance score-a sve dok kampanje postižu zadovoljavajući rezultat.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
        <div class="flex justify-content-end text-right flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/PPC.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">PPC - Pay Per Click</div>
                <div class="font-16 font-white">Pay Per Click ili plaćanje po kliku je model oglašavanja koji se koristi za generisanje većeg broja poseta web sajtu, gde će vam određen iznos biti naplaćen svaki put kada neko klikne na vaš oglas. PPC je često i sinonim za oglašavanje na pretraživačima kao što je Google, ali obuhvata i oglašavanje na drugim web sajtovima, portalima, itd.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
        <div class="flex justify-content-end text-right flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/bid.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Bid</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Bid je jednostavno maksimalan iznos koji smo spremni da platimo Google-u za jedan klik na naš oglas. To ne znači da ćete svaki put platiti maksimalan iznos (npr. 0.5 EUR po kliku), već će cenu po kliku Google određivati svaki put iznova, aukcijom u realnom vremenu. Bid ima direktan uticaj na Quality Score i performanse kampanje.</div>
                <div class="font-16 font-white">Savet: Kada određujete Bid za kampanju, vodite računa da je on dovoljno visok kako bi se vaš oglas prikazivao na prvim pozicijama Google pretrage. Takođe, možete pokušati i sa različitim Bid strategijama, kao što su: maksimiziranje klikova, maksimiziranje konverzija, prva pozicija...</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
    </div>
    <div class="recnik--blok2-line-big background-blue margin-xxl--top-100 display--l-none"></div>
    <div class="recnik--blok2-right margin-xxl--top-100 flex flex-column margin-l--top-none">
        <div class="flex justify-content--l-center">
            <div class="recnik--blok2-line background-blue display--l-none"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/frequency.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Frequency</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Frekvencija, po definiciji Facebook-a, je broj koji pokazuje koliko je prosečno puta svaka osoba videla vaš oglas. Kako vaša kompanja troši više novca i generiše više impresija, vaša frekvencija će takođe rasti, to je prosta matematika.</div>
                <div class="font-16 font-white">Savet: Važno je da pratite ovu metriku jer sa rastom frekvencije raste i cena po kliku (CPC), dok CTR opada. Pokušajte da vam Frequency ne prelazi 5 prikaza u proseku.</div>
            </div>
        </div>
        <div class="flex flex--l-column align-items--l-center">
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/remarketing.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Remarketing</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Remarketing je zapravo način da se ponovo povežete sa korisnicima koji su već bili u interakciji sa vašim biznisom. Svakako je jedan od najvažnijih elemenata uspešne online marketing strategije.</div>
                <div class="font-16 font-white">Savet: Koristite Google Analytics i Facebook Custom Audience kako biste kreirali grupu ljudi koju želite da zadržite i pridobijete kao kupce vaših proizvoda ili usluga.</div>
            </div>
        </div>
        <div class="flex flex--l-column align-items--l-center margin-l--bottom-70">
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/quality-score.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Quality Score</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Quality Score je veoma važna Google metrika koja nam pokazuje kvalitet našeg oglasa na pretraživačkoj mreži. Quality Score obuhvata više faktora koji zbirno utiču na njegovo formiranje, od načina na koji je oglas napisan, ključnih reči koje se koriste u kampanji, cene koju ste spremni da platite za svaki klik (Bid) i kvaliteta web stranice koju oglašavate (Landing page).</div>
                <div class="font-16 font-white">Savet: Kako biste povećali Quality Score vodite računa da sadržaj Landing page-a, odnosno stranice na koju će korisnik doći nakon što klikne na vaš oglas, bude relevantan u odnosu na oglas i ključne reči koje koristite.</div>
            </div>
        </div>
    </div>
</div>

<div class="position background-blue flex padding-xxl--top-48 padding-xxl--bottom-48 justify-content--s-center">
    <div class="recnik--blok3-left flex justify-content-end display--s-none">
        <div class="flex flex-column align-items-center justify-content-center">
            <div class="recnik--blok3-left-line background-white "></div>
            <div class="recnik--blok3-left-apostrofi margin-xxl--top-48 margin-xxl--bottom-48"><img src="./images/icons/apostrofi.svg"></div>
            <div class="recnik--blok3-left-line background-white"></div>
        </div>
    </div>
    <div class="recnik--blok3-right flex flex-column justify-content-center padding-xxl--left-180 padding-l--left-90 padding-s--left-none align-items--s-center text--s-center">
            <div class="recnik--blok3-right-text font-24 font-white margin-xxl--bottom-24">“Great things in business are never done by one person, they’re done by a team of people.”</div>
            <div class="font-32 font-white">Steve Jobs, co-founder of Apple Inc.</div>
    </div>
</div>

<div class="position recnik--blok2 background-black-lighter flex padding-xxl--top-100 flex--l-column padding-l--top-70">
    <div class="recnik--blok2-left margin-xxl--top-100 flex flex-column margin-l--top-none">
        <div class="flex justify-content-end text-right margin-xxl--top-200 margin-l--top-none flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/reach.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Reach</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Reach je metrika koja nam pokazuje koliko ljudi je videlo naš oglas. Reach je u direktnoj vezi sa budžetom - što je veći budžet za kampanju, više će ljudi videti naše oglase.</div>
                <div class="font-16 font-white">Savet: Reach je dobar pokazatelj obima online kampanje. Ako znamo veličinu naše ciljne grupe, Reach će nam pokazati da li kampanja u dovoljnoj meri obuhvata ciljnu grupu ili je potrebno povećati budžet kako bi se ostvario željeni efekat oglašavanja.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
        <div class="flex justify-content-end text-right flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/impression.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Impression</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Imresije predstavljaju broj prikaza oglasa određenoj ciljnoj grupi. Impresije nisu isto što i Reach i po pravilu ga prevazilaze jer računaju ukupan broj prikaza oglasa bez obzira da li je neka osoba videla oglas više puta.</div>
                <div class="font-16 font-white">Savet: Ako želite da pokrenete brand awareness kampanju Impression je svakako metrika na koju se treba fokusirati, s tim što bi trebalo ograničiti broj prikaza oglasa po osobi.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
        <div class="flex justify-content-end text-right flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/leads.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Leads</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Neko je pokazao interesovanje za vaš biznis, proizvod ili uslugu time što se prijavio na newslatter, preuzeo brošuru, ostavio svoje podatke, itd. Lead je zapravo uvođenje zainteresovanih korisnika u prodajni levak i proces pridobijanja novih kupaca.</div>
                <div class="font-16 font-white">Savet: Kreirajte aktraktivan oglas sa jasnom porukom o potenicijalnim benefitima proizvoda ili usluga koje nudite. Možete ponuditi i besplatan uzorak ili trial period. Facebook Leads kampanja može biti odlično rešenje za generisanje novih Leads-ova za vaš biznis.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
    </div>
    <div class="recnik--blok2-line-big background-blue margin-xxl--top-100 display--l-none"></div>
    <div class="recnik--blok2-right margin-xxl--top-100 flex flex-column margin-l--top-none">
        <div class="flex justify-content--l-center">
            <div class="recnik--blok2-line background-blue display--l-none"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/CPC.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">CPC</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Cost per Click ili cena koju plaćamo za svaki klik na oglas. CPC se razlikuje od kampanje do kampanje i u velikoj meri zavisi od drugih faktora koji utiču na performanse kampanje.</div>
                <div class="font-16 font-white">Savet: CPC je zapravo posledica kvaliteta i relevantnosti nekog oglasa, kao i konkurencije (više oglašavača veća cena po kliku). Da biste imali niži CPC važno je da izaberete pravu ciljnu grupu ili ključne reči, kreirate atraktivno oglasno rešenje i obezbedite dobro korisničko iskustvo Landing page-a.</div>
            </div>
        </div>
        <div class="flex flex--l-column align-items--l-center">
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/conversion-acquisition-action.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Conversion/Acquisition/Action</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Konverzija je jedna od najbitnijih metrika u digitalnom marketingu i krajnji cilj svake kampanje. Konverzija se dešava kada korisnik izvrši željenu aktivnost koja je rezultat online kampanje (poruči proizvod, katalog, prijavi se na mailing listu, pogleda video...)</div>
                <div class="font-16 font-white">Savet: Pre svake kampanje definišite šta želite da korisnici urade i obezbedite način da te aktivnosti i pratite. Koristite Facebook pixel i Google Analytics za merenje aktivnosti koje imaju vrednost za vaš biznis.</div>
            </div>
        </div>
        <div class="flex flex--l-column align-items--l-center margin-l--bottom-70">
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/CPA.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">CPA</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Cost per Acquisition je metrika koja pokazuje koliko nas košta to što je neko izvršio neku radnju na našem sajtu. Kada nam je poznat CPA lako možemo izračunati da li je kampanja profitabilna ili ne.</div>
                <div class="font-16 font-white">Savet: Da biste imali pozitivan ROAS važno je da odredite koji je maksimum koji ste spremni da platite za svaku određenu aktivnost na vašem sajtu.</div>
            </div>
        </div>
    </div>
</div>

<div class="position background-blue flex padding-xxl--top-48 padding-xxl--bottom-48 justify-content--s-center">
    <div class="recnik--blok3-left flex justify-content-end display--s-none">
        <div class="flex flex-column align-items-center justify-content-center">
            <div class="recnik--blok3-left-line background-white"></div>
            <div class="recnik--blok3-left-apostrofi margin-xxl--top-48 margin-xxl--bottom-48"><img src="./images/icons/apostrofi.svg"></div>
            <div class="recnik--blok3-left-line background-white"></div>
        </div>
    </div>
    <div class="recnik--blok3-right flex flex-column justify-content-center padding-xxl--left-180 padding-l--left-90 padding-s--left-none align-items--s-center text--s-center">
            <div class="recnik--blok3-right-text font-24 font-white margin-xxl--bottom-24">„Always deliver more than expected“</div>
            <div class="font-32 font-white">Larry Page, co-founder of Google</div>
    </div>
</div>

<div class="position recnik--blok2 background-black-lighter flex padding-xxl--top-100 flex--l-column padding-l--top-70">
    <div class="recnik--blok2-left margin-xxl--top-100 flex flex-column margin-l--top-none">
        <div class="flex justify-content-end text-right margin-xxl--top-200 margin-l--top-none flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/custom-audience.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Custom Audience</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Custum Audience predstavlja grupu korisnika koji su već pokazali interesovanje prema vašem biznisu, a koju Facebook kreira prema zadatim kriterijumima. Možemo kreirati Custom Audience za grupu ljudi koji su posetili određenu stranicu na web sajtu ili recimo grupu postojećih korisnika sa mailing liste...</div>
                <div class="font-16 font-white">Savet: Custom Audience je neizbežan deo Facebook oglašavanja i po poravilu, kampanje koje koriste ovu vrstu targetiranja imaju bolji Relevance score i CTR i niži CPC i CTA.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
        <div class="flex justify-content-end text-right flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/ROAS.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">ROAS - Return on Ad Spend</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Return On Ad Spend (ROAS) je metrika digitalnog marketinga koja meri efikasnost online kampanje. Predstavlja odnos između ostvarene dobiti i uloženih sredstava u online oglašavanje. ROAS pomaže marketarima da procene koje metode donose najviše novca i kako dalje mogu poboljšati oglašavanje.</div>
                <div class="font-16 font-white">Savet: Kako biste bili u mogućnosti da precizno pratite efekte online kampanja i ROAS, neophodno je da na vaš web sajt instalirate Facebook i Google skripte pomoću kojih ćete pratiti aktivnosti vaših korisnika.</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
        <div class="flex justify-content-end text-right flex--l-column align-items--l-center">
            <div data-aos="zoom-in" class="recnik--blok2-left-part margin-xxl--right-48 flex flex-column align-items-end align-items--l-center text--l-center margin-l--left-24 margin-l--right-24">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/CTR.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">CTR</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Click Through Rate je važna metrika koja nam pokazuje koliko je naš oglas relevantan našoj ciljnoj grupi. Izražava se u procentima, i predstavlja odnos broja klikova i broja prikaza oglasa. Veći CTR pozitivno utiče na performanse kampanje i smanjuje cenu po kliku (CPC).</div>
                <div class="font-16 font-white">Savet: CTR kod Google search kampanje je od najvećeg značaja. Najvažnije je da vaš oglas i Landing page budu što relevantniji u odnosu na upit korisnika (ako neko preko Google-a traži muške Nike patike očekuje da vidi oglas za muške Nike patike koji će voditi na web stranicu sa Nike patikama za muškarce).</div>
            </div>
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
        </div>
    </div>
    <div class="recnik--blok2-line-big background-blue margin-xxl--top-100 display--l-none"></div>
    <div class="recnik--blok2-right margin-xxl--top-100 flex flex-column margin-l--top-none">
        <div class="flex justify-content--l-center">
            <div class="recnik--blok2-line background-blue display--l-none"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/CPM.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">CPM</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Cost Per Million je metrika koja nam pokazuje cenu koju plaćamo za određen broj impresija (najčešće 1000). Ova metrika je važna ukoliko imamo brend awareness kampanju, gde je potrebno da znamo koliko plaćamo za svaku impresiju.</div>
                <div class="font-16 font-white">Savet: CPM kao model oglašavanja se može koristiti kod brand awareness kampanja. U svakom drugom slučaju, CPM je jedna od metrika koju treba pratiti, ali koja nije od suštinskog značaja za kampanju.</div>
            </div>
        </div>
        <div class="flex flex--l-column align-items--l-center">
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/bid-strategy.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Bid Strategy</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Bid strategy predstavlja način na koji kontrolišemo troškove online kampanje. Bid Strategy se određuje u zavisnosti od cilja kampanje, bilo da je to veći broj klikova, konverzija, određeni CPA ili brend awareness.</div>
                <div class="font-16 font-white">Savet: Google i Facebook imaju različite opcije za Bid Strategy. Važno je napraviti pravi balans između punog potencijala kampanje i cene koju smo spremni da platimo za određenu akciju.</div>
            </div>
        </div>
        <div class="flex flex--l-column align-items--l-center margin-l--bottom-70">
            <div class="recnik--blok2-line background-blue margin-l--bottom-50 margin-l--top-50"></div>
            <div data-aos="zoom-in" class="recnik--blok2-right-part margin-xxl--left-48 flex flex-column margin-l--left-24 margin-l--right-24 align-items--l-center text--l-center">
                <div class="recnik--blok2-left-part-icon"><img src="./images/icons/landing-page.svg"></div>
                <div class="font-24 font-blue margin-xxl--top-24 margin-xxl--bottom-24">Landing Page</div>
                <div class="font-16 font-white margin-xxl--bottom-24">Web stranica na koju korisnik dođe nakon što klikne na oglas naziva se Landing page ili odredišna stranica. U zavisnosti od vrste biznisa, kampanje i njenog cilja, Landing page može biti posebno kreiran ili se može koristiti bilo koja od postojećih stranica na web sajtu.</div>
                <div class="font-16 font-white">Savet: Najvažnije je da Landing page bude relevantan oglasu, sa jasnim pozivom na akciju (uglavnom kontakt forma). Poželjno je koristiti A/B testiranje i videti kakav tip Landing stranice donosi bolje rezultate.</div>
            </div>
        </div>
    </div>
</div>

<div class="position background-blue flex padding-xxl--top-48 padding-xxl--bottom-48 justify-content--s-center">
    <div class="recnik--blok3-left flex justify-content-end display--s-none">
        <div class="flex flex-column align-items-center justify-content-center">
            <div class="recnik--blok3-left-line background-white"></div>
            <div class="recnik--blok3-left-apostrofi margin-xxl--top-48 margin-xxl--bottom-48"><img src="./images/icons/apostrofi.svg"></div>
            <div class="recnik--blok3-left-line background-white"></div>
        </div>
    </div>
    <div class="recnik--blok3-right flex flex-column justify-content-center padding-xxl--left-180 padding-l--left-90 padding-s--left-none align-items--s-center text--s-center">
            <div class="recnik--blok3-right-text font-24 font-white margin-xxl--bottom-24">„Your most unhappy customers are your greatest source of learning.“</div>
            <div class="font-32 font-white">Bill Gates, co-founder of Microsoft</div>
    </div>
</div>

{% set Project = fetch ("Projekti") %}
<div class="position flex background-black-lighter flex--s-direction flex-wrap justify-content-center">
    {% for project in Project %}
    {% if project.Podeli == 'true' %}
    <div class="project-prev flex flex-column project-width">
        <a class="project-prev-next" href="project/{{project.Slug}}">
            <div class="project-prev-next" style="background-image: url('img/{{ project.NaslovnaSlika }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
        </a>
        <div class="project-prev-next-child flex flex-column margin-xxl--left-90 margin-xl--left-60 margin-xxl--right-90 margin-xl--right-60 margin-xxl--bottom-60 margin-xxl--top-48">
            <div class="font-32 font-white margin-xxl--bottom-24">{{project.Naziv}}</div>
            <div class="project-prev-next-text font-16 font-white margin-xxl--bottom-24">{{project.Opis}}</div>
            <div class="line-big background-blue"></div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="flex flex-column align-items-center margin-xxl--top-48">
        <button class="button-midd font-14 font-white margin-xxl--bottom-48">
            <a href="usluge">NAŠE USLUGE</a>
        </button>
        {# <div class="flex margin-xxl--bottom-60">
            <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/instagram-small-icon.png">
            <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/facebook-small-icon.png">
            <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/twitter-small-icon.png">
            <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/linkedin-small-icon.png">
        </div> #}
    </div>
</div>

{% include 'contact_shared.twig' %}

{% endblock %}
