{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<div class="social w-100">
  <div class="social--top w-100 flex justify-content-between justify-content--l-center flex--l-column align-items--l-center padding-xxl--top-100 padding-l--top-70 padding-l--top-50 padding-s--top-50 padding-xxl--bottom-100 padding-l--bottom-70 padding-l--bottom-50 padding-s--bottom-50">
    <div class="social--top-left w-50 w--m-75 w--s-100 margin-xxl--left-90  margin-l--left-70 margin-s--left-18 margin-xxl--right-90  margin-l--right-70 margin-s--right-18 text--l-center">
      <div class="font-46 font-white font-bold margin-xxl--bottom-48 margin-l--bottom-24 margin-m--bottom-46 margin-s--bottom-24">Društvene mreže</div>
      <div>
        <div class="margin-xxl--bottom-24 font-grey--mid font-18">Najmoćniji pretrazivač</div>
        <div class="line-big background-blue line--l-center"></div>
      </div>
    </div>
    <div class="social--top-right flex flex-column align-items-start align-items--l-center w-33 w--xl-50 w--m-75 margin-xxl--left-90 margin-xl--left-70 margin-s--left-18 margin-xxl--right-90 margin-xl--right-70 margin-s--right-18 margin-l--top-50 font-16 font-white text--l-center">
      <p class="margin-xxl--bottom-24 margin-m--bottom-18">Povežite se sa ljudima i ispričajte im priču o Vašem biznisu.</p>
      <p>Facebook platforma za oglašavanje vam omogućava da dođete do ljudi koji su zainteresovani za Vaš biznis, dobijete njihovu pažnju i unapredite Vaše poslovne rezultate.</p>
    </div>
  </div>
  <div class="social--mid flex justify-content-center align-items-center">
    {# <div class="social--mid-cont" style="background-image: url('./images/connected.png');">

    </div> #}
    {# <img class="social--mid-cont" src="./images/connected.png"/> #}
    <div class="social--mid-cont">

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1156 732" style="enable-background:new 0 0 1156 732;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:none;stroke:#00AEEF;stroke-opacity:0.5;}
        .st1{fill:none;stroke:#00AEEF;}
        .st2{fill:none;}
        .st3{fill:none;stroke:#00AEEF;stroke-width:2;stroke-opacity:0.2;}
        .st4{fill:none;stroke:#00AEEF;stroke-width:2;stroke-opacity:0.5;}
        .st5{fill:#00AEEF;}
        .st6{fill:none;stroke:#00AEEF;stroke-width:0.75;stroke-linejoin:round;stroke-opacity:0.4;stroke-dasharray:4,4;}
      </style>
      <circle class="st0 op5" style="animation-delay: 1.93s" cx="1123.8" cy="370.1" r="31.6"/>
      <path class="st1 op1" style="animation-delay: 1.93s" d="M1098.9,370.1c0,13.4,11.2,24.3,25,24.3c13.8,0,25-10.9,25-24.3c0-13.4-11.2-24.3-25-24.3
        C1110,345.8,1098.9,356.7,1098.9,370.1z"/>
      <circle class="st1" cx="1123.8" cy="370.1" r="13.1"/>
      <circle class="st2" cx="1123.6" cy="370.3" r="21.1"/>
      <circle class="st0 op5" style="animation-delay: 1.93s" cx="46.2" cy="268.4" r="45.6"/>
      <path class="st1 op1" style="animation-delay: 1.93s" d="M10.1,268.4c0,19.4,16.2,35.2,36.1,35.2c20,0,36.1-15.8,36.1-35.2s-16.2-35.2-36.1-35.2
        C26.2,233.3,10.1,249,10.1,268.4z"/>
      <circle class="st1" cx="46.2" cy="268.4" r="19"/>
      <circle class="st2" cx="45.9" cy="268.8" r="19.9"/>
      <path class="st3 op5" style="animation-delay: 1.33s" d="M151.2,132.8c0,53.1,42.8,96.2,95.6,96.2s95.6-43.1,95.6-96.2c0-53.1-42.8-96.2-95.6-96.2
        S151.2,79.6,151.2,132.8z"/>
      <path class="st4 op1" style="animation-delay: 1.33s" d="M173.5,132.8c0,38.8,32.8,70.3,73.2,70.3s73.2-31.5,73.2-70.3c0-38.8-32.8-70.3-73.2-70.3S173.5,94,173.5,132.8
        z"/>
      <path class="st1" d="M204.9,132.8c0,21.5,18,39,40.2,39c22.2,0,40.2-17.5,40.2-39s-18-39-40.2-39
        C222.8,93.8,204.9,111.3,204.9,132.8z"/>
      <circle class="st2" cx="246.7" cy="134.2" r="56.2"/>
      <path class="st5" d="M38.1,286.7c-3.8,0-6.9,3.1-6.9,6.9c0,5.2,6.9,12.9,6.9,12.9s6.9-7.7,6.9-12.9C45,289.8,41.9,286.7,38.1,286.7z
        M38.1,296.1c-1.4,0-2.5-1.1-2.5-2.5c0-1.4,1.1-2.5,2.5-2.5c1.4,0,2.5,1.1,2.5,2.5C40.6,295,39.5,296.1,38.1,296.1z"/>
      <circle class="st0 op5" style="animation-delay: 1.67s" cx="619" cy="172.3" r="31.3"/>
      <path class="st1 op1" style="animation-delay: 1.67s" d="M594.7,172.4c0,13.3,11,24.1,24.7,24.1c13.6,0,24.7-10.8,24.7-24.1s-11-24.1-24.7-24.1
        C605.8,148.3,594.7,159.1,594.7,172.4z"/>
      <circle class="st1" cx="619.2" cy="172.4" r="12.9"/>
      <circle class="st2" cx="618.9" cy="172.1" r="19.5"/>
      <path class="st5" d="M607.5,184.4c-2.6,0-4.7,2.1-4.7,4.7c0,3.5,4.7,8.7,4.7,8.7s4.7-5.2,4.7-8.7
        C612.2,186.5,610.1,184.4,607.5,184.4z M607.5,190.8c-0.9,0-1.7-0.8-1.7-1.7s0.8-1.7,1.7-1.7s1.7,0.8,1.7,1.7
        S608.4,190.8,607.5,190.8z"/>
      <circle class="st0 op5" style="animation-delay: 1.93s" cx="610.2" cy="29.5" r="29"/>
      <path class="st1 op1" style="animation-delay: 1.93s" d="M587.7,29.6C587.7,42,598,52,610.6,52c12.6,0,22.9-10,22.9-22.3c0-12.3-10.2-22.3-22.9-22.3
        C598,7.3,587.7,17.3,587.7,29.6z"/>
      <circle class="st1" cx="610.4" cy="29.6" r="11.9"/>
      <circle class="st2" cx="610.1" cy="29.3" r="18.1"/>
      <path class="st5" d="M599.5,40.7c-2.4,0-4.4,2-4.4,4.4c0,3.3,4.4,8.1,4.4,8.1s4.4-4.8,4.4-8.1C603.9,42.7,601.9,40.7,599.5,40.7z
        M599.5,46.6c-0.9,0-1.6-0.7-1.6-1.6c0-0.9,0.7-1.6,1.6-1.6c0.9,0,1.6,0.7,1.6,1.6C601.1,45.9,600.4,46.6,599.5,46.6z"/>
      <circle class="st0 op5" style="animation-delay: 0.73s" cx="996.3" cy="222.3" r="113.8"/>
      <path class="st1 op1" style="animation-delay: 0.73s" style="animation-delay: 0.5s;" d="M906.1,222.3c0,49.2,40.4,89.1,90.2,89.1c49.8,0,90.2-39.9,90.2-89.1s-40.4-89.1-90.2-89.1
        C946.5,133.2,906.1,173.1,906.1,222.3z"/>
      {# <circle class="st1" cx="996.3" cy="222.3" r="47.8"/> #}
      <circle class="st2" cx="995.1" cy="222.3" r="68.3"/>
      <path class="st6" d="M955.6,311.9c-114.7-2-291.8,92.3-336.7,376.1"/>
      <path class="st6" d="M901,589.2c-119.9,0-171.9,8.8-285.6,106.6"/>
      <path class="st6" d="M613.2,194.8c-114.7-2-290.6,50.5-401.7,281.4"/>
      <path class="st6" d="M955,311.8c-200.3-94.3-755.6-49.5-781.6,278.1"/>
      <path class="st6" d="M955.6,311.3C745.9,94.4,544.7,59.7,212.4,177.5"/>
      <circle class="st0 op1" style="animation-delay: 1.33s" cx="614.8" cy="666.1" r="65"/>
      <path class="st1 op5" style="animation-delay: 1.33s" d="M562.5,665.7c0,28.2,23.2,51.1,51.9,51.1c28.7,0,51.9-22.9,51.9-51.1c0-28.2-23.2-51.1-51.9-51.1
        C585.7,614.6,562.5,637.5,562.5,665.7z"/>
      <circle class="st1" cx="614.8" cy="666.1" r="27"/>
      <circle class="st2" cx="614.1" cy="666.1" r="40.8"/>
      <circle class="st0 op5" style="animation-delay: 1.23s" cx="205.3" cy="497.4" r="101.4"/>
      <path class="st1 op1" style="animation-delay: 1.23s" d="M123.9,497.4c0,43.6,36.2,79,80.8,79c44.6,0,80.8-35.4,80.8-79s-36.2-79-80.8-79
        C160,418.4,123.9,453.8,123.9,497.4z"/>
      {# <circle class="st1" cx="205.3" cy="497.4" r="42.5"/> #}
      <circle class="st2" cx="206.3" cy="498.6" r="61.9"/>
      <path class="st5" d="M170,553.7c-8.3,0-14.9,6.7-14.9,14.9c0,11.2,14.9,27.7,14.9,27.7s14.9-16.5,14.9-27.7
        C184.9,560.3,178.3,553.7,170,553.7z M170,573.9c-2.9,0-5.3-2.4-5.3-5.3c0-2.9,2.4-5.3,5.3-5.3c2.9,0,5.3,2.4,5.3,5.3
        C175.3,571.5,172.9,573.9,170,573.9z"/>
      <circle class="st0 op5" style="animation-delay: 1.67s" cx="915.9" cy="560.5" r="31.6"/>
      <path class="st1 op1" style="animation-delay: 1.67s" d="M891,560.5c0,13.4,11.2,24.3,25,24.3c13.8,0,25-10.9,25-24.3c0-13.4-11.2-24.3-25-24.3
        C902.1,536.2,891,547.1,891,560.5z"/>
      <circle class="st1" cx="915.9" cy="560.5" r="13.1"/>
      <circle class="st2" cx="915.7" cy="560.7" r="21.1"/>
      <path class="st5" d="M902,575.4c-2.8,0-5.1,2.3-5.1,5.1c0,3.8,5.1,9.5,5.1,9.5s5.1-5.6,5.1-9.5C907.1,577.7,904.8,575.4,902,575.4z
        M902,582.3c-1,0-1.8-0.8-1.8-1.8s0.8-1.8,1.8-1.8s1.8,0.8,1.8,1.8S903,582.3,902,582.3z"/>
      <image style="overflow:visible;" width="113" height="114" xlink:href="images/11.png"  transform="matrix(1 0 0 1 192 75.3146)">
      </image>
      <path class="st5" d="M213.7,158.6c-7.5,0-13.6,6.1-13.6,13.6c0,10.2,13.6,25.2,13.6,25.2s13.6-15,13.6-25.2
        C227.3,164.7,221.2,158.6,213.7,158.6z M213.7,177c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8s4.8,2.2,4.8,4.8S216.4,177,213.7,177z"/>
      <image style="overflow:visible;" width="41" height="41" xlink:href="images/12.png"  transform="matrix(1 0 0 1 25 247.5197)">
      </image>
      <image style="overflow:visible;" width="40" height="48" xlink:href="images/13.png"  transform="matrix(1 0 0 1 599 151.5197)">
      </image>
      <image style="overflow:visible;" width="38" height="44" xlink:href="images/10.png"  transform="matrix(1 0 0 1 591 11.5197)">
      </image>
      <image style="overflow:visible;" width="138" height="138" xlink:href="images/9.png"  transform="matrix(1 0 0 1 928.9886 149.5197)">
      </image>
      <path class="st5 an2" style="animation-delay: 0.5s;" d="M955.1,265.9c-9.1,0-16.5,7.4-16.5,16.5c0,12.4,16.5,30.6,16.5,30.6s16.5-18.3,16.5-30.6
        C971.6,273.3,964.2,265.9,955.1,265.9z M955.1,288.3c-3.3,0-5.9-2.6-5.9-5.9c0-3.3,2.6-5.9,5.9-5.9c3.3,0,5.9,2.6,5.9,5.9
        C961,285.6,958.3,288.3,955.1,288.3z"/>
      <image  style="overflow:visible;" width="43" height="43" xlink:href="images/8.png"  transform="matrix(1 0 0 1 1102.3501 348.5197)">
      </image>
      <path class="st5" d="M1109.9,385c-2.8,0-5.1,2.3-5.1,5.1c0,3.8,5.1,9.5,5.1,9.5s5.1-5.6,5.1-9.5C1115,387.3,1112.8,385,1109.9,385z
        M1109.9,392c-1,0-1.8-0.8-1.8-1.8c0-1,0.8-1.8,1.8-1.8c1,0,1.8,0.8,1.8,1.8C1111.8,391.1,1110.9,392,1109.9,392z"/>
      <image style="overflow:visible;" width="82" height="82" xlink:href="images/5.png"  transform="matrix(1 0 0 1 574 624.5197)">
      </image>
      <path class="st5" d="M589.1,684.6c-5.7,0-10.3,4.6-10.3,10.3c0,7.7,10.3,19.1,10.3,19.1s10.3-11.4,10.3-19.1
        C599.4,689.2,594.8,684.6,589.1,684.6z M589.1,698.5c-2,0-3.7-1.6-3.7-3.7c0-2,1.6-3.7,3.7-3.7c2,0,3.7,1.6,3.7,3.7
        C592.8,696.9,591.2,698.5,589.1,698.5z"/>
      <image style="overflow:visible;" width="43" height="43" xlink:href="images/7.png"  transform="matrix(1 0 0 1 894 538.5197)">
      </image>
      <image style="overflow:visible;animation-delay: 1s" width="125" height="125" xlink:href="images/6.png"  transform="matrix(1 0 0 1 142.1885 434.903)">
      </image>
      </svg>

    </div>
  </div>
  <div class="social--bottom">
    <div class="social--bottom-inside flex flex--s-column justify-content-between align-items--m-center margin-xxl--left-180 margin-xl--left-90 margin-l--left-180 margin-m--left-60 margin-xxl--right-180 margin-xl--right-90 margin-l--right-180 margin-m--right-60 margin-xxl--bottom-100 margin-l--bottom-none">
      <div class="">
        <div class="flex margin-l--bottom-17">
          <div class="font-46 font-white margin-xxl--bottom-10 margin-xxl--right-24 margin-l--right-none w--l-100 text--l-center">2.2 milijarde</div>
          <div class="skiptar flex align-items-center display--l-none">
            <svg width="181" height="8" viewBox="0 0 181 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M173 3.99999L4 4" stroke="#00BAFF"/>
              <circle cx="4" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
              <circle cx="176.375" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
            </svg>
          </div>
        </div>
        <div class="text--l-center">
          <p class="font-16 font-white margin-l--bottom-10">ljudi koristi svakog meseca</p>
          <p class="font-24 font-white">Facebook</p>
        </div>
      </div>
      <div class="line-big background-blue display--xxl-none display--s-flex margin-s--top-46 margin-s--bottom-46"></div>
      <div class="">
        <div class="flex margin-l--bottom-17 text--l-center">
          <div class="font-46 font-white margin-xxl--bottom-10 margin-xxl--right-24 margin-l--right-none text--l-center w--s-100">500 miliona</div>
          <div class="skiptar flex align-items-center display--l-none">
            <svg width="181" height="8" viewBox="0 0 181 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M173 3.99999L4 4" stroke="#00BAFF"/>
              <circle cx="4" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
              <circle cx="176.375" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
            </svg>
          </div>
        </div>
        <div class="text--l-center">
          <p class="font-16 font-white margin-l--bottom-10">ljudi koristi svakog dana</p>
          <p class="font-24 font-white">Instagram</p>
        </div>
      </div>
    </div>
    <div class="social--bottom-outside w-100 flex justify-content-center align-items-center padding-xxl--top-48">
      <p class="margin-xxl--top-60 margin-xl--top-60 margin-l--top-24 margin-xxl--bottom-100 margin-l--bottom-70 font-16 font-white w-33 w--xl-50 w--l-75 text-center">Facebook i Instagram su najpopularnije društvene mreže danas. Preko 93% marketara aktivno koristi Facebook platforme za oglašavanje.</p>
    </div>
  </div>
</div>
<div class="whatdoit flex flex--l-column w-100">
  <div class="whatdoit--left w-40 w--xl-50 w--l-100 margin-xxl--top-100 margin-l--top-none margin-xxl--bottom-100  padding-xxl--left-90 padding-xl--left-70 padding-l--left-none">
    <div class="whatdoit--left-menu flex justify-content--l-center w-100 w-50 w--xl-75 w--l-100" id="numberofitems">
      <div class="whatdoit--left-menu--item font-24 font-bold font-grey--mid margin-xxl--right-90 margin-xl--right-60 margin-s--right-24 margin-xs--right-18 active-link active-tab" id="choice1" onclick="nextTabs(1);">Vođenje naloga</div>
      <div class="whatdoit--left-menu--item font-24 font-bold font-grey--mid" id="choice2" onclick="nextTabs(2);">Kampanje</div>
    </div>
    <div class="flex overflow-hidden" id="uslugetabs">
      <div class="whatdoit--left-nalog" id="tab1">
        <div class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-60 margin-l--bottom-70 margin-l--bottom-70 flex--l flex--l-column align-items--l-center"> <!-- napravi borders, ovde treba bottom -->
          <div class="margin-xxl--bottom-24 margin-l--left-24 margin-l--right-24 font-24 font-bold font-grey text--l-center">Približite se vašim potrošačima i neka oni budu najbolji ambasadori vašeg brenda.</div>
          <div class="w--l-50 w--s-75">
              <p class="font-16 font-grey text--l-center">Društvene mreže su pre svega vizuelni mediji. Bilo da je to najnoviji post na Facebook-u, Instagram Story ili sponzorisana objava na LinkedIn-u, važno je da privučete pažnju vaše publike, zainteresujete je da sazna više o vama i budete pravi izvor informacija za vašu nišu. Društvene mreže su mnogo više od običnog kanala komunikacije; danas svaka marketing kampanja mora biti društvena. </p>
              <p class="font-16 font-grey text--l-center">Ipak, kako su društvene mreže stvorene za povezivanje ljudi, brendovi moraju biti svesni onoga što objavljuju i kako sebe predstavljaju. Da biste se povezali sa vašim klijentima - i potencijalnim klijentima - morate pokazati ljudsku stranu svog brenda.</p>
          </div>
        </div>
        <div class="line-mid background-blue line--l-center"></div>
        <div  class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-48 margin-l--bottom-70 flex--l flex--l-column align-items--l-center">
          <div class="font-24 font-bold font-grey margin-xxl--bottom-24 text--l-center">Prednosti</div>
          <div class="font-16 font-grey text--l-center w--l-50 w--s-75">Ako ne koristite prednosti društvenih mreža, propuštate brz, jeftin i efikasan način da dosegnete do skoro polovine svetske populacije.</div>
        </div>
        <div class="whatdoit--left-nalog-benefits flex--l flex--l-column align-items--l-center">
          <div class="whatdoit--left-nalog-benefits--col margin-xxl--bottom-48 margin-l--bottom-70 flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="margin-xxl--right-24 margin-l--right-none margin-l--bottom-10">
                <svg width="31" height="34" viewBox="0 0 31 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.98689 4.68812H4.83475V3.52725H3.68261V4.68812H2.48615V5.84898H3.63829V7.00985H4.79044V5.84898H5.94258V4.68812H5.98689ZM2.95144 11.8319H1.77714V12.9928H0.625V14.1536H1.77714V15.3145H2.92928V14.1536H4.08143V12.9928H2.92928V11.8319H2.95144ZM26.0829 3.50492H27.235V2.34406H28.3872V1.16087H27.235V0H26.0829V1.16087H24.9308V2.32173H26.0829V3.50492ZM29.4507 9.48785V8.32699H28.2986V9.48785H27.1464V10.6487H28.2986V11.8319H29.4507V10.671H30.6028V9.51018H29.4507V9.48785ZM18.6161 3.10309L19.6132 3.68352L19.0371 4.68812L18.0401 4.10768L18.6161 3.10309ZM21.3636 5.46947L21.9396 6.47406L20.9426 7.0545L20.3665 6.0499L21.3636 5.46947ZM21.43 8.90742H22.5822V10.0683H21.43V8.90742ZM21.3636 13.5062L20.3665 12.9258L20.9426 11.9212L21.9396 12.5016L21.3636 13.5062ZM9.86429 13.5062L9.28822 12.5016L10.2853 11.9212L10.8613 12.9258L9.86429 13.5062ZM8.64568 8.90742H9.79782V10.0683H8.64568V8.90742ZM9.86429 5.46947L10.8613 6.0499L10.2853 7.0545L9.28822 6.47406L9.86429 5.46947ZM12.6339 3.10309L13.2099 4.10768L12.2129 4.68812L11.6368 3.68352L12.6339 3.10309ZM15.0489 2.45568H16.2011V3.61655H15.0489V2.45568ZM17.6634 13.0374L17.3754 13.216V14.7787H16.2232V11.1399C16.8879 10.8943 17.3754 10.2469 17.3754 9.48785C17.3754 8.52791 16.5999 7.72423 15.625 7.72423C14.6723 7.72423 13.8746 8.50558 13.8746 9.48785C13.8746 10.2469 14.3621 10.8943 15.0268 11.1399V14.7564H13.8746V13.1937L13.5866 13.0151C12.3237 12.2784 11.5482 10.9166 11.5482 9.46553C11.5482 7.21077 13.365 5.35785 15.625 5.35785C17.8628 5.35785 19.7018 7.18844 19.7018 9.46553C19.7018 10.9389 18.9042 12.3007 17.6634 13.0374ZM15.0489 9.48785C15.0489 9.17531 15.3148 8.90742 15.625 8.90742C15.9352 8.90742 16.2011 9.17531 16.2011 9.48785C16.2011 9.80039 15.9352 10.0683 15.625 10.0683C15.2927 10.0683 15.0489 9.82272 15.0489 9.48785ZM18.2395 16.52H17.6634H13.5866H13.0105C12.8554 16.52 12.7225 16.3861 12.7225 16.2298C12.7225 16.0735 12.8554 15.9396 13.0105 15.9396H18.2395C18.3946 15.9396 18.5275 16.0735 18.5275 16.2298C18.5275 16.3861 18.3946 16.52 18.2395 16.52ZM17.6634 18.2837H13.5866C13.4315 18.2837 13.2986 18.1497 13.2986 17.9934C13.2986 17.8372 13.4315 17.7032 13.5866 17.7032H17.6634C17.8185 17.7032 17.9514 17.8372 17.9514 17.9934C17.9514 18.1497 17.8185 18.2837 17.6634 18.2837ZM20.854 9.48785C20.854 6.58569 18.5054 4.2193 15.625 4.2193C12.7446 4.2193 10.396 6.58569 10.396 9.48785C10.396 11.2515 11.2823 12.8812 12.7225 13.8634V14.7787C12.0578 14.9127 11.5703 15.5154 11.5703 16.2075C11.5703 16.7209 11.8362 17.1898 12.2572 17.4353C12.1907 17.5916 12.1686 17.7702 12.1686 17.9488C12.1686 18.7525 12.8111 19.4222 13.6309 19.4222H17.7077C18.5054 19.4222 19.1701 18.7748 19.1701 17.9488C19.1701 17.7702 19.1257 17.5916 19.0814 17.4353C19.4802 17.1674 19.7683 16.7209 19.7683 16.2075C19.7683 15.4931 19.2587 14.9127 18.6161 14.7787V13.8634C19.9677 12.9035 20.854 11.2515 20.854 9.48785Z" fill="#00AEEF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1998 14.6224H25.1969L16.9989 22.8601L14.4731 20.3151C14.3401 20.1812 14.1186 20.1812 13.9856 20.3151L8.26923 26.0525C8.13629 26.1864 8.13629 26.4097 8.26923 26.5436C8.3357 26.6106 8.42432 26.6553 8.51295 26.6553C8.60158 26.6553 8.6902 26.6106 8.75667 26.5436L14.2293 21.0518L16.7774 23.5968C16.9103 23.7308 17.1319 23.7308 17.2648 23.5968L25.7065 15.1136V16.1182C25.7065 16.3191 25.8615 16.453 26.0388 16.453C26.2382 16.453 26.3712 16.2968 26.3712 16.1182V14.2876C26.3712 14.0866 26.2161 13.9527 26.0388 13.9527H24.1998C24.0004 13.9527 23.8675 14.109 23.8675 14.2876C23.8675 14.4885 24.0226 14.6224 24.1998 14.6224ZM24.6651 33.107H6.58533C6.00926 33.107 5.56613 32.6382 5.56613 32.0801V31.7452H25.7065V32.0801C25.7065 32.6382 25.2412 33.107 24.6651 33.107ZM7.36081 28.0394H23.8896L25.4627 31.0308H5.78769L7.36081 28.0394ZM16.6666 29.6467H14.606C14.4066 29.6467 14.2737 29.803 14.2737 29.9816C14.2737 30.1825 14.4288 30.3165 14.606 30.3165H16.6666C16.866 30.3165 16.9989 30.1602 16.9989 29.9816C16.9989 29.803 16.8438 29.6467 16.6666 29.6467ZM26.3712 31.3434C26.3712 31.321 26.3712 31.3211 26.3712 31.2987V31.2764C26.3712 31.2541 26.3711 31.2541 26.349 31.2318L24.4435 27.6152V19.3105C24.4435 19.1096 24.2884 18.9757 24.1112 18.9757C23.9118 18.9757 23.7788 19.1319 23.7788 19.3105V27.3473H7.49375V17.6362C7.49375 17.0558 7.95904 16.6093 8.51295 16.6093H9.97528C10.1747 16.6093 10.3076 16.453 10.3076 16.2744C10.3076 16.0735 10.1525 15.9396 9.97528 15.9396H8.51295C7.56022 15.9396 6.80689 16.7209 6.80689 17.6585V27.6375L4.90143 31.2318C4.90143 31.2318 4.90143 31.2541 4.87927 31.2764V31.2987C4.87927 31.3211 4.87927 31.321 4.87927 31.3434C4.87927 31.3657 4.87927 31.3657 4.87927 31.388V32.0801C4.87927 33.04 5.65475 33.7991 6.58533 33.7991H24.6651C25.6178 33.7991 26.3712 33.0177 26.3712 32.0801V31.388C26.3933 31.3657 26.3712 31.3434 26.3712 31.3434Z" fill="#00AEEF"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="30" height="34" fill="white" transform="translate(0.625)"/>
                </clipPath>
                </defs>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Širenje svesti o brendu</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
              <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M10.2439 23.3542H2.46515V24.0717H10.2439V23.3542Z" fill="#00AEEF"/>
                <path d="M10.2439 25.3632H2.46515V26.0807H10.2439V25.3632Z" fill="#00AEEF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6521 9.41704C14.051 9.41704 13.5409 9.0583 13.5409 8.32287H12.8122C12.8122 9.41704 13.632 10.1345 14.6521 10.1345C15.6723 10.1345 16.4921 9.41704 16.4921 8.32287H15.7634C15.7452 9.04036 15.2533 9.41704 14.6521 9.41704ZM27.8779 1.95516L27.4771 1.75785L27.8779 1.45291V1.95516ZM26.1655 6.51121H25.1271L26.967 2.3139L27.7868 2.70852L26.1655 6.51121ZM27.0581 7.24664C27.1128 7.60538 27.131 7.98206 27.131 8.34081V9.66816C27.131 12.574 25.6736 15.2825 23.2507 16.9327L23.0868 17.0404V21.7399H15.7452V18.4753H12.0835V14.0448L9.69704 13.5067L11.8467 9.72197L11.8285 9.59641C11.6827 8.80717 11.6827 7.96413 11.8102 7.2287H12.0835H15.7452H27.0581V7.24664ZM13.9235 3.62332C13.7231 3.62332 13.5591 3.46188 13.5591 3.26457C13.5591 3.06726 13.7231 2.90583 13.9235 2.90583C14.1238 2.90583 14.2878 3.06726 14.2878 3.26457C14.2878 3.46188 14.1238 3.62332 13.9235 3.62332ZM11.3366 3.26457C11.3366 1.86547 12.4843 0.735426 13.9052 0.735426C15.3262 0.735426 16.4739 1.86547 16.4739 3.26457C16.4739 4.16144 15.982 5.00448 15.1804 5.45291L15.0165 5.56054V6.51121H14.2878V4.287C14.7068 4.1435 15.0165 3.73094 15.0165 3.26457C15.0165 2.67265 14.5246 2.1704 13.9052 2.1704C13.2858 2.1704 12.794 2.65471 12.794 3.26457C12.794 3.73094 13.1037 4.12556 13.5227 4.287V6.51121H12.794V5.56054L12.6118 5.45291C11.8285 5.00448 11.3366 4.16144 11.3366 3.26457ZM18.1499 3.39013L18.5871 4.35874C17.822 4.41256 17.2208 5.04036 17.2208 5.79372V6.51121H15.7452V5.97309C16.4739 5.48879 16.984 4.73543 17.1479 3.89238L18.1499 3.39013ZM19.589 6.51121H17.9495V5.79372C17.9495 5.3991 18.2774 5.0583 18.6782 5.0583H18.915L19.589 6.51121ZM18.5689 1.21973L20.0262 1.8296L19.6801 1.99103L20.7732 4.32287H19.3886L18.496 2.38565L18.1681 2.54709L18.5689 1.21973ZM21.7933 6.51121H20.3906L19.7166 5.0583H21.1011L21.7933 6.51121ZM23.105 1.45291V0.735426H23.8337V1.45291H23.105ZM28.6248 0L26.4934 1.57848L24.3437 6.51121H22.6131L21.9391 5.0583H22.3763C23.1961 5.0583 23.8519 4.41256 23.8519 3.62332V2.1704H24.5806V0H22.3763V2.1704H23.105V3.62332C23.105 4.01794 22.7771 4.34081 22.3763 4.34081H21.5929L20.6456 2.33184L21.7751 1.77578L18.0952 0.233184L17.2208 3.2287C17.2026 1.45291 15.727 0 13.9235 0C12.1017 0 10.6079 1.45291 10.6079 3.26457C10.6079 4.34081 11.1726 5.36323 12.0835 5.97309V6.51121H11.1909L11.1362 6.81614C10.954 7.73094 10.9358 8.66368 11.0816 9.59641L8.56757 13.991L11.3366 14.6188V19.1749H15.0165V22.4395H23.8337V17.3991C26.4023 15.6054 27.8779 12.7175 27.8779 9.65022V8.32287C27.8779 7.82063 27.8233 7.31839 27.7322 6.81614L27.6775 6.51121H26.9488L28.6066 2.6009V0H28.6248Z" fill="#00AEEF"/>
                <path d="M17.7493 21.9731L17.4942 21.9372C17.4396 21.9372 17.4031 21.9193 17.3485 21.9014C17.3121 21.9014 17.2756 21.8834 17.2392 21.8655C17.2027 21.8655 17.1845 21.8655 17.1481 21.8655V27.3005H1.35369V10.9238C1.35369 9.63229 2.42851 8.574 3.74016 8.574H11.5918C11.5372 8.4305 11.519 8.26906 11.5372 8.12556C11.5372 8.03588 11.5554 7.94619 11.5918 7.85651H3.75838C2.02773 7.85651 0.625 9.23767 0.625 10.9238V28H17.895V21.9552C17.8586 21.9731 17.8039 21.9731 17.7493 21.9731Z" fill="#00AEEF"/>
                <path d="M10.2439 17.3812H2.46515V18.0987H10.2439V17.3812Z" fill="#00AEEF"/>
                <path d="M10.2439 15.3723H2.46515V16.0897H10.2439V15.3723Z" fill="#00AEEF"/>
                <path d="M6.96478 10.4395L4.34148 13.3453L3.86783 12.6457L3.26666 13.0403L4.2504 14.5291L7.5113 10.9058L6.96478 10.4395Z" fill="#00AEEF"/>
                <path d="M10.2439 19.3722H2.46515V20.0897H10.2439V19.3722Z" fill="#00AEEF"/>
                <path d="M10.2439 21.3632H2.46515V22.0807H10.2439V21.3632Z" fill="#00AEEF"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="28" height="28" fill="white" transform="translate(0.625)"/>
                </clipPath>
                </defs>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Lojalnost i angažovanost publike</div>
            </div>
          </div>
          <div class="whatdoit--left-nalog-benefits--col flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <path d="M14.2706 17.381C14.547 16.9191 14.927 16.5257 15.4106 16.2177C17.1551 15.0886 19.4868 15.5676 20.6268 17.2784C21.7667 19.0062 21.2831 21.3157 19.5559 22.4448C17.8114 23.5739 15.4797 23.0949 14.3397 21.3841C13.8561 20.6656 13.6661 19.8274 13.7352 19.0404" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.6283 16.6283C23.131 18.8864 22.4919 21.9315 20.212 23.4199C17.9321 24.9082 14.8576 24.2752 13.3549 22.0171C11.8523 19.7589 12.4913 16.7138 14.7713 15.2255C17.0512 13.7543 20.1256 14.3701 21.6283 16.6283Z" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.6113 22.308C21.8704 22.4448 22.0949 22.6501 22.2677 22.9067L26.6893 29.5786C27.242 30.4168 27.0175 31.5459 26.1712 32.1105L25.9121 32.2815C25.0657 32.829 23.9258 32.6066 23.3558 31.7683L18.9341 25.0965C18.7614 24.8228 18.6578 24.5319 18.6405 24.224" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22.6302 25.6439L25.4283 29.8523C25.7046 30.2628 25.9637 30.6392 25.7046 31.2037" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.2999 23.6594L22.0599 24.8055" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4109 16.9704L26.1881 17.0218C26.2227 16.5941 26.24 16.1664 26.24 15.7387H25.4627C25.4627 16.1493 25.4454 16.5599 25.4109 16.9704Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.4955 18.6127L24.8928 19.2799C25.3073 19.0404 25.7219 18.6812 25.9637 18.1679L25.2555 17.8429C25.1173 18.1508 24.841 18.4245 24.4955 18.6127Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4573 19.1944L22.5264 19.9643C22.9754 19.9301 23.4245 19.8445 23.8736 19.7077L23.6491 18.972C23.2691 19.0918 22.8718 19.1602 22.4573 19.1944Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.288 10.8803L24.7889 10.2473C24.3743 10.0249 23.9253 9.87094 23.4589 9.7854L23.1653 10.521C23.5453 10.5894 23.9253 10.7092 24.288 10.8803Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2726 12.591L26.0153 12.283C25.9462 11.8554 25.8599 11.4448 25.6872 11.0513C25.6699 11.0171 25.6526 10.9829 25.6353 10.9487L24.9963 11.4619C25.0135 11.4961 25.0308 11.5132 25.0481 11.5474C25.169 11.8896 25.2208 12.2488 25.2726 12.591Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4454 14.7294L26.2226 14.6952L26.1881 14.0622L26.1708 13.7372L26.1363 13.3779L25.359 13.4977C25.4108 13.8911 25.4281 14.3188 25.4454 14.7294Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6558 10.0078L18.0704 9.35769C17.9495 9.27215 17.8113 9.1695 17.6558 9.03265L17.4313 8.82736L17.224 8.62207L16.6368 9.13529C16.7922 9.28926 16.9477 9.44322 17.1031 9.59719C17.2758 9.73405 17.4486 9.88801 17.6558 10.0078Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9875 10.5039L20.0048 9.73404C19.7975 9.73404 19.5902 9.73403 19.4002 9.71693C19.2102 9.69982 19.0375 9.69982 18.8475 9.6485L18.6748 10.4012C18.8993 10.4525 19.1239 10.4696 19.3484 10.4696C19.5557 10.4868 19.7802 10.5039 19.9875 10.5039Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2158 10.4696L22.3194 9.69977L20.9722 9.73398L20.9894 10.5038L21.6285 10.4867L22.2158 10.4696Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2705 4.48208L14.6159 3.79778C14.1841 3.57539 13.7177 3.45564 13.2341 3.38721L13.1305 4.15704C13.545 4.20836 13.925 4.311 14.2705 4.48208Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4103 5.97044L16.1876 5.93622C16.1876 5.6625 16.1012 5.38879 15.9976 5.14928C15.8939 4.90978 15.7385 4.68739 15.5658 4.49921L14.9785 5.01243C15.0994 5.14928 15.2031 5.30325 15.2721 5.45722C15.3585 5.62829 15.4103 5.79936 15.4103 5.97044Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0318 8.24573L16.7227 7.90358C16.6536 7.73251 16.5846 7.56144 16.5327 7.39036C16.4636 7.20218 16.4118 7.014 16.36 6.80872L15.6 6.9969C15.6519 7.20218 15.7037 7.40747 15.7728 7.61276C15.8591 7.81805 15.9455 8.04044 16.0318 8.24573Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.37878 19.7932L7.27514 19.0234C6.77425 19.0918 6.29063 19.2287 5.82428 19.4682L6.20427 20.1525C6.56698 19.9643 6.96424 19.8445 7.37878 19.7932Z" fill="#00AEEF"/>
                  <path d="M9.76233 18.9891H8.4151V19.7589H9.76233V18.9891Z" fill="#00AEEF"/>
                  <path d="M12.1456 18.9891H10.7983V19.7589H12.1456V18.9891Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.20242 24.9766L4.52881 25.3701C4.66699 25.5925 4.83971 25.8149 5.06425 26.0031C5.28878 26.1912 5.53059 26.3281 5.80695 26.4136L6.06603 25.6951C5.68604 25.5583 5.39242 25.3017 5.20242 24.9766Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.80514 22.8212L4.02789 22.7699C3.99334 23.2489 4.01061 23.7279 4.11425 24.224L4.87423 24.0701C4.78786 23.6595 4.77059 23.2489 4.80514 22.8212Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46143 20.7512L4.8569 20.2722C4.52873 20.6827 4.30419 21.1617 4.18329 21.6579L4.94326 21.846C5.0469 21.4355 5.20235 21.0591 5.46143 20.7512Z" fill="#00AEEF"/>
                  <path d="M21.4039 18.5101H19.7458V20.3064H21.4039V18.5101Z" fill="#00AEEF"/>
                  <path d="M18.4158 18.5101H16.7577V20.3064H18.4158V18.5101Z" fill="#00AEEF"/>
                  <path d="M15.462 18.5101H13.8038V20.3064H15.462V18.5101Z" fill="#00AEEF"/>
                  <path d="M7.11938 26.3795C7.11938 26.7901 6.80848 27.1152 6.41122 27.1152C6.01396 27.1152 5.70306 26.7901 5.70306 26.3795C5.70306 25.969 6.01396 25.6439 6.41122 25.6439C6.80848 25.6439 7.11938 25.9861 7.11938 26.3795Z" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12.097 2.48335L10.7656 3.80188L12.0724 5.0964L13.4038 3.77787L12.097 2.48335Z" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="29" height="33" fill="white" transform="translate(0.625)"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Kredibilitet i pozitivan imidž </div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.125 5.14583C13.1254 5.14583 15.8013 6.83208 17.1075 9.5C15.8013 12.1679 13.1334 13.8542 10.125 13.8542C7.11669 13.8542 4.44877 12.1679 3.14252 9.5C4.44877 6.83208 7.1246 5.14583 10.125 5.14583ZM10.125 3.5625C6.16669 3.5625 2.78627 6.02458 1.41669 9.5C2.78627 12.9754 6.16669 15.4375 10.125 15.4375C14.0834 15.4375 17.4638 12.9754 18.8334 9.5C17.4638 6.02458 14.0834 3.5625 10.125 3.5625ZM10.125 7.52083C11.2175 7.52083 12.1042 8.4075 12.1042 9.5C12.1042 10.5925 11.2175 11.4792 10.125 11.4792C9.03252 11.4792 8.14585 10.5925 8.14585 9.5C8.14585 8.4075 9.03252 7.52083 10.125 7.52083ZM10.125 5.9375C8.16169 5.9375 6.56252 7.53667 6.56252 9.5C6.56252 11.4633 8.16169 13.0625 10.125 13.0625C12.0884 13.0625 13.6875 11.4633 13.6875 9.5C13.6875 7.53667 12.0884 5.9375 10.125 5.9375Z" fill="#00AEEF"/>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Direktna komunikacija sa potrošačima</div>
            </div>
          </div>
        </div>
      </div>
      <div class="whatdoit--left-nalog" id="tab2">
        <div class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-60 flex--l flex--l-column align-items--l-center"> <!-- napravi borders, ovde treba bottom -->
          <div class="margin-xxl--bottom-24 margin-l--left-24 margin-l--right-24 font-24 font-bold font-grey text--l-center">Najbolji način da razvijate biznis i ostvarite vaše poslovne ciljeve</div>
          <div class="w--l-50">
              <p class="font-16 font-grey text--l-center">Bez obzira na to kojim poslom se bavite, oglasi na društvenim mrežama mogu biti izuzetno učinkoviti i proizvoditi sjajno rezultate za vas.</p>
              <p class="font-16 font-grey text--l-center">Facebook nudi marketarima jednu od najmoćnijih platformi za oglašavanje na svetu. U zavisnosti od cilja, Facebook i Instagram kampanje omogućavaju biznisima da dosegnu do precizno definisane publike, putem različitih vrsta oglasa, na različitim uređajima.</p>
          </div>
        </div>
        <div class="line-mid background-blue line--l-center"></div>
        <div  class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-48 margin-l--bottom-70 flex--l flex--l-column align-items--l-center">
          <div class="font-24 font-bold font-grey margin-xxl--bottom-24 text--l-center">Prednosti</div>
          <div class="font-16 font-grey text--l-center w--l-50">Prednost kampanja na društvenim mrežama je upravo mogućnost da se oglašavamo pravim ljudima, sa pravom porukom i u pravom momentu. Ali zajedno sa velikim mogućnostima dolazi i kompleksnost korišćenja.</div>
        </div>
        <div class="whatdoit--left-nalog-benefits flex--l flex--l-column align-items--l-center">
          <div class="whatdoit--left-nalog-benefits--col margin-xxl--bottom-48 flex justify-content-between w--l-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="margin-xxl--right-24 margin-l--right-none margin-l--bottom-10">
                <svg width="31" height="34" viewBox="0 0 31 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.98689 4.68812H4.83475V3.52725H3.68261V4.68812H2.48615V5.84898H3.63829V7.00985H4.79044V5.84898H5.94258V4.68812H5.98689ZM2.95144 11.8319H1.77714V12.9928H0.625V14.1536H1.77714V15.3145H2.92928V14.1536H4.08143V12.9928H2.92928V11.8319H2.95144ZM26.0829 3.50492H27.235V2.34406H28.3872V1.16087H27.235V0H26.0829V1.16087H24.9308V2.32173H26.0829V3.50492ZM29.4507 9.48785V8.32699H28.2986V9.48785H27.1464V10.6487H28.2986V11.8319H29.4507V10.671H30.6028V9.51018H29.4507V9.48785ZM18.6161 3.10309L19.6132 3.68352L19.0371 4.68812L18.0401 4.10768L18.6161 3.10309ZM21.3636 5.46947L21.9396 6.47406L20.9426 7.0545L20.3665 6.0499L21.3636 5.46947ZM21.43 8.90742H22.5822V10.0683H21.43V8.90742ZM21.3636 13.5062L20.3665 12.9258L20.9426 11.9212L21.9396 12.5016L21.3636 13.5062ZM9.86429 13.5062L9.28822 12.5016L10.2853 11.9212L10.8613 12.9258L9.86429 13.5062ZM8.64568 8.90742H9.79782V10.0683H8.64568V8.90742ZM9.86429 5.46947L10.8613 6.0499L10.2853 7.0545L9.28822 6.47406L9.86429 5.46947ZM12.6339 3.10309L13.2099 4.10768L12.2129 4.68812L11.6368 3.68352L12.6339 3.10309ZM15.0489 2.45568H16.2011V3.61655H15.0489V2.45568ZM17.6634 13.0374L17.3754 13.216V14.7787H16.2232V11.1399C16.8879 10.8943 17.3754 10.2469 17.3754 9.48785C17.3754 8.52791 16.5999 7.72423 15.625 7.72423C14.6723 7.72423 13.8746 8.50558 13.8746 9.48785C13.8746 10.2469 14.3621 10.8943 15.0268 11.1399V14.7564H13.8746V13.1937L13.5866 13.0151C12.3237 12.2784 11.5482 10.9166 11.5482 9.46553C11.5482 7.21077 13.365 5.35785 15.625 5.35785C17.8628 5.35785 19.7018 7.18844 19.7018 9.46553C19.7018 10.9389 18.9042 12.3007 17.6634 13.0374ZM15.0489 9.48785C15.0489 9.17531 15.3148 8.90742 15.625 8.90742C15.9352 8.90742 16.2011 9.17531 16.2011 9.48785C16.2011 9.80039 15.9352 10.0683 15.625 10.0683C15.2927 10.0683 15.0489 9.82272 15.0489 9.48785ZM18.2395 16.52H17.6634H13.5866H13.0105C12.8554 16.52 12.7225 16.3861 12.7225 16.2298C12.7225 16.0735 12.8554 15.9396 13.0105 15.9396H18.2395C18.3946 15.9396 18.5275 16.0735 18.5275 16.2298C18.5275 16.3861 18.3946 16.52 18.2395 16.52ZM17.6634 18.2837H13.5866C13.4315 18.2837 13.2986 18.1497 13.2986 17.9934C13.2986 17.8372 13.4315 17.7032 13.5866 17.7032H17.6634C17.8185 17.7032 17.9514 17.8372 17.9514 17.9934C17.9514 18.1497 17.8185 18.2837 17.6634 18.2837ZM20.854 9.48785C20.854 6.58569 18.5054 4.2193 15.625 4.2193C12.7446 4.2193 10.396 6.58569 10.396 9.48785C10.396 11.2515 11.2823 12.8812 12.7225 13.8634V14.7787C12.0578 14.9127 11.5703 15.5154 11.5703 16.2075C11.5703 16.7209 11.8362 17.1898 12.2572 17.4353C12.1907 17.5916 12.1686 17.7702 12.1686 17.9488C12.1686 18.7525 12.8111 19.4222 13.6309 19.4222H17.7077C18.5054 19.4222 19.1701 18.7748 19.1701 17.9488C19.1701 17.7702 19.1257 17.5916 19.0814 17.4353C19.4802 17.1674 19.7683 16.7209 19.7683 16.2075C19.7683 15.4931 19.2587 14.9127 18.6161 14.7787V13.8634C19.9677 12.9035 20.854 11.2515 20.854 9.48785Z" fill="#00AEEF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1998 14.6224H25.1969L16.9989 22.8601L14.4731 20.3151C14.3401 20.1812 14.1186 20.1812 13.9856 20.3151L8.26923 26.0525C8.13629 26.1864 8.13629 26.4097 8.26923 26.5436C8.3357 26.6106 8.42432 26.6553 8.51295 26.6553C8.60158 26.6553 8.6902 26.6106 8.75667 26.5436L14.2293 21.0518L16.7774 23.5968C16.9103 23.7308 17.1319 23.7308 17.2648 23.5968L25.7065 15.1136V16.1182C25.7065 16.3191 25.8615 16.453 26.0388 16.453C26.2382 16.453 26.3712 16.2968 26.3712 16.1182V14.2876C26.3712 14.0866 26.2161 13.9527 26.0388 13.9527H24.1998C24.0004 13.9527 23.8675 14.109 23.8675 14.2876C23.8675 14.4885 24.0226 14.6224 24.1998 14.6224ZM24.6651 33.107H6.58533C6.00926 33.107 5.56613 32.6382 5.56613 32.0801V31.7452H25.7065V32.0801C25.7065 32.6382 25.2412 33.107 24.6651 33.107ZM7.36081 28.0394H23.8896L25.4627 31.0308H5.78769L7.36081 28.0394ZM16.6666 29.6467H14.606C14.4066 29.6467 14.2737 29.803 14.2737 29.9816C14.2737 30.1825 14.4288 30.3165 14.606 30.3165H16.6666C16.866 30.3165 16.9989 30.1602 16.9989 29.9816C16.9989 29.803 16.8438 29.6467 16.6666 29.6467ZM26.3712 31.3434C26.3712 31.321 26.3712 31.3211 26.3712 31.2987V31.2764C26.3712 31.2541 26.3711 31.2541 26.349 31.2318L24.4435 27.6152V19.3105C24.4435 19.1096 24.2884 18.9757 24.1112 18.9757C23.9118 18.9757 23.7788 19.1319 23.7788 19.3105V27.3473H7.49375V17.6362C7.49375 17.0558 7.95904 16.6093 8.51295 16.6093H9.97528C10.1747 16.6093 10.3076 16.453 10.3076 16.2744C10.3076 16.0735 10.1525 15.9396 9.97528 15.9396H8.51295C7.56022 15.9396 6.80689 16.7209 6.80689 17.6585V27.6375L4.90143 31.2318C4.90143 31.2318 4.90143 31.2541 4.87927 31.2764V31.2987C4.87927 31.3211 4.87927 31.321 4.87927 31.3434C4.87927 31.3657 4.87927 31.3657 4.87927 31.388V32.0801C4.87927 33.04 5.65475 33.7991 6.58533 33.7991H24.6651C25.6178 33.7991 26.3712 33.0177 26.3712 32.0801V31.388C26.3933 31.3657 26.3712 31.3434 26.3712 31.3434Z" fill="#00AEEF"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="30" height="34" fill="white" transform="translate(0.625)"/>
                </clipPath>
                </defs>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Napredne opcije targetiranja</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
              <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M10.2439 23.3542H2.46515V24.0717H10.2439V23.3542Z" fill="#00AEEF"/>
                <path d="M10.2439 25.3632H2.46515V26.0807H10.2439V25.3632Z" fill="#00AEEF"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6521 9.41704C14.051 9.41704 13.5409 9.0583 13.5409 8.32287H12.8122C12.8122 9.41704 13.632 10.1345 14.6521 10.1345C15.6723 10.1345 16.4921 9.41704 16.4921 8.32287H15.7634C15.7452 9.04036 15.2533 9.41704 14.6521 9.41704ZM27.8779 1.95516L27.4771 1.75785L27.8779 1.45291V1.95516ZM26.1655 6.51121H25.1271L26.967 2.3139L27.7868 2.70852L26.1655 6.51121ZM27.0581 7.24664C27.1128 7.60538 27.131 7.98206 27.131 8.34081V9.66816C27.131 12.574 25.6736 15.2825 23.2507 16.9327L23.0868 17.0404V21.7399H15.7452V18.4753H12.0835V14.0448L9.69704 13.5067L11.8467 9.72197L11.8285 9.59641C11.6827 8.80717 11.6827 7.96413 11.8102 7.2287H12.0835H15.7452H27.0581V7.24664ZM13.9235 3.62332C13.7231 3.62332 13.5591 3.46188 13.5591 3.26457C13.5591 3.06726 13.7231 2.90583 13.9235 2.90583C14.1238 2.90583 14.2878 3.06726 14.2878 3.26457C14.2878 3.46188 14.1238 3.62332 13.9235 3.62332ZM11.3366 3.26457C11.3366 1.86547 12.4843 0.735426 13.9052 0.735426C15.3262 0.735426 16.4739 1.86547 16.4739 3.26457C16.4739 4.16144 15.982 5.00448 15.1804 5.45291L15.0165 5.56054V6.51121H14.2878V4.287C14.7068 4.1435 15.0165 3.73094 15.0165 3.26457C15.0165 2.67265 14.5246 2.1704 13.9052 2.1704C13.2858 2.1704 12.794 2.65471 12.794 3.26457C12.794 3.73094 13.1037 4.12556 13.5227 4.287V6.51121H12.794V5.56054L12.6118 5.45291C11.8285 5.00448 11.3366 4.16144 11.3366 3.26457ZM18.1499 3.39013L18.5871 4.35874C17.822 4.41256 17.2208 5.04036 17.2208 5.79372V6.51121H15.7452V5.97309C16.4739 5.48879 16.984 4.73543 17.1479 3.89238L18.1499 3.39013ZM19.589 6.51121H17.9495V5.79372C17.9495 5.3991 18.2774 5.0583 18.6782 5.0583H18.915L19.589 6.51121ZM18.5689 1.21973L20.0262 1.8296L19.6801 1.99103L20.7732 4.32287H19.3886L18.496 2.38565L18.1681 2.54709L18.5689 1.21973ZM21.7933 6.51121H20.3906L19.7166 5.0583H21.1011L21.7933 6.51121ZM23.105 1.45291V0.735426H23.8337V1.45291H23.105ZM28.6248 0L26.4934 1.57848L24.3437 6.51121H22.6131L21.9391 5.0583H22.3763C23.1961 5.0583 23.8519 4.41256 23.8519 3.62332V2.1704H24.5806V0H22.3763V2.1704H23.105V3.62332C23.105 4.01794 22.7771 4.34081 22.3763 4.34081H21.5929L20.6456 2.33184L21.7751 1.77578L18.0952 0.233184L17.2208 3.2287C17.2026 1.45291 15.727 0 13.9235 0C12.1017 0 10.6079 1.45291 10.6079 3.26457C10.6079 4.34081 11.1726 5.36323 12.0835 5.97309V6.51121H11.1909L11.1362 6.81614C10.954 7.73094 10.9358 8.66368 11.0816 9.59641L8.56757 13.991L11.3366 14.6188V19.1749H15.0165V22.4395H23.8337V17.3991C26.4023 15.6054 27.8779 12.7175 27.8779 9.65022V8.32287C27.8779 7.82063 27.8233 7.31839 27.7322 6.81614L27.6775 6.51121H26.9488L28.6066 2.6009V0H28.6248Z" fill="#00AEEF"/>
                <path d="M17.7493 21.9731L17.4942 21.9372C17.4396 21.9372 17.4031 21.9193 17.3485 21.9014C17.3121 21.9014 17.2756 21.8834 17.2392 21.8655C17.2027 21.8655 17.1845 21.8655 17.1481 21.8655V27.3005H1.35369V10.9238C1.35369 9.63229 2.42851 8.574 3.74016 8.574H11.5918C11.5372 8.4305 11.519 8.26906 11.5372 8.12556C11.5372 8.03588 11.5554 7.94619 11.5918 7.85651H3.75838C2.02773 7.85651 0.625 9.23767 0.625 10.9238V28H17.895V21.9552C17.8586 21.9731 17.8039 21.9731 17.7493 21.9731Z" fill="#00AEEF"/>
                <path d="M10.2439 17.3812H2.46515V18.0987H10.2439V17.3812Z" fill="#00AEEF"/>
                <path d="M10.2439 15.3723H2.46515V16.0897H10.2439V15.3723Z" fill="#00AEEF"/>
                <path d="M6.96478 10.4395L4.34148 13.3453L3.86783 12.6457L3.26666 13.0403L4.2504 14.5291L7.5113 10.9058L6.96478 10.4395Z" fill="#00AEEF"/>
                <path d="M10.2439 19.3722H2.46515V20.0897H10.2439V19.3722Z" fill="#00AEEF"/>
                <path d="M10.2439 21.3632H2.46515V22.0807H10.2439V21.3632Z" fill="#00AEEF"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="28" height="28" fill="white" transform="translate(0.625)"/>
                </clipPath>
                </defs>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center"></div>
            </div>
          </div>
          <div class="whatdoit--left-nalog-benefits--col flex justify-content-between w--l-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                  <path d="M14.2706 17.381C14.547 16.9191 14.927 16.5257 15.4106 16.2177C17.1551 15.0886 19.4868 15.5676 20.6268 17.2784C21.7667 19.0062 21.2831 21.3157 19.5559 22.4448C17.8114 23.5739 15.4797 23.0949 14.3397 21.3841C13.8561 20.6656 13.6661 19.8274 13.7352 19.0404" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.6283 16.6283C23.131 18.8864 22.4919 21.9315 20.212 23.4199C17.9321 24.9082 14.8576 24.2752 13.3549 22.0171C11.8523 19.7589 12.4913 16.7138 14.7713 15.2255C17.0512 13.7543 20.1256 14.3701 21.6283 16.6283Z" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.6113 22.308C21.8704 22.4448 22.0949 22.6501 22.2677 22.9067L26.6893 29.5786C27.242 30.4168 27.0175 31.5459 26.1712 32.1105L25.9121 32.2815C25.0657 32.829 23.9258 32.6066 23.3558 31.7683L18.9341 25.0965C18.7614 24.8228 18.6578 24.5319 18.6405 24.224" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22.6302 25.6439L25.4283 29.8523C25.7046 30.2628 25.9637 30.6392 25.7046 31.2037" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.2999 23.6594L22.0599 24.8055" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4109 16.9704L26.1881 17.0218C26.2227 16.5941 26.24 16.1664 26.24 15.7387H25.4627C25.4627 16.1493 25.4454 16.5599 25.4109 16.9704Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.4955 18.6127L24.8928 19.2799C25.3073 19.0404 25.7219 18.6812 25.9637 18.1679L25.2555 17.8429C25.1173 18.1508 24.841 18.4245 24.4955 18.6127Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4573 19.1944L22.5264 19.9643C22.9754 19.9301 23.4245 19.8445 23.8736 19.7077L23.6491 18.972C23.2691 19.0918 22.8718 19.1602 22.4573 19.1944Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.288 10.8803L24.7889 10.2473C24.3743 10.0249 23.9253 9.87094 23.4589 9.7854L23.1653 10.521C23.5453 10.5894 23.9253 10.7092 24.288 10.8803Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2726 12.591L26.0153 12.283C25.9462 11.8554 25.8599 11.4448 25.6872 11.0513C25.6699 11.0171 25.6526 10.9829 25.6353 10.9487L24.9963 11.4619C25.0135 11.4961 25.0308 11.5132 25.0481 11.5474C25.169 11.8896 25.2208 12.2488 25.2726 12.591Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.4454 14.7294L26.2226 14.6952L26.1881 14.0622L26.1708 13.7372L26.1363 13.3779L25.359 13.4977C25.4108 13.8911 25.4281 14.3188 25.4454 14.7294Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6558 10.0078L18.0704 9.35769C17.9495 9.27215 17.8113 9.1695 17.6558 9.03265L17.4313 8.82736L17.224 8.62207L16.6368 9.13529C16.7922 9.28926 16.9477 9.44322 17.1031 9.59719C17.2758 9.73405 17.4486 9.88801 17.6558 10.0078Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9875 10.5039L20.0048 9.73404C19.7975 9.73404 19.5902 9.73403 19.4002 9.71693C19.2102 9.69982 19.0375 9.69982 18.8475 9.6485L18.6748 10.4012C18.8993 10.4525 19.1239 10.4696 19.3484 10.4696C19.5557 10.4868 19.7802 10.5039 19.9875 10.5039Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2158 10.4696L22.3194 9.69977L20.9722 9.73398L20.9894 10.5038L21.6285 10.4867L22.2158 10.4696Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2705 4.48208L14.6159 3.79778C14.1841 3.57539 13.7177 3.45564 13.2341 3.38721L13.1305 4.15704C13.545 4.20836 13.925 4.311 14.2705 4.48208Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.4103 5.97044L16.1876 5.93622C16.1876 5.6625 16.1012 5.38879 15.9976 5.14928C15.8939 4.90978 15.7385 4.68739 15.5658 4.49921L14.9785 5.01243C15.0994 5.14928 15.2031 5.30325 15.2721 5.45722C15.3585 5.62829 15.4103 5.79936 15.4103 5.97044Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0318 8.24573L16.7227 7.90358C16.6536 7.73251 16.5846 7.56144 16.5327 7.39036C16.4636 7.20218 16.4118 7.014 16.36 6.80872L15.6 6.9969C15.6519 7.20218 15.7037 7.40747 15.7728 7.61276C15.8591 7.81805 15.9455 8.04044 16.0318 8.24573Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.37878 19.7932L7.27514 19.0234C6.77425 19.0918 6.29063 19.2287 5.82428 19.4682L6.20427 20.1525C6.56698 19.9643 6.96424 19.8445 7.37878 19.7932Z" fill="#00AEEF"/>
                  <path d="M9.76233 18.9891H8.4151V19.7589H9.76233V18.9891Z" fill="#00AEEF"/>
                  <path d="M12.1456 18.9891H10.7983V19.7589H12.1456V18.9891Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.20242 24.9766L4.52881 25.3701C4.66699 25.5925 4.83971 25.8149 5.06425 26.0031C5.28878 26.1912 5.53059 26.3281 5.80695 26.4136L6.06603 25.6951C5.68604 25.5583 5.39242 25.3017 5.20242 24.9766Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.80514 22.8212L4.02789 22.7699C3.99334 23.2489 4.01061 23.7279 4.11425 24.224L4.87423 24.0701C4.78786 23.6595 4.77059 23.2489 4.80514 22.8212Z" fill="#00AEEF"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M5.46143 20.7512L4.8569 20.2722C4.52873 20.6827 4.30419 21.1617 4.18329 21.6579L4.94326 21.846C5.0469 21.4355 5.20235 21.0591 5.46143 20.7512Z" fill="#00AEEF"/>
                  <path d="M21.4039 18.5101H19.7458V20.3064H21.4039V18.5101Z" fill="#00AEEF"/>
                  <path d="M18.4158 18.5101H16.7577V20.3064H18.4158V18.5101Z" fill="#00AEEF"/>
                  <path d="M15.462 18.5101H13.8038V20.3064H15.462V18.5101Z" fill="#00AEEF"/>
                  <path d="M7.11938 26.3795C7.11938 26.7901 6.80848 27.1152 6.41122 27.1152C6.01396 27.1152 5.70306 26.7901 5.70306 26.3795C5.70306 25.969 6.01396 25.6439 6.41122 25.6439C6.80848 25.6439 7.11938 25.9861 7.11938 26.3795Z" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12.097 2.48335L10.7656 3.80188L12.0724 5.0964L13.4038 3.77787L12.097 2.48335Z" stroke="#00AEEF" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                  <clipPath id="clip0">
                  <rect width="29" height="33" fill="white" transform="translate(0.625)"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Merenje rezultata i učinka</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.125 5.14583C13.1254 5.14583 15.8013 6.83208 17.1075 9.5C15.8013 12.1679 13.1334 13.8542 10.125 13.8542C7.11669 13.8542 4.44877 12.1679 3.14252 9.5C4.44877 6.83208 7.1246 5.14583 10.125 5.14583ZM10.125 3.5625C6.16669 3.5625 2.78627 6.02458 1.41669 9.5C2.78627 12.9754 6.16669 15.4375 10.125 15.4375C14.0834 15.4375 17.4638 12.9754 18.8334 9.5C17.4638 6.02458 14.0834 3.5625 10.125 3.5625ZM10.125 7.52083C11.2175 7.52083 12.1042 8.4075 12.1042 9.5C12.1042 10.5925 11.2175 11.4792 10.125 11.4792C9.03252 11.4792 8.14585 10.5925 8.14585 9.5C8.14585 8.4075 9.03252 7.52083 10.125 7.52083ZM10.125 5.9375C8.16169 5.9375 6.56252 7.53667 6.56252 9.5C6.56252 11.4633 8.16169 13.0625 10.125 13.0625C12.0884 13.0625 13.6875 11.4633 13.6875 9.5C13.6875 7.53667 12.0884 5.9375 10.125 5.9375Z" fill="#00AEEF"/>
                </svg>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="whatdoit--right flex align-items-center justify-content-center w-60 w--xl-50 w--l-100">
    <div class="whatdoit--right-images flex align-items-center overflow-hidden">
      <div class="whatdoit--right-images-image flex align-items-center justify-content-center w-100--min" id="rightpic1">
        <picture class="flex align-items-center justify-content-center">
          <source srcset="./images/drustvene_mreze_1_1920.png" media="(min-width: 1025px)">
          <img src="./images/drustvene_mreze_1_1920.png">
        </picture>
      </div>
      <div class="whatdoit--right-images-image flex align-items-center justify-content-center w-100--min" id="rightpic2">
        <picture class="flex align-items-center justify-content-center">
          <source srcset="./images/drustvene_mreze_2_1920.png" media="(min-width: 1025px)">
          <img src="./images/drustvene_mreze_2_1920.png">
        </picture>
      </div>
    </div>
  </div>
</div>

<div class="howwhy flex justify-content-center align-items-center align-items--l-end">
  <div class="howwhy--left w--l-100 display--l-none" style="min-width: 50%; height: 100%;">
  </div>
  <div class="howwhy--right margin-xxl--top-100 margin-xxl--bottom-100 margin-xxl--left-48 margin-xl--left-24 margin-s--left-18 margin-xxl--right-48 margin-xl--right-24 margin-s--right-18 w-50 w--l-100  flex--l flex--l-column align-items--l-center justify-content--l-center">
    <div class="howwhy--right-intro">
      <div class="flex flex-wrap flex-column flex--l-column margin-xxl--bottom-60">
        <div class="font-32 font-white font-bold text--l-center">Kako Marketer može da vam</div>
        <div class="flex flex--l-column align-items-center flex--l-column justify-content--l-center">
            <div class="font-32 font-white font-bold margin-xxl--right-60 margin-l--bottom-24 margin-l--right-none">pomogne?</div>
            <div class="line-mid background-blue line--l-center"></div>
        </div>
      </div>
      <div class="font-16 font-white margin-xxl--bottom-24 text--l-center margin-l--left-100  margin-l--right-100 margin-m--left-18  margin-m--right-18">
        Reči su samo reči. Priče su samo priče. Ali u pravom kontekstu one postaju žive. Mi znamo da nije sve u samoj poruci, već u svemu onome što se dešava oko nje i što joj daje pravi smisao. Sa druge strane, kvalitetan sadržaj je samo sadržaj ako se ne promoviše na pravi način. Naš tim poseduje dugogodišnje iskustvo i dokazane rezultate u marketingu na društvenim mrežama.
      </div>
      <div class="font-16 font-white text--l-center">
        Garantujemo:
      </div>
    </div>
    <div class="howwhy--right-how margin-xxl--top-60 margin-xl--top-40  flex--l flex--l-column align-items--l-center justify-content--l-center">
      <div class="howwhy--right-how--icons flex flex-wrap align-items-start justify-content--l-center w--l-75 w--s-100">
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/targetiranje.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Targetiranje pravih ljudi u pravom trenutku
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/vecibroj.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Već broj relevantnih poseta veb sajtu
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/definisanjeciljeva.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Definisanje željenih ciljeva
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/pracenje.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Praćenje konverzija i akcija
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/veciROI.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Veći ROI
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/boljakontrola.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Bolju kontrolu budžeta
          </div></div>
      </div>
      <div class="howwhy--right-how--text margin-xxl--top-48 text--l-center w--l-75">
        <p class="font-14 font-white">Marketer pomaže kompanijama, bez obzira na veličinu, da maksimiziraju vrednost koju dobijaju od marketinga na društvenim mrežama. </p>
        <p class="font-14 font-white">Od strategije i kreiranja sadržaja do implementacije i izveštavanja, mi osnažujemo naše klijente da ostvare svoje ciljeve.</p>
      </div>
    </div>
    <div class="howwhy--right-cta margin-xxl--top-60 flex align-items-center justify-content--s-between flex--xs-column w--s-75">
      <div class="howwhy--right-cta--links flex flex-column align-items--s-center">
        <div class="flex align-items-center margin-xxl--bottom-60 margin-xs--bottom-24" style="height: 27px;"><img src="./images/facebook.svg"></div>
        <button class="button-big flex align-items-center justify-content-center margin-xxl--right-24 margin-s--right-none"><a href="google_oglasavanje"><div class="font-14 font-white">GOOGLE OGLAŠAVANJE</div></a></button>

      </div>
      <div class="howwhy--right-cta--buttons flex flex-column align-items--s-center margin-xs--top-60">
        <div class="flex align-items-center margin-xxl--bottom-60 margin-xs--bottom-24" style="height: 27px;"><img src="./images/instagram.svg"></div>
        <button class="button-big flex align-items-center justify-content-center"><a href="web_oglasavanje"><div class="font-14 font-white">WEB REŠENJA</div></a></button>
      </div>
    </div>
  </div>
</div>
<div class="usluge_mini flex flex-column align-items-center justify-content-center">
  <div class="font-24 font-grey margin-xxl--top-100 w-75 w--s-auto text-center margin-s--left-24 margin-s--right-24">Budite sigurni izborom agencije Marketer.</div>
  <div class="font-16 font-grey--mid margin-xxl--bottom-100 margin-xxl--top-48 margin-s--left-24 margin-s--right-24 w-75 w--s-auto text-center">Angažujete vrhunske stručnjake i dobijate najbolja znanja iz oblasti</br>digitalnog marketinga.</div>
</div>
{{ include('blog-gallery.twig') }}
{{ include('contact_shared.twig') }}
{% endblock %}
