{% extends "base.twig" %}
{# {% block description %}All posts{% endblock %} #}
{% block content %}

<div class="social w-100 background-blue">
  <div class="social--top w-100 flex justify-content-between margin-xxl--top-100 margin-l--top-70 margin-l--top-50 margin-s--top-50">
    <div class="social--top-left w-50 margin-xxl--left-90  margin-xxl--left-70 margin-xxl--right-90  margin-xxl--right-70">
      <div class="font-46 font-white margin-xxl--bottom-48 margin-l--bottom-50 margin-m--bottom-46 margin-s--bottom-46">Društvene mreže</div>
      <div>
        <div class="margin-xxl-bottom-24">Najmoćniji pretrazivač</div>
        <div class="line-small background-blue"></div>
      </div>
    </div>
    <div class="social--top-right w-50 margin-xxl--left-90  margin-xxl--left-70 margin-xxl--right-90  margin-xxl--right-70">
      <p>Povežite se sa ljudima i ispričajte im priču o vašem biznisu.</p>
      <p>Facebook platforma za oglašavanje vam omogućava da dođete do ljudi koji su zainteresovani za vaš biznis, dobijete njihovu pažnju i ostvarite željeni rezultat.</p>
    </div>
  </div>
  <div class="social--mid" style="background-image: url('./images/dotted-world.svg');">
    <div class="social--mid-top" style="background-image: url('./images/connected.png');"></div>
    <div class="social--mid-bottom flex justify-content-between margin-xxl--left-180 margin-xl--left-135 margin-xxl--right-180 margin-xl--right-135">
      <div class="">
        <div>
          <div>2 milijarde</div><div></div>
        </div>
        <div>
          <p>ljudi koristi svakog meseca</p>
          <p>Facebook</p>
        </div>
      </div>
      <div class="">
        <div>
          <div>500 miliona</div><div></div>
        </div>
        <div>
          <p>ljudi koristi svakog dana</p>
          <p>Instagram</p>
        </div>
      </div>
    </div>
  </div>

  <div class="social-fact w-100 flex justify-content-center align-items-center">
    <p class="font-16 font-white w-33 text-center">Facebook i Instagram su najpopularnije društvene mreže danas. Preko 93% marketara aktivno koristi Facebook platforme za oglašavanje.</p>
  </div>
</div>

{% endblock %}
