{% extends "base.twig" %}
{# {% block description %}All posts{% endblock %} #}
{% block content %}

<div class="social">
  <div class="social--top margin-xxl--top-100 margin-l--top-70 margin-l--top-50 margin-s--top-50">
    <div class="social--top-left margin-xxl--bottom-48 margin-l--bottom-50 margin-m--bottom-46 margin-s--bottom-46">
      <div class="font-46 font-white margin-xxl-bottom-24">Društvene mreže</div>
      <div>
        <div>Najmoćniji pretrazivač</div>
        <div class="line-small background-blue"></div>
      </div>
    </div>
    <div class="social--top-right">
      <p>Povežite se sa ljudima i ispričajte im priču o vašem biznisu.</p>
      <p>Facebook platforma za oglašavanje vam omogućava da dođete do ljudi koji su zainteresovani za vaš biznis, dobijete njihovu pažnju i ostvarite željeni rezultat.</p>
    </div>
  </div>
  <div class="social-mid"></div>
  <div class="social-bottom">
    <div></div><div></div>
  </div>
</div>

{% endblock %}
