{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<div class="social w-100">
  <div class="social--top w-100 flex justify-content-between justify-content--l-center flex--l-column align-items--l-center padding-xxl--top-100 padding-l--top-70 padding-l--top-50 padding-s--top-50">
    <div class="social--top-left w-50 w--m-75 w--s-100 margin-xxl--left-90  margin-l--left-70 margin-s--left-18 margin-xxl--right-90 margin-l--right-70 margin-s--right-18 text--l-center">
      <div class="font-46 font-white font-bold margin-xxl--bottom-48 margin-l--bottom-24 margin-m--bottom-46 margin-s--bottom-24">Google oglašavanje</div>
      <div>
        <div class="margin-xxl--bottom-24 font-grey--mid font-18">Najmoćniji pretrazivač</div>
        <div class="line-big background-blue line--l-center"></div>
      </div>
    </div>
    <div class="social--top-right flex flex-column align-items-start align-items--l-center w-33 w--xl-50 w--m-75 margin-xxl--left-90 margin-xl--left-70 margin-s--left-18 margin-xxl--right-90 margin-xl--right-70 margin-s--right-18 margin-l--top-50 font-16 font-white text--l-center">
      <p class="margin-xxl--bottom-24 margin-m--bottom-18">Ništa nije tako moćan alat za internet oglašavanje kao Google Ads oglasi!</p>
      <p class="margin-xxl--bottom-24 margin-m--bottom-18">Vaša reklama biće prikazana ljudima u momentu kada pretražuju veb sajtove na internetu, proveravaju poštu na svom Gmail nalogu, gledaju omiljene YouTube kanale ili koriste neku od aplikacija na svom telefonu.</p>
    </div>
  </div>
  <div class="social--mid flex justify-content-center align-items-center">


    {# <img class="social--mid-cont2" src="./images/google_oglasavanje_2.svg"/> #}

    <div class="w-100">
      <svg max-width="100%" max-height="100%" viewBox="0 0 1735 938" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="op2" style="animation-delay: 0.78s;"  d="M1188.28 526.243C1188.28 555.759 1212.58 579.699 1242.58 579.699C1272.57 579.699 1296.88 555.759 1296.88 526.243C1296.88 496.727 1272.57 472.787 1242.58 472.787C1212.58 472.787 1188.28 496.727 1188.28 526.243Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 0.78s;" d="M1198.36 526.033C1198.36 550.334 1218.25 570.042 1242.79 570.042C1267.33 570.042 1287.22 550.334 1287.22 526.033C1287.22 501.733 1267.33 482.025 1242.79 482.025C1218.25 482.025 1198.36 501.733 1198.36 526.033Z" stroke="#00AEEF"/>
          <path class="op8" style="animation-delay: 0.78s;" d="M1207.6 526.033C1207.6 544.997 1223.25 560.384 1242.58 560.384C1261.91 560.384 1277.56 544.997 1277.56 526.033C1277.56 507.07 1261.91 491.682 1242.58 491.682C1223.25 491.682 1207.6 507.07 1207.6 526.033Z" stroke="#00AEEF" stroke-opacity="0.8"/>
          <path class="op1" style="animation-delay: 0.78s;" d="M1216.42 526.243C1216.42 540.453 1228.12 551.987 1242.58 551.987C1257.04 551.987 1268.74 540.453 1268.74 526.243C1268.74 512.033 1257.04 500.5 1242.58 500.5C1228.12 500.5 1216.42 512.033 1216.42 526.243Z" stroke="#00AEEF"/>

          <path class="op2" style="animation-delay: 1.75s;" d="M965.001 267C965.001 308.692 999.189 342.5 1041.37 342.5C1083.56 342.5 1117.75 308.692 1117.75 267C1117.75 225.308 1083.56 191.5 1041.37 191.5C999.189 191.5 965.001 225.308 965.001 267Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 1.75s;" d="M978.978 266.563C978.978 300.776 1007.1 328.523 1041.81 328.523C1076.52 328.523 1104.64 300.776 1104.64 266.563C1104.64 232.35 1076.52 204.603 1041.81 204.603C1007.1 204.603 978.978 232.35 978.978 266.563Z" stroke="#00AEEF" stroke-opacity="0.8"/>
          <path class="op8" style="animation-delay: 1.75s;" d="M992.081 266.563C992.081 293.542 1014.15 315.42 1041.37 315.42C1068.6 315.42 1090.67 293.542 1090.67 266.563C1090.67 239.585 1068.6 217.707 1041.37 217.707C1014.15 217.707 992.081 239.585 992.081 266.563Z" stroke="#00AEEF" stroke-opacity="0.5"/>
          <path class="op1" style="animation-delay: 1.75s;" d="M1004.31 267C1004.31 286.976 1020.89 303.19 1041.37 303.19C1061.86 303.19 1078.44 286.976 1078.44 267C1078.44 247.024 1061.86 230.81 1041.37 230.81C1020.89 230.81 1004.31 247.024 1004.31 267Z" stroke="#00AEEF"/>

          <path class="op2" style="animation-delay: 5s;" d="M830.14 527.044C830.14 567.204 863.204 599.772 904.008 599.772C944.811 599.772 977.875 567.204 977.875 527.044C977.875 486.885 944.811 454.317 904.008 454.317C863.204 454.317 830.14 486.885 830.14 527.044Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 5s;" d="M843.817 526.759C843.817 559.84 870.888 586.665 904.292 586.665C937.697 586.665 964.768 559.84 964.768 526.759C964.768 493.679 937.697 466.854 904.292 466.854C870.888 466.854 843.817 493.679 843.817 526.759Z" stroke="#00AEEF" stroke-opacity="0.8"/>
          <path class="op8" style="animation-delay: 5s;" d="M856.354 526.76C856.354 552.597 877.681 573.558 904.008 573.558C930.335 573.558 951.661 552.597 951.661 526.76C951.661 500.922 930.335 479.961 904.008 479.961C877.681 479.961 856.354 500.922 856.354 526.76Z" stroke="#00AEEF" stroke-opacity="0.5"/>
          <path class="op1" style="animation-delay: 5s;" d="M868.321 527.044C868.321 546.431 884.291 562.161 904.008 562.161C923.724 562.161 939.694 546.431 939.694 527.044C939.694 507.657 923.724 491.928 904.008 491.928C884.291 491.928 868.321 507.657 868.321 527.044Z" stroke="#00AEEF"/>

          <path class="op2" d="M1529.88 317C1529.88 355.93 1561.88 387.5 1601.38 387.5C1640.87 387.5 1672.88 355.93 1672.88 317C1672.88 278.07 1640.87 246.5 1601.38 246.5C1561.88 246.5 1529.88 278.07 1529.88 317Z" stroke="#00AEEF" stroke-opacity="0.2"/>
          <circle class="op5" r="58.5" transform="matrix(-1 0 0 1 1601.38 317)" stroke="#00AEEF"/>
          <path class="op8" d="M1557.88 317C1557.88 340.461 1577.34 359.5 1601.38 359.5C1625.41 359.5 1644.88 340.461 1644.88 317C1644.88 293.539 1625.41 274.5 1601.38 274.5C1577.34 274.5 1557.88 293.539 1557.88 317Z" stroke="#00AEEF"/>
          <circle class="op1" r="24.5" transform="matrix(-1 0 0 1 1601.38 317)" stroke="#00AEEF"/>

          <path class="op2" style="animation-delay: 1.5s;" d="M253.337 510.757C253.337 568.498 300.877 615.32 359.536 615.32C418.196 615.32 465.735 568.498 465.735 510.757C465.735 453.015 418.196 406.193 359.536 406.193C300.877 406.193 253.337 453.015 253.337 510.757Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 1.5s;" d="M272.96 510.348C272.96 557.932 311.9 596.515 359.945 596.515C407.99 596.515 446.93 557.932 446.93 510.348C446.93 462.763 407.99 424.181 359.945 424.181C311.9 424.181 272.96 462.763 272.96 510.348Z" stroke="#00AEEF"/>
          <path class="op8" style="animation-delay: 1.5s;" d="M290.948 510.348C290.948 547.543 321.648 577.71 359.537 577.71C397.426 577.71 428.125 547.543 428.125 510.348C428.125 473.153 397.426 442.986 359.537 442.986C321.648 442.986 290.948 473.153 290.948 510.348Z" stroke="#00AEEF"/>
          <path class="op1" style="animation-delay: 1.5s;" d="M308.117 510.757C308.117 538.696 331.13 561.358 359.535 561.358C387.941 561.358 410.954 538.696 410.954 510.757C410.954 482.818 387.941 460.156 359.535 460.156C331.13 460.156 308.117 482.818 308.117 510.757Z" stroke="#00AEEF"/>

          <path class="op2" style="animation-delay: 2.5s;" d="M308.72 177.243C308.72 210.784 336.335 237.987 370.417 237.987C404.498 237.987 432.113 210.784 432.113 177.243C432.113 143.703 404.498 116.5 370.417 116.5C336.335 116.5 308.72 143.703 308.72 177.243Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 2.5s;" d="M320.158 177.005C320.158 204.626 342.762 227.025 370.655 227.025C398.548 227.025 421.151 204.626 421.151 177.005C421.151 149.384 398.548 126.985 370.655 126.985C342.762 126.985 320.158 149.384 320.158 177.005Z" stroke="#00AEEF"/>
          <path class="op8" style="animation-delay: 2.5s;" d="M330.644 177.005C330.644 198.568 348.442 216.063 370.417 216.063C392.391 216.063 410.19 198.568 410.19 177.005C410.19 155.442 392.391 137.947 370.417 137.947C348.442 137.947 330.644 155.442 330.644 177.005Z" stroke="#00AEEF"/>
          <path class="op1" style="animation-delay: 2.5s;" d="M340.652 177.243C340.652 193.411 353.971 206.531 370.417 206.531C386.863 206.531 400.181 193.411 400.181 177.243C400.181 161.076 386.863 147.956 370.417 147.956C353.971 147.956 340.652 161.076 340.652 177.243Z" stroke="#00AEEF"/>

          <path class="op2" style="animation-delay: 5.3s;" d="M436.48 262C436.48 283.577 454.245 301.081 476.177 301.081C498.108 301.081 515.874 283.577 515.874 262C515.874 240.423 498.108 222.919 476.177 222.919C454.245 222.919 436.48 240.423 436.48 262Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 5.3s;" d="M443.872 261.846C443.872 279.598 458.4 293.997 476.331 293.997C494.262 293.997 508.789 279.598 508.789 261.846C508.789 244.094 494.262 229.695 476.331 229.695C458.4 229.695 443.872 244.094 443.872 261.846Z" stroke="#00AEEF"/>
          <path class="op8" style="animation-delay: 5.3s;" d="M450.649 261.846C450.649 275.681 462.07 286.912 476.177 286.912C490.284 286.912 501.705 275.681 501.705 261.846C501.705 248.011 490.284 236.78 476.177 236.78C462.07 236.78 450.649 248.011 450.649 261.846Z" stroke="#00AEEF"/>
          <path class="op1" style="animation-delay: 5.3s;" d="M457.117 262C457.117 272.349 465.643 280.752 476.177 280.752C486.711 280.752 495.236 272.349 495.236 262C495.236 251.651 486.711 243.249 476.177 243.249C465.643 243.249 457.117 251.651 457.117 262Z" stroke="#00AEEF"/>

          <path class="op2" d="M213.111 347C213.111 373.779 235.16 395.5 262.374 395.5C289.588 395.5 311.637 373.779 311.637 347C311.637 320.221 289.588 298.5 262.374 298.5C235.16 298.5 213.111 320.221 213.111 347Z" stroke="#00AEEF"/>
          <path class="op5" d="M222.263 346.809C222.263 368.852 240.303 386.73 262.565 386.73C284.827 386.73 302.866 368.852 302.866 346.809C302.866 324.766 284.827 306.889 262.565 306.889C240.303 306.889 222.263 324.766 222.263 346.809Z" stroke="#00AEEF"/>
          <path class="op8" d="M230.653 346.809C230.653 364.005 244.846 377.959 262.374 377.959C279.902 377.959 294.096 364.005 294.096 346.809C294.096 329.614 279.902 315.66 262.374 315.66C244.846 315.66 230.653 329.614 230.653 346.809Z" stroke="#00AEEF"/>
          <path class="op1" d="M238.66 347C238.66 359.879 249.269 370.333 262.374 370.333C275.478 370.333 286.088 359.879 286.088 347C286.088 334.121 275.478 323.667 262.374 323.667C249.269 323.667 238.66 334.121 238.66 347Z" stroke="#00AEEF"/>

          <path opacity="0.2" d="M78.1114 243C78.1114 269.779 100.16 291.5 127.374 291.5C154.588 291.5 176.637 269.779 176.637 243C176.637 216.221 154.588 194.5 127.374 194.5C100.16 194.5 78.1114 216.221 78.1114 243Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M87.2631 242.809C87.2631 264.852 105.302 282.73 127.565 282.73C149.827 282.73 167.866 264.852 167.866 242.809C167.866 220.766 149.827 202.889 127.565 202.889C105.302 202.889 87.2631 220.766 87.2631 242.809Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M95.6526 242.809C95.6526 260.005 109.846 273.959 127.374 273.959C144.902 273.959 159.096 260.005 159.096 242.809C159.096 225.614 144.902 211.66 127.374 211.66C109.846 211.66 95.6526 225.614 95.6526 242.809Z" stroke="#00AEEF"/>
          <path d="M103.66 243C103.66 255.879 114.269 266.333 127.374 266.333C140.478 266.333 151.088 255.879 151.088 243C151.088 230.121 140.478 219.667 127.374 219.667C114.269 219.667 103.66 230.121 103.66 243Z" stroke="#00AEEF"/>

          <path class="op2" d="M548.112 733C548.112 759.779 570.161 781.5 597.375 781.5C624.589 781.5 646.638 759.779 646.638 733C646.638 706.221 624.589 684.5 597.375 684.5C570.161 684.5 548.112 706.221 548.112 733Z" stroke="#00AEEF"/>
          <path class="op5" d="M557.264 732.809C557.264 754.852 575.303 772.73 597.566 772.73C619.828 772.73 637.867 754.852 637.867 732.809C637.867 710.766 619.828 692.889 597.566 692.889C575.303 692.889 557.264 710.766 557.264 732.809Z" stroke="#00AEEF"/>
          <path class="op8" d="M565.654 732.809C565.654 750.005 579.847 763.959 597.375 763.959C614.903 763.959 629.097 750.005 629.097 732.809C629.097 715.614 614.903 701.66 597.375 701.66C579.847 701.66 565.654 715.614 565.654 732.809Z" stroke="#00AEEF"/>
          <path class="op1" d="M573.661 733C573.661 745.879 584.27 756.333 597.375 756.333C610.479 756.333 621.089 745.879 621.089 733C621.089 720.121 610.479 709.667 597.375 709.667C584.27 709.667 573.661 720.121 573.661 733Z" stroke="#00AEEF"/>

          <path opacity="0.2" d="M916.874 769C916.874 795.779 938.922 817.5 966.137 817.5C993.351 817.5 1015.4 795.779 1015.4 769C1015.4 742.221 993.351 720.5 966.137 720.5C938.922 720.5 916.874 742.221 916.874 769Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M926.026 768.809C926.026 790.852 944.065 808.73 966.328 808.73C988.59 808.73 1006.63 790.852 1006.63 768.809C1006.63 746.766 988.59 728.889 966.328 728.889C944.065 728.889 926.026 746.766 926.026 768.809Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M934.415 768.809C934.415 786.005 948.609 799.959 966.137 799.959C983.665 799.959 997.859 786.005 997.859 768.809C997.859 751.614 983.665 737.66 966.137 737.66C948.609 737.66 934.415 751.614 934.415 768.809Z" stroke="#00AEEF"/>
          <path d="M942.423 769C942.423 781.879 953.032 792.333 966.137 792.333C979.241 792.333 989.851 781.879 989.851 769C989.851 756.121 979.241 745.667 966.137 745.667C953.032 745.667 942.423 756.121 942.423 769Z" stroke="#00AEEF"/>

          <path opacity="0.2" d="M1424.87 401C1424.87 427.779 1446.92 449.5 1474.14 449.5C1501.35 449.5 1523.4 427.779 1523.4 401C1523.4 374.221 1501.35 352.5 1474.14 352.5C1446.92 352.5 1424.87 374.221 1424.87 401Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1434.03 400.809C1434.03 422.852 1452.07 440.73 1474.33 440.73C1496.59 440.73 1514.63 422.852 1514.63 400.809C1514.63 378.766 1496.59 360.889 1474.33 360.889C1452.07 360.889 1434.03 378.766 1434.03 400.809Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1442.42 400.809C1442.42 418.005 1456.61 431.959 1474.14 431.959C1491.67 431.959 1505.86 418.005 1505.86 400.809C1505.86 383.614 1491.67 369.66 1474.14 369.66C1456.61 369.66 1442.42 383.614 1442.42 400.809Z" stroke="#00AEEF"/>
          <path d="M1450.42 401C1450.42 413.879 1461.03 424.333 1474.14 424.333C1487.24 424.333 1497.85 413.879 1497.85 401C1497.85 388.121 1487.24 377.667 1474.14 377.667C1461.03 377.667 1450.42 388.121 1450.42 401Z" stroke="#00AEEF"/>

          <path class="op2" d="M581.142 152C581.142 177.674 602.281 198.5 628.374 198.5C654.466 198.5 675.605 177.674 675.605 152C675.605 126.326 654.467 105.5 628.374 105.5C602.281 105.5 581.142 126.326 581.142 152Z" stroke="#00AEEF"/>
          <path class="op5" d="M589.921 151.817C589.921 172.949 607.214 190.088 628.557 190.088C649.9 190.088 667.193 172.949 667.193 151.817C667.193 130.685 649.9 113.547 628.557 113.547C607.214 113.547 589.921 130.685 589.921 151.817Z" stroke="#00AEEF"/>
          <path class="op8" d="M597.968 151.817C597.968 168.299 611.573 181.675 628.374 181.675C645.176 181.675 658.781 168.299 658.781 151.817C658.781 135.336 645.176 121.959 628.374 121.959C611.573 121.959 597.968 135.336 597.968 151.817Z" stroke="#00AEEF"/>
          <path class="op1" d="M605.648 152C605.648 164.342 615.815 174.36 628.374 174.36C640.932 174.36 651.1 164.342 651.1 152C651.1 139.658 640.932 129.64 628.374 129.64C615.815 129.64 605.648 139.658 605.648 152Z" stroke="#00AEEF"/>

          <path opacity="0.2" d="M1000.36 425.243C1000.36 441.663 1013.88 454.987 1030.57 454.987C1047.27 454.987 1060.79 441.663 1060.79 425.243C1060.79 408.824 1047.27 395.5 1030.57 395.5C1013.88 395.5 1000.36 408.824 1000.36 425.243Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1006.01 425.126C1006.01 438.624 1017.05 449.574 1030.69 449.574C1044.33 449.574 1055.37 438.624 1055.37 425.126C1055.37 411.628 1044.33 400.678 1030.69 400.678C1017.05 400.678 1006.01 411.628 1006.01 425.126Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1011.18 425.126C1011.18 435.63 1019.86 444.16 1030.57 444.16C1041.29 444.16 1049.96 435.63 1049.96 425.126C1049.96 414.622 1041.29 406.091 1030.57 406.091C1019.86 406.091 1011.18 414.622 1011.18 425.126Z" stroke="#00AEEF"/>
          <path d="M1016.13 425.243C1016.13 433.084 1022.59 439.453 1030.57 439.453C1038.56 439.453 1045.02 433.084 1045.02 425.243C1045.02 417.403 1038.56 411.034 1030.57 411.034C1022.59 411.034 1016.13 417.403 1016.13 425.243Z" stroke="#00AEEF"/>
          <path opacity="0.2" d="M1193.73 367.5C1193.73 392.909 1214.65 413.52 1240.47 413.52C1266.3 413.52 1287.22 392.909 1287.22 367.5C1287.22 342.091 1266.3 321.48 1240.47 321.48C1214.65 321.48 1193.73 342.091 1193.73 367.5Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1202.42 367.319C1202.42 388.232 1219.53 405.193 1240.65 405.193C1261.78 405.193 1278.89 388.232 1278.89 367.319C1278.89 346.406 1261.78 329.445 1240.65 329.445C1219.53 329.445 1202.42 346.406 1202.42 367.319Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1210.38 367.319C1210.38 383.629 1223.85 396.867 1240.47 396.867C1257.1 396.867 1270.57 383.629 1270.57 367.319C1270.57 351.009 1257.1 337.771 1240.47 337.771C1223.85 337.771 1210.38 351.009 1210.38 367.319Z" stroke="#00AEEF"/>
          <path d="M1217.99 367.5C1217.99 379.712 1228.05 389.626 1240.47 389.626C1252.9 389.626 1262.96 379.712 1262.96 367.5C1262.96 355.287 1252.9 345.374 1240.47 345.374C1228.05 345.374 1217.99 355.287 1217.99 367.5Z" stroke="#00AEEF"/>

          <path opacity="0.5" d="M1302.01 267.592C1302.01 279.86 1312.05 289.813 1324.44 289.813C1336.83 289.813 1346.88 279.86 1346.88 267.592C1346.88 255.324 1336.83 245.372 1324.44 245.372C1312.05 245.372 1302.01 255.324 1302.01 267.592Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1306.72 267.592C1306.72 277.133 1314.6 284.883 1324.33 284.883C1334.07 284.883 1341.95 277.133 1341.95 267.592C1341.95 258.051 1334.07 250.302 1324.33 250.302C1314.6 250.302 1306.72 258.051 1306.72 267.592Z" stroke="#00AEEF"/>
          <path d="M1311.22 267.699C1311.22 274.814 1317.08 280.596 1324.33 280.596C1331.58 280.596 1337.44 274.814 1337.44 267.699C1337.44 260.584 1331.58 254.803 1324.33 254.803C1317.08 254.803 1311.22 260.584 1311.22 267.699Z" stroke="#00AEEF"/>
          <path opacity="0.2" d="M1202.33 229.757C1202.33 239.556 1210.4 247.513 1220.37 247.513C1230.35 247.513 1238.42 239.556 1238.42 229.757C1238.42 219.957 1230.35 212 1220.37 212C1210.4 212 1202.33 219.957 1202.33 229.757Z" stroke="#00AEEF"/>
          <path d="M1207.38 229.757C1207.38 236.808 1213.19 242.538 1220.37 242.538C1227.56 242.538 1233.37 236.808 1233.37 229.757C1233.37 222.705 1227.56 216.975 1220.37 216.975C1213.19 216.975 1207.38 222.705 1207.38 229.757Z" stroke="#00AEEF"/>

          <path class="op2" style="animation-delay: 1.35s;" d="M1393.13 177.757C1393.13 193.103 1405.77 205.557 1421.37 205.557C1436.98 205.557 1449.62 193.103 1449.62 177.757C1449.62 162.41 1436.98 149.956 1421.37 149.956C1405.77 149.956 1393.13 162.41 1393.13 177.757Z" stroke="#00AEEF"/>
          <path class="op5" style="animation-delay: 1.35s;" d="M1398.42 177.646C1398.42 190.259 1408.74 200.492 1421.48 200.492C1434.23 200.492 1444.55 190.259 1444.55 177.646C1444.55 165.034 1434.23 154.801 1421.48 154.801C1408.74 154.801 1398.42 165.034 1398.42 177.646Z" stroke="#00AEEF"/>
          <path class="op8" style="animation-delay: 1.35s;" d="M1403.26 177.646C1403.26 187.458 1411.36 195.426 1421.37 195.426C1431.38 195.426 1439.48 187.458 1439.48 177.646C1439.48 167.835 1431.38 159.867 1421.37 159.867C1411.36 159.867 1403.26 167.835 1403.26 177.646Z" stroke="#00AEEF"/>
          <path class="op1" style="animation-delay: 1.35s;" d="M1407.89 177.757C1407.89 185.075 1413.92 191.022 1421.37 191.022C1428.83 191.022 1434.86 185.075 1434.86 177.757C1434.86 170.438 1428.83 164.492 1421.37 164.492C1413.92 164.492 1407.89 170.438 1407.89 177.757Z" stroke="#00AEEF"/>

          <circle cx="903.375" cy="527" r="3" fill="#56CCF2"/>
          <circle cx="347.374" cy="350" r="3" fill="#56CCF2"/>
          <circle cx="252.374" cy="144" r="3" fill="#56CCF2"/>
          <circle cx="513.374" cy="319" r="3" fill="#56CCF2"/>
          <circle cx="325.374" cy="318" r="3" fill="#56CCF2"/>
          <circle cx="903.375" cy="270" r="3" fill="#56CCF2"/>
          <circle cx="943.193" cy="116" r="3" fill="#56CCF2"/>
          <circle cx="303.374" cy="396" r="3" fill="#56CCF2"/>
          <circle cx="476.374" cy="261" r="3" fill="#56CCF2"/>
          <circle cx="389.374" cy="349" r="3" fill="#56CCF2"/>
          <circle cx="250.374" cy="212" r="3" fill="#56CCF2"/>
          <circle cx="208.374" cy="295" r="3" fill="#56CCF2"/>
          <circle cx="595.374" cy="734" r="3" fill="#56CCF2"/>
          <circle cx="263.374" cy="347" r="3" fill="#56CCF2"/>
          <circle cx="193.374" cy="244" r="3" fill="#56CCF2"/>
          <circle cx="128.374" cy="243" r="3" fill="#56CCF2"/>
          <circle cx="455.374" cy="655" r="3" fill="#56CCF2"/>
          <circle cx="160.374" cy="348" r="3" fill="#56CCF2"/>
          <circle cx="456.374" cy="732" r="3" fill="#56CCF2"/>
          <circle cx="259.374" cy="266" r="3" fill="#56CCF2"/>
          <circle cx="61.375" cy="221" r="3" fill="#56CCF2"/>
          <circle cx="517.375" cy="672" r="3" fill="#56CCF2"/>
          <circle cx="852.375" cy="384" r="3" fill="#56CCF2"/>
          <circle cx="13.374" cy="237" r="3" fill="#56CCF2"/>
          <circle cx="1488.38" cy="255" r="3" fill="#56CCF2"/>
          <circle cx="1030.38" cy="425" r="3" fill="#56CCF2"/>
          <circle cx="1474.37" cy="401" r="3" fill="#56CCF2"/>
          <circle cx="1033.37" cy="713" r="3" fill="#56CCF2"/>
          <circle cx="1220.37" cy="230" r="3" fill="#56CCF2"/>
          <circle cx="942.375" cy="634" r="3" fill="#56CCF2"/>
          <circle cx="921.374" cy="710" r="3" fill="#56CCF2"/>
          <circle cx="966.374" cy="769" r="3" fill="#56CCF2"/>
          <circle cx="663.374" cy="119" r="3" fill="#56CCF2"/>
          <circle cx="719.374" cy="123" r="3" fill="#56CCF2"/>
          <circle cx="590.374" cy="133" r="3" fill="#56CCF2"/>
          <circle cx="520.374" cy="126" r="3" fill="#56CCF2"/>
          <circle cx="628.374" cy="152" r="3" fill="#56CCF2"/>
          <circle cx="600.375" cy="261" r="3" fill="#56CCF2"/>
          <circle cx="704.374" cy="176" r="3" fill="#56CCF2"/>
          <circle cx="361.375" cy="509" r="3" fill="#56CCF2"/>
          <circle cx="1243.38" cy="525" r="3" fill="#56CCF2"/>
          <circle cx="1421.37" cy="177" r="3" fill="#56CCF2"/>
          <circle cx="1241.38" cy="368" r="3" fill="#56CCF2"/>
          <circle cx="1359.37" cy="366" r="3" fill="#56CCF2"/>
          <circle cx="1731.37" cy="274" r="3" fill="#56CCF2"/>
          <circle cx="1393.37" cy="453.817" r="3" fill="#56CCF2"/>
          <circle cx="1181.38" cy="447.817" r="3" fill="#56CCF2"/>
          <circle cx="789.375" cy="565.661" r="3" fill="#56CCF2"/>
          <circle cx="1019.18" cy="521.534" r="3" fill="#56CCF2"/>
          <circle cx="1167.18" cy="263.563" r="3" fill="#56CCF2"/>
          <circle cx="1424.48" cy="233.31" r="3" fill="#56CCF2"/>
          <circle cx="1297.38" cy="444.229" r="3" fill="#56CCF2"/>
          <circle cx="1573.38" cy="768" r="3" fill="#56CCF2"/>
          <circle cx="1442.98" cy="669" r="3" fill="#56CCF2"/>
          <circle cx="1491.38" cy="612.82" r="3" fill="#56CCF2"/>
          <circle cx="1670.38" cy="224.525" r="3" fill="#56CCF2"/>
          <circle cx="910.732" cy="363" r="3" fill="#56CCF2"/>
          <circle cx="1055.87" cy="581.21" r="3" fill="#56CCF2"/>
          <circle cx="445.875" cy="383" r="3" fill="#56CCF2"/>
          <circle cx="3.375" cy="315" r="3" fill="#56CCF2"/>
          <circle cx="516.374" cy="719" r="3" fill="#56CCF2"/>
          <circle cx="516.374" cy="815" r="3" fill="#56CCF2"/>
          <circle cx="458.374" cy="934.18" r="3" fill="#56CCF2"/>
          <circle cx="492.736" cy="886" r="3" fill="#56CCF2"/>
          <circle cx="238.16" cy="433" r="3" fill="#56CCF2"/>
          <circle cx="566.375" cy="102" r="3" fill="#56CCF2"/>
          <circle cx="1467.85" cy="318" r="3" fill="#56CCF2"/>
          <circle cx="1396.37" cy="517" r="3" fill="#56CCF2"/>
          <circle cx="1092.37" cy="490" r="3" fill="#56CCF2"/>
          <circle cx="972.375" cy="368" r="3" fill="#56CCF2"/>
          <circle cx="1324.37" cy="268" r="3" fill="#56CCF2"/>
          <circle cx="1147.38" cy="364" r="3" fill="#56CCF2"/>
          <circle cx="1601.38" cy="316" r="3" fill="#56CCF2"/>
          <g filter="url(#filter0_d)">
          <circle cx="1602.88" cy="316.5" r="10.5" fill="#37A752"/>
          </g>
          <path d="M1600.86 316.046C1601.4 317.107 1602.27 317.974 1603.33 318.517L1604.15 317.692C1604.25 317.591 1604.4 317.557 1604.54 317.602C1604.96 317.741 1605.41 317.816 1605.87 317.816C1606.08 317.816 1606.25 317.985 1606.25 318.191V319.5C1606.25 319.706 1606.08 319.875 1605.87 319.875C1602.35 319.875 1599.5 317.021 1599.5 313.5C1599.5 313.294 1599.67 313.125 1599.87 313.125H1601.19C1601.39 313.125 1601.56 313.294 1601.56 313.5C1601.56 313.969 1601.64 314.419 1601.78 314.839C1601.82 314.97 1601.79 315.116 1601.68 315.221L1600.86 316.046Z" fill="white"/>

          <path class="op5" style="animation-delay: 2.5s;" d="M1537.5 768C1537.5 786.488 1552.93 801.5 1572 801.5C1591.07 801.5 1606.5 786.488 1606.5 768C1606.5 749.512 1591.07 734.5 1572 734.5C1552.93 734.5 1537.5 749.512 1537.5 768Z" stroke="#00AEEF" stroke-opacity="0.2"/>
          <circle class="op8" style="animation-delay: 2.5s;" r="27.5" transform="matrix(-1 0 0 1 1573 768)" stroke="#00AEEF"/>
          <path class="op1" style="animation-delay: 2.5s;" d="M1552.5 768C1552.5 778.747 1561.65 787.5 1573 787.5C1584.35 787.5 1593.5 778.747 1593.5 768C1593.5 757.253 1584.35 748.5 1573 748.5C1561.65 748.5 1552.5 757.253 1552.5 768Z" stroke="#00AEEF"/>
          <circle r="11.5" transform="matrix(-1 0 0 1 1573 768)" stroke="#00AEEF"/>

          <g filter="url(#filter1_d)">
          <circle cx="1572.89" cy="767.704" r="12.113" fill="#37A752"/>
          </g>
          <path d="M1570.56 767.181C1571.18 768.405 1572.19 769.405 1573.41 770.032L1574.36 769.08C1574.48 768.963 1574.65 768.924 1574.8 768.976C1575.29 769.136 1575.81 769.223 1576.35 769.223C1576.59 769.223 1576.78 769.418 1576.78 769.656V771.165C1576.78 771.403 1576.59 771.598 1576.35 771.598C1572.29 771.598 1568.99 768.306 1568.99 764.244C1568.99 764.006 1569.19 763.811 1569.43 763.811H1570.94C1571.18 763.811 1571.37 764.006 1571.37 764.244C1571.37 764.784 1571.46 765.304 1571.62 765.788C1571.67 765.939 1571.63 766.108 1571.51 766.229L1570.56 767.181Z" fill="white"/>
          <circle cx="1043.37" cy="268" r="4" fill="#56CCF2"/>
          <g filter="url(#filter2_d)">
          <circle r="18.499" transform="matrix(-1 0 0 1 903.875 525.5)" fill="white"/>
          </g>
          <g clip-path="url(#clip0)">
          <path d="M902.45 532.615H906.244V517.436H902.45V532.615ZM896.758 532.615H900.552V525.026H896.758V532.615ZM908.142 522.18V532.615H911.936V522.18H908.142Z" fill="#C1C1C1"/>
          </g>
          <g filter="url(#filter3_d)">
          <circle cx="1041.88" cy="268.5" r="25.6907" fill="#F9CA48"/>
          </g>
          <g filter="url(#filter4_d)">
          <circle cx="369.875" cy="177.5" r="16.499" fill="white"/>
          </g>
          <path d="M366.705 176.787C367.553 178.455 368.92 179.816 370.588 180.67L371.884 179.374C372.043 179.215 372.279 179.162 372.485 179.232C373.145 179.45 373.858 179.568 374.589 179.568C374.913 179.568 375.178 179.833 375.178 180.158V182.214C375.178 182.538 374.913 182.803 374.589 182.803C369.056 182.803 364.572 178.319 364.572 172.786C364.572 172.462 364.837 172.197 365.161 172.197H367.223C367.547 172.197 367.812 172.462 367.812 172.786C367.812 173.523 367.93 174.23 368.148 174.89C368.213 175.096 368.166 175.326 368.001 175.491L366.705 176.787Z" fill="#2962FF"/>
          <path d="M1047.4 253.292H1037.06C1035.28 253.292 1033.83 254.738 1033.83 256.521V278.479C1033.83 280.262 1035.28 281.708 1037.06 281.708H1047.4C1049.18 281.708 1050.62 280.262 1050.62 278.479V256.521C1050.62 254.738 1049.18 253.292 1047.4 253.292ZM1042.23 280.417C1041.16 280.417 1040.29 279.551 1040.29 278.479C1040.29 277.407 1041.16 276.542 1042.23 276.542C1043.3 276.542 1044.17 277.407 1044.17 278.479C1044.17 279.551 1043.3 280.417 1042.23 280.417ZM1048.04 275.25H1036.42V257.167H1048.04V275.25Z" fill="white"/>
          <path opacity="0.2" d="M631.718 57C631.718 88.1987 657.302 113.5 688.874 113.5C720.445 113.5 746.029 88.1987 746.029 57C746.029 25.8013 720.445 0.5 688.874 0.5C657.302 0.5 631.718 25.8013 631.718 57Z" stroke="#00AEEF"/>
          <path opacity="0.2" d="M642.201 56.6725C642.201 82.2615 663.237 103.017 689.201 103.017C715.165 103.017 736.201 82.2615 736.201 56.6725C736.201 31.0834 715.165 10.3276 689.201 10.3276C663.237 10.3276 642.201 31.0834 642.201 56.6725Z" stroke="#00AEEF" stroke-opacity="0.8"/>
          <path d="M652.029 56.6723C652.029 76.836 668.52 93.1895 688.873 93.1895C709.226 93.1895 725.718 76.836 725.718 56.6723C725.718 36.5085 709.226 20.155 688.873 20.155C668.52 20.155 652.029 36.5085 652.029 56.6723Z" stroke="#00AEEF" stroke-opacity="0.5"/>
          <path d="M661.201 56.9999C661.201 71.9101 673.579 84.0172 688.873 84.0172C704.168 84.0172 716.546 71.9101 716.546 56.9999C716.546 42.0897 704.168 29.9827 688.873 29.9827C673.579 29.9827 661.201 42.0897 661.201 56.9999Z" stroke="#00AEEF"/>
          <g filter="url(#filter5_d)">
          <circle cx="689.249" cy="58.125" r="19.268" fill="#F9CA48"/>
          </g>
          <g filter="url(#filter6_d)">
          <circle cx="262.374" cy="345.691" r="13.1907" fill="#F9CA48"/>
          </g>
          <g clip-path="url(#clip1)">
          <path d="M265.208 337.882H259.903C258.987 337.882 258.245 338.625 258.245 339.54V350.814C258.245 351.73 258.987 352.472 259.903 352.472H265.208C266.123 352.472 266.866 351.73 266.866 350.814V339.54C266.866 338.625 266.123 337.882 265.208 337.882ZM262.555 351.809C262.005 351.809 261.561 351.365 261.561 350.814C261.561 350.264 262.005 349.82 262.555 349.82C263.106 349.82 263.55 350.264 263.55 350.814C263.55 351.365 263.106 351.809 262.555 351.809ZM265.54 349.156H259.571V339.872H265.54V349.156Z" fill="white"/>
          </g>
          <g filter="url(#filter7_d)">
          <circle cx="360.375" cy="507.5" r="27.999" fill="white"/>
          </g>
          <path d="M349.405 508.257C349.405 507.101 349.57 505.945 349.982 504.872L343.874 500.167C342.635 502.643 341.975 505.367 341.975 508.257C341.975 511.146 342.635 513.87 343.874 516.264L349.982 511.559C349.57 510.568 349.405 509.412 349.405 508.257Z" fill="#929292"/>
          <path d="M360.136 497.525C362.695 497.525 365.007 498.433 366.823 499.919L372.106 494.636C368.887 491.829 364.759 490.095 360.136 490.095C352.954 490.095 346.763 494.223 343.873 500.249L349.982 504.955C351.386 500.579 355.348 497.525 360.136 497.525Z" fill="#929292"/>
          <path d="M360.136 518.989C355.348 518.989 351.386 515.934 349.982 511.641L343.873 516.347C346.763 522.291 352.954 526.418 360.136 526.418C364.594 526.418 368.804 524.85 371.941 521.878L366.162 517.42C364.511 518.411 362.448 518.989 360.136 518.989Z" fill="#929292"/>
          <path d="M360.136 504.955L360.136 511.972L369.878 511.972C369.382 514.366 368.062 516.182 366.163 517.42L371.941 521.878C375.244 518.741 377.472 514.201 377.472 508.257C377.472 507.184 377.307 506.028 377.06 504.955L360.136 504.955Z" fill="#929292"/>
          <g filter="url(#filter8_d)">
          <circle cx="598.374" cy="733" r="11" fill="white"/>
          </g>
          <path d="M594.064 733.297C594.064 732.843 594.129 732.389 594.291 731.968L591.891 730.119C591.405 731.092 591.146 732.162 591.146 733.297C591.146 734.432 591.405 735.503 591.891 736.443L594.291 734.595C594.129 734.205 594.064 733.751 594.064 733.297Z" fill="#929292"/>
          <path d="M598.281 729.081C599.286 729.081 600.194 729.438 600.908 730.022L602.983 727.946C601.718 726.843 600.097 726.162 598.281 726.162C595.459 726.162 593.026 727.784 591.891 730.151L594.291 732C594.843 730.281 596.399 729.081 598.281 729.081Z" fill="#929292"/>
          <path d="M598.281 737.513C596.399 737.513 594.843 736.313 594.291 734.627L591.891 736.476C593.026 738.811 595.459 740.432 598.281 740.432C600.032 740.432 601.686 739.816 602.918 738.649L600.648 736.897C599.999 737.286 599.189 737.513 598.281 737.513Z" fill="#929292"/>
          <path d="M598.281 732L598.281 734.757L602.108 734.757C601.913 735.697 601.394 736.411 600.648 736.897L602.919 738.649C604.216 737.416 605.092 735.632 605.092 733.297C605.092 732.876 605.027 732.422 604.929 732L598.281 732Z" fill="#929292"/>
          <g filter="url(#filter9_d)">
          <circle cx="1030.37" cy="425.68" r="8.68042" fill="white"/>
          </g>
          <path d="M1026.97 425.915C1026.97 425.557 1027.02 425.199 1027.15 424.866L1025.26 423.407C1024.87 424.175 1024.67 425.019 1024.67 425.915C1024.67 426.811 1024.87 427.655 1025.26 428.398L1027.15 426.939C1027.02 426.632 1026.97 426.273 1026.97 425.915Z" fill="#929292"/>
          <path d="M1030.3 422.588C1031.09 422.588 1031.81 422.869 1032.37 423.33L1034.01 421.692C1033.01 420.822 1031.73 420.285 1030.3 420.285C1028.07 420.285 1026.15 421.564 1025.26 423.433L1027.15 424.891C1027.59 423.535 1028.82 422.588 1030.3 422.588Z" fill="#929292"/>
          <path d="M1030.3 429.242C1028.82 429.242 1027.59 428.295 1027.15 426.964L1025.26 428.423C1026.15 430.266 1028.07 431.546 1030.3 431.546C1031.68 431.546 1032.99 431.059 1033.96 430.138L1032.17 428.756C1031.66 429.063 1031.02 429.242 1030.3 429.242Z" fill="#929292"/>
          <path d="M1030.3 424.891L1030.3 427.067L1033.32 427.067C1033.17 427.809 1032.76 428.372 1032.17 428.756L1033.96 430.138C1034.98 429.165 1035.67 427.758 1035.67 425.915C1035.67 425.582 1035.62 425.224 1035.55 424.891L1030.3 424.891Z" fill="#929292"/>
          <path opacity="0.2" d="M881.5 361.243C881.5 377.663 895.02 390.987 911.714 390.987C928.408 390.987 941.928 377.663 941.928 361.243C941.928 344.824 928.408 331.5 911.714 331.5C895.02 331.5 881.5 344.824 881.5 361.243Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M887.148 361.126C887.148 374.624 898.195 385.574 911.832 385.574C925.468 385.574 936.515 374.624 936.515 361.126C936.515 347.628 925.468 336.678 911.832 336.678C898.195 336.678 887.148 347.628 887.148 361.126Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M892.327 361.126C892.327 371.63 900.998 380.16 911.714 380.16C922.43 380.16 931.102 371.63 931.102 361.126C931.102 350.622 922.43 342.091 911.714 342.091C900.998 342.091 892.327 350.622 892.327 361.126Z" stroke="#00AEEF"/>
          <path d="M897.269 361.243C897.269 369.084 903.728 375.453 911.714 375.453C919.699 375.453 926.159 369.084 926.159 361.243C926.159 353.403 919.699 347.034 911.714 347.034C903.728 347.034 897.269 353.403 897.269 361.243Z" stroke="#00AEEF"/>
          <g filter="url(#filter10_d)">
          <circle cx="911.517" cy="361.68" r="8.68042" fill="white"/>
          </g>
          <path d="M908.116 361.915C908.116 361.557 908.167 361.199 908.295 360.866L906.401 359.407C906.017 360.175 905.813 361.019 905.813 361.915C905.813 362.811 906.017 363.655 906.401 364.398L908.295 362.939C908.167 362.632 908.116 362.273 908.116 361.915Z" fill="#929292"/>
          <path d="M911.443 358.588C912.236 358.588 912.953 358.869 913.516 359.33L915.154 357.692C914.156 356.822 912.876 356.285 911.443 356.285C909.216 356.285 907.297 357.564 906.401 359.433L908.295 360.891C908.73 359.535 909.959 358.588 911.443 358.588Z" fill="#929292"/>
          <path d="M911.443 365.242C909.959 365.242 908.73 364.295 908.295 362.964L906.401 364.423C907.297 366.266 909.216 367.546 911.443 367.546C912.825 367.546 914.13 367.059 915.103 366.138L913.311 364.756C912.799 365.063 912.16 365.242 911.443 365.242Z" fill="#929292"/>
          <path d="M911.443 360.891L911.443 363.067L914.463 363.067C914.31 363.809 913.9 364.372 913.312 364.756L915.103 366.138C916.127 365.165 916.818 363.758 916.818 361.915C916.818 361.582 916.767 361.224 916.69 360.891L911.443 360.891Z" fill="#929292"/>
          <g filter="url(#filter11_d)">
          <circle cx="1241.38" cy="367.5" r="12.5" fill="white"/>
          </g>
          <g clip-path="url(#clip2)">
          <path d="M1249.52 363.377C1249.33 362.642 1248.75 362.061 1248.01 361.858C1246.69 361.5 1241.38 361.5 1241.38 361.5C1241.38 361.5 1236.06 361.5 1234.73 361.858C1234 362.052 1233.43 362.632 1233.22 363.377C1232.88 364.713 1232.88 367.5 1232.88 367.5C1232.88 367.5 1232.88 370.287 1233.23 371.623C1233.43 372.358 1234.01 372.939 1234.74 373.142C1236.06 373.5 1241.38 373.5 1241.38 373.5C1241.38 373.5 1246.69 373.5 1248.02 373.142C1248.76 372.948 1249.33 372.368 1249.53 371.623C1249.88 370.287 1249.88 367.5 1249.88 367.5C1249.88 367.5 1249.88 364.713 1249.52 363.377Z" fill="#FF0000"/>
          <path d="M1239.64 370.035L1244.08 367.5L1239.64 364.964V370.035Z" fill="white"/>
          </g>
          <path opacity="0.2" d="M1440.5 617.52C1440.5 642.928 1461.42 663.539 1487.24 663.539C1513.07 663.539 1533.99 642.928 1533.99 617.52C1533.99 592.111 1513.07 571.5 1487.24 571.5C1461.42 571.5 1440.5 592.111 1440.5 617.52Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1449.19 617.339C1449.19 638.251 1466.3 655.213 1487.42 655.213C1508.55 655.213 1525.66 638.251 1525.66 617.339C1525.66 596.426 1508.55 579.464 1487.42 579.464C1466.3 579.464 1449.19 596.426 1449.19 617.339Z" stroke="#00AEEF"/>
          <path opacity="0.5" d="M1457.15 617.338C1457.15 633.649 1470.62 646.886 1487.24 646.886C1503.87 646.886 1517.33 633.649 1517.33 617.338C1517.33 601.028 1503.87 587.791 1487.24 587.791C1470.62 587.791 1457.15 601.028 1457.15 617.338Z" stroke="#00AEEF"/>
          <path d="M1464.76 617.52C1464.76 629.732 1474.82 639.646 1487.24 639.646C1499.67 639.646 1509.73 629.732 1509.73 617.52C1509.73 605.307 1499.67 595.393 1487.24 595.393C1474.82 595.393 1464.76 605.307 1464.76 617.52Z" stroke="#00AEEF"/>
          <g filter="url(#filter12_d)">
          <circle cx="1488.15" cy="617.52" r="12.5" fill="white"/>
          </g>
          <g clip-path="url(#clip3)">
          <path d="M1496.29 613.397C1496.1 612.661 1495.52 612.081 1494.78 611.878C1493.46 611.52 1488.15 611.52 1488.15 611.52C1488.15 611.52 1482.83 611.52 1481.5 611.878C1480.77 612.071 1480.2 612.652 1479.99 613.397C1479.65 614.732 1479.65 617.52 1479.65 617.52C1479.65 617.52 1479.65 620.307 1480 621.642C1480.2 622.378 1480.78 622.958 1481.51 623.161C1482.83 623.52 1488.15 623.52 1488.15 623.52C1488.15 623.52 1493.46 623.52 1494.79 623.161C1495.53 622.968 1496.1 622.387 1496.3 621.642C1496.65 620.307 1496.65 617.52 1496.65 617.52C1496.65 617.52 1496.65 614.732 1496.29 613.397Z" fill="#FF0000"/>
          <path d="M1486.41 620.055L1490.85 617.52L1486.41 614.984V620.055Z" fill="white"/>
          </g>
          <g filter="url(#filter13_d)">
          <circle cx="477.117" cy="262.5" r="12.5" fill="white"/>
          </g>
          <g clip-path="url(#clip4)">
          <path d="M485.26 258.377C485.067 257.642 484.487 257.061 483.753 256.858C482.43 256.5 477.117 256.5 477.117 256.5C477.117 256.5 471.805 256.5 470.472 256.858C469.738 257.052 469.168 257.632 468.965 258.377C468.617 259.713 468.617 262.5 468.617 262.5C468.617 262.5 468.617 265.287 468.975 266.623C469.168 267.358 469.747 267.939 470.481 268.142C471.805 268.5 477.117 268.5 477.117 268.5C477.117 268.5 482.43 268.5 483.763 268.142C484.497 267.948 485.067 267.368 485.269 266.623C485.617 265.287 485.617 262.5 485.617 262.5C485.617 262.5 485.617 259.713 485.26 258.377Z" fill="#FF0000"/>
          <path d="M475.379 265.035L479.822 262.5L475.379 259.964V265.035Z" fill="white"/>
          </g>
          <g filter="url(#filter14_d)">
          <circle cx="128.875" cy="243.038" r="12.5" fill="white"/>
          </g>
          <g clip-path="url(#clip5)">
          <path d="M137.018 238.915C136.824 238.18 136.245 237.599 135.511 237.396C134.187 237.038 128.875 237.038 128.875 237.038C128.875 237.038 123.562 237.038 122.23 237.396C121.495 237.589 120.926 238.17 120.723 238.915C120.375 240.251 120.375 243.038 120.375 243.038C120.375 243.038 120.375 245.825 120.732 247.16C120.926 247.896 121.505 248.477 122.239 248.68C123.562 249.038 128.875 249.038 128.875 249.038C128.875 249.038 134.188 249.038 135.52 248.68C136.255 248.486 136.824 247.906 137.027 247.16C137.375 245.825 137.375 243.038 137.375 243.038C137.375 243.038 137.375 240.251 137.018 238.915Z" fill="#FF0000"/>
          <path d="M127.136 245.573L131.579 243.038L127.136 240.502V245.573Z" fill="white"/>
          </g>
          <g filter="url(#filter15_d)">
          <circle cx="1243.38" cy="525.589" r="15.6879" transform="rotate(-90.9551 1243.38 525.589)" fill="#019FF1"/>
          </g>
          <g clip-path="url(#clip6)">
          <path d="M1241.46 520.386C1241.57 520.081 1241.73 519.8 1241.97 519.572C1242.92 518.646 1244.48 518.879 1245.13 520.042C1245.61 520.925 1246.12 521.787 1246.62 522.66C1247.45 524.11 1248.29 525.559 1249.11 527.014C1249.81 528.23 1249.06 529.767 1247.68 529.976C1246.84 530.102 1246.05 529.714 1245.62 528.958C1244.89 527.683 1244.16 526.408 1243.43 525.137C1243.41 525.108 1243.39 525.084 1243.37 525.06C1243.3 524.997 1243.26 524.905 1243.21 524.822C1242.89 524.25 1242.56 523.683 1242.23 523.116C1242.02 522.747 1241.81 522.384 1241.6 522.015C1241.41 521.686 1241.32 521.327 1241.33 520.949C1241.35 520.755 1241.37 520.561 1241.46 520.386Z" fill="white"/>
          <path d="M1241.46 520.386C1241.42 520.561 1241.38 520.736 1241.37 520.92C1241.35 521.327 1241.45 521.705 1241.66 522.059C1242.19 522.975 1242.72 523.896 1243.25 524.818C1243.3 524.9 1243.33 524.982 1243.38 525.06C1243.09 525.564 1242.8 526.063 1242.51 526.568C1242.1 527.271 1241.7 527.978 1241.28 528.681C1241.27 528.681 1241.26 528.672 1241.26 528.657C1241.25 528.618 1241.27 528.584 1241.28 528.546C1241.47 527.818 1241.31 527.174 1240.81 526.621C1240.51 526.286 1240.12 526.097 1239.68 526.034C1239.1 525.952 1238.58 526.102 1238.12 526.466C1238.04 526.529 1237.99 526.621 1237.89 526.669C1237.87 526.669 1237.86 526.66 1237.86 526.645C1238.09 526.243 1238.32 525.84 1238.55 525.438C1239.51 523.77 1240.46 522.103 1241.43 520.44C1241.43 520.42 1241.45 520.406 1241.46 520.386Z" fill="#E5E5E5"/>
          <path d="M1237.88 526.66C1237.97 526.577 1238.06 526.49 1238.15 526.412C1239.33 525.482 1241.09 526.156 1241.35 527.629C1241.41 527.983 1241.38 528.323 1241.27 528.662C1241.27 528.691 1241.26 528.715 1241.25 528.744C1241.21 528.822 1241.17 528.904 1241.12 528.982C1240.69 529.695 1240.06 530.048 1239.23 529.995C1238.27 529.927 1237.52 529.21 1237.39 528.26C1237.33 527.799 1237.42 527.367 1237.66 526.97C1237.71 526.883 1237.77 526.805 1237.82 526.718C1237.84 526.698 1237.83 526.66 1237.88 526.66Z" fill="#7F7F7F"/>
          <path d="M1237.88 526.66C1237.86 526.679 1237.86 526.713 1237.82 526.718C1237.82 526.684 1237.84 526.665 1237.86 526.64L1237.88 526.66Z" fill="#FABC04"/>
          <path d="M1241.25 528.744C1241.23 528.71 1241.25 528.686 1241.27 528.662C1241.28 528.667 1241.29 528.676 1241.29 528.681L1241.25 528.744Z" fill="#E1C025"/>
          </g>
          <g filter="url(#filter16_d)">
          <circle cx="628.374" cy="151.456" r="9.83076" transform="rotate(-90.9551 628.374 151.456)" fill="#019FF1"/>
          </g>
          <g clip-path="url(#clip7)">
          <path d="M627.173 148.196C627.246 148.004 627.346 147.828 627.494 147.685C628.088 147.105 629.069 147.251 629.472 147.98C629.775 148.533 630.096 149.074 630.408 149.621C630.929 150.529 631.455 151.437 631.97 152.349C632.403 153.111 631.934 154.074 631.074 154.205C630.547 154.284 630.053 154.041 629.781 153.567C629.323 152.768 628.863 151.969 628.406 151.173C628.397 151.155 628.385 151.139 628.372 151.124C628.324 151.085 628.303 151.027 628.273 150.975C628.07 150.617 627.861 150.262 627.658 149.906C627.528 149.675 627.391 149.447 627.261 149.216C627.143 149.01 627.088 148.785 627.094 148.548C627.104 148.427 627.119 148.305 627.173 148.196Z" fill="white"/>
          <path d="M627.173 148.196C627.146 148.305 627.122 148.415 627.116 148.53C627.107 148.785 627.17 149.022 627.298 149.244C627.631 149.818 627.964 150.395 628.294 150.972C628.324 151.024 628.349 151.076 628.379 151.124C628.197 151.44 628.015 151.753 627.831 152.069C627.576 152.51 627.322 152.953 627.064 153.394C627.052 153.394 627.049 153.388 627.046 153.379C627.043 153.354 627.052 153.333 627.058 153.309C627.183 152.853 627.08 152.449 626.768 152.103C626.577 151.893 626.335 151.774 626.056 151.735C625.693 151.683 625.372 151.778 625.084 152.005C625.032 152.045 624.999 152.103 624.938 152.133C624.926 152.133 624.92 152.127 624.917 152.118C625.063 151.866 625.205 151.613 625.35 151.361C625.95 150.316 626.55 149.271 627.152 148.229C627.158 148.217 627.167 148.208 627.173 148.196Z" fill="#E5E5E5"/>
          <path d="M624.929 152.127C624.987 152.075 625.041 152.02 625.102 151.972C625.838 151.389 626.943 151.811 627.104 152.734C627.143 152.956 627.122 153.169 627.055 153.381C627.052 153.4 627.049 153.415 627.043 153.433C627.016 153.482 626.992 153.533 626.961 153.582C626.692 154.029 626.295 154.25 625.774 154.217C625.177 154.174 624.708 153.725 624.626 153.129C624.587 152.841 624.644 152.57 624.793 152.321C624.823 152.267 624.859 152.218 624.893 152.163C624.908 152.151 624.902 152.127 624.929 152.127Z" fill="#7F7F7F"/>
          <path d="M624.929 152.127C624.917 152.139 624.917 152.16 624.896 152.163C624.893 152.142 624.905 152.13 624.917 152.115L624.929 152.127Z" fill="#FABC04"/>
          <path d="M627.043 153.433C627.031 153.412 627.043 153.397 627.055 153.381C627.058 153.385 627.064 153.391 627.067 153.394L627.043 153.433Z" fill="#E1C025"/>
          </g>
          <g filter="url(#filter17_d)">
          <circle cx="1474.68" cy="399.793" r="14.7935" fill="#F9CA48"/>
          </g>
          <g clip-path="url(#clip8)">
          <path d="M1472.71 407.308H1471.86H1467.15C1466.47 407.308 1465.92 406.758 1465.92 406.077V403.399C1465.92 402.717 1466.47 402.167 1467.15 402.167H1470.66V398.27C1470.66 397.589 1471.21 397.039 1471.89 397.039H1475.79V407.284H1472.71V407.308Z" fill="white"/>
          <path d="M1479.7 407.308H1475.8V393.512C1475.8 392.831 1476.35 392.281 1477.04 392.281H1479.7C1480.38 392.281 1480.93 392.831 1480.93 393.512V406.065C1480.91 406.758 1480.35 407.308 1479.7 407.308Z" fill="white"/>
          <path d="M1480.91 402.167V406.065C1480.91 406.746 1480.36 407.296 1479.68 407.296H1475.77V397.015L1480.91 402.167Z" fill="#F4F4F4"/>
          </g>
          <g filter="url(#filter18_d)">
          <circle cx="1220.88" cy="229.514" r="7.98926" fill="white"/>
          </g>
          <defs>
          <filter id="filter0_d" x="1588.38" y="306" width="29" height="29" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter1_d" x="1556.77" y="755.591" width="32.2259" height="32.2259" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter2_d" x="881.376" y="507.001" width="44.998" height="44.998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter3_d" x="1012.18" y="242.809" width="59.3814" height="59.3814" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter4_d" x="349.376" y="161.001" width="40.998" height="40.998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter5_d" x="665.981" y="38.8569" width="46.536" height="46.536" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter6_d" x="245.184" y="332.5" width="34.3814" height="34.3814" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter7_d" x="328.376" y="479.501" width="63.998" height="63.998" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter8_d" x="583.374" y="722" width="30" height="30" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter9_d" x="1017.69" y="417" width="25.3608" height="25.3608" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter10_d" x="898.836" y="353" width="25.3608" height="25.3608" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter11_d" x="1224.88" y="355" width="33" height="33" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter12_d" x="1471.65" y="605.02" width="33" height="33" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter13_d" x="460.617" y="250" width="33" height="33" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter14_d" x="112.375" y="230.538" width="33" height="33" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter15_d" x="1223.69" y="509.901" width="39.376" height="39.376" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter16_d" x="614.381" y="141.463" width="27.9865" height="27.9865" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter17_d" x="1455.89" y="385" width="37.587" height="37.587" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <filter id="filter18_d" x="1208.89" y="221.525" width="23.9785" height="23.9785" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dy="4"/>
          <feGaussianBlur stdDeviation="2"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          <clipPath id="clip0">
          <rect width="22.768" height="22.768" fill="white" transform="matrix(-1 0 0 1 915.731 513.642)"/>
          </clipPath>
          <clipPath id="clip1">
          <rect width="15.9167" height="15.9167" fill="white" transform="translate(254.929 337.219)"/>
          </clipPath>
          <clipPath id="clip2">
          <rect width="17" height="12" fill="white" transform="translate(1232.88 361.5)"/>
          </clipPath>
          <clipPath id="clip3">
          <rect width="17" height="12" fill="white" transform="translate(1479.65 611.52)"/>
          </clipPath>
          <clipPath id="clip4">
          <rect width="17" height="12" fill="white" transform="translate(468.617 256.5)"/>
          </clipPath>
          <clipPath id="clip5">
          <rect width="17" height="12" fill="white" transform="translate(120.375 237.038)"/>
          </clipPath>
          <clipPath id="clip6">
          <rect width="12" height="11" fill="white" transform="translate(1237.38 519)"/>
          </clipPath>
          <clipPath id="clip7">
          <rect width="7.51973" height="6.89309" fill="white" transform="translate(624.614 147.327)"/>
          </clipPath>
          <clipPath id="clip8">
          <rect width="15.0259" height="15.0259" fill="white" transform="translate(1465.91 392.281)"/>
          </clipPath>
          </defs>
      </svg>
    </div>
  </div>
  <div class="social--bottom">
    <div class="social--bottom-inside flex flex--s-column justify-content-between align-items--m-center margin-xxl--left-180 margin-xl--left-90 margin-l--left-90 margin-m--left-60 margin-xxl--right-180 margin-xl--right-90 margin-l--right-90 margin-m--right-60 margin-xxl--bottom-100 margin-l--bottom-none">
      <div class="flex flex-column align-items-start align-items--l-center">
        <div class="flex justify-content-start justify-content--l-center text--l-center">
          <div class="font-46 font-white margin-xxl--bottom-10 margin-xxl--right-24 margin-l--bottom-24 margin-l--right-none w--l-100 text--l-center">90%</div>
          <div class="skiptar flex align-items-center display--l-none">
            <svg width="181" height="8" viewBox="0 0 181 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M173 3.99999L4 4" stroke="#00BAFF"/>
              <circle cx="4" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
              <circle cx="176.375" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
            </svg>
          </div>
        </div>
        <div class="w--xl-75 w--l-75 text--l-center">
          <p class="font-16 font-white margin-l--bottom-10">Ljudi pretražuje internet preko Google-a</p>
          <p class="font-24 font-white">Google je najpoznatiji i najčešće korišćen pretraživač</p>
        </div>
      </div>
      <div class="line-big background-blue display--xxl-none display--s-flex margin-s--top-46 margin-s--bottom-46"></div>
      <div class="flex flex-column align-items-start align-items--l-center">
        <div class="flex justify-content-start justify-content--l-center text--l-center">
          <div class="font-46 font-white margin-xxl--right-24 margin-l--right-none margin-l--bottom-24 text--l-center">2M</div>
          <div class="skiptar flex align-items-center display--l-none">
            <svg width="181" height="8" viewBox="0 0 181 8" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M173 3.99999L4 4" stroke="#00BAFF"/>
              <circle cx="4" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
              <circle cx="176.375" cy="4" r="3.5" fill="#2A2A2A" stroke="#00AEEF"/>
            </svg>
          </div>
        </div>
        <div class="w--xl-75 w--l-75 text--l-center">
          <p class="font-16 font-white margin-l--bottom-10">Web sajtova, aplikacija i drugih online destinacija</p>
          <p class="font-24 font-white">Google je najmasovnija mreža za online oglašavanje</p>
        </div>
      </div>
    </div>
    <div class="social--bottom-outside w-100 flex justify-content-center align-items-center padding-xxl--top-48">
      <p class="margin-xxl--top-60 margin-xl--top-60 margin-l--top-24 margin-xxl--bottom-100 margin-l--bottom-70 font-16 font-white w-33 w--xl-50 w--l-75 text-center">Google Ads je veoma moćan online marketing kanal jer pokriva preko 90% internet korisnika širom sveta</p>
    </div>
  </div>
</div>

<div class="whatdoit flex flex--l-column w-100">
  <div class="whatdoit--left w-40 w--xl-50 w--l-100 margin-xxl--top-100 margin-l--top-none margin-xxl--bottom-100  padding-xxl--left-90 padding-xl--left-70 padding-l--left-none">
    <div class="whatdoit--left-menu flex justify-content--l-center w-100 w-50 w--xl-75 w--l-100" id="numberofitems">
      <div class="whatdoit--left-menu--item font-24 font-grey--mid margin-xxl--right-90 margin-xl--right-60 margin-s--right-24 margin-xs--right-18 active-link active-tab" id="choice1" onclick="nextTabs(1);">Search</div>
      <div class="whatdoit--left-menu--item font-24 font-grey--mid margin-xxl--right-90 margin-xl--right-60 margin-s--right-24 margin-xs--right-18" id="choice2" onclick="nextTabs(2);">Display</div>
      <div class="whatdoit--left-menu--item font-24 font-grey--mid margin-xxl--right-90 margin-xl--right-60 margin-s--right-24 margin-xs--right-18" id="choice3" onclick="nextTabs(3);">YouTube</div>
      <div class="whatdoit--left-menu--item font-24 font-grey--mid" id="choice4" onclick="nextTabs(4);">Remarketing</div>
    </div>
    <div class="flex overflow-hidden" id="uslugetabs">
      <div class="whatdoit--left-nalog" id="tab1">
        <div class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-60 flex--l flex--l-column align-items--l-center">
          <div class="margin-xxl--bottom-24 margin-l--left-24 margin-l--right-24 font-24 font-bold font-grey text--l-center">Budite tu kada treba</div>
          <div class="w--l-50 w--s-75">
              <p class="font-16 font-grey text--l-center">Kada pomislimo na Google oglašavanje onda vrlo često zapravo mislimo na Search oglase ili oglase na Mreži za pretragu.</p>
              <p class="font-16 font-grey text--l-center">Ova vrsta kampanje vam omogućava da oglašavate vaš web sajt ljudima koji na Google-u pretražuju reči koje su relevantne za vaš biznis. Izborom pravih ključnih reči, vaši oglasi će se prikazivati na prvim pozicijama, na prvoj stranici Google pretrage, korisnicima koji su zainteresovani za proizvode ili usluge koje nudite.</p>
          </div>
        </div>
        <div class="line-mid background-blue line--l-center"></div>
        <div  class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-48 margin-l--bottom-70 flex--l flex--l-column align-items--l-center">
          <div class="font-24 font-bold font-grey margin-xxl--bottom-24 text--l-center">Prednosti Google Search oglasa</div>
          <div class="font-16 font-grey text--l-center w--l-50 w--s-75">Uz milione pretraga dnevno na Google-u, možete da budete sigurni da će klijenti primetiti vaš brend i razmisliti o vašoj ponudi i preduzeti radnju.</div>
        </div>
        <div class="whatdoit--left-nalog-benefits flex--l flex--l-column align-items--l-center">
          <div class="whatdoit--left-nalog-benefits--col margin-xxl--bottom-48 margin-l--bottom-70 flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/remarketing.svg" alt="remarketing" />
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex flex--l-column align-items-center">Direktan odgovor na tražnju</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/relevance-score.svg" alt="relevance"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Jasni i merljivi rezultati</div>
            </div>
          </div>
          <div class="whatdoit--left-nalog-benefits--col flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/leads.svg" alt="leads"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Veći broj relevantih poseta</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none  margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/custom-audience.svg" alt="custom audience"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Kontrola budžeta i plaćanje po kliku</div>
            </div>
          </div>
        </div>
      </div>
      <div class="whatdoit--left-nalog" id="tab2">
        <div class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-60 margin-l--bottom-70 margin-l--bottom-70 flex--l flex--l-column align-items--l-center"> <!-- napravi borders, ovde treba bottom -->
          <div class="margin-xxl--bottom-24 margin-l--left-24 margin-l--right-24 font-24 font-bold font-grey text--l-center">Dosegnite prave klijente</div>
          <div class="w--l-50 w--s-75">
              <p class="font-16 font-grey text--l-center">Google mreža multimedijalnog oglašavanja (GDN) je kreirana da pomogne vašem biznisu da dođe do prave publike.</p>
              <p class="font-16 font-grey text--l-center">Multimedijalni oglasi (baneri) prikazuju se korisnicima interneta na najposećenijim web sajtovima, portalima sa vestima, blogovima, kao i na Google servisima kao što su YouTube i Gmail.</p>
          </div>
        </div>
        <div class="line-mid background-blue line--l-center"></div>
        <div  class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-48 margin-l--bottom-70 flex--l flex--l-column align-items--l-center">
          <div class="font-24 font-weight font-grey margin-xxl--bottom-24 text--l-center">Prednosti Google Display oglašavanja</div>
          <div class="font-16 font-grey text--l-center w--l-50 w--s-75">Napredne opcije ciljanja prema ključnim rečima, demografskim kategorijama, interesovanjima, kao i ponovno oglašavanje (Remarketing) vam omogućavaju da podstičete klijente da primete vaš brend, posete vaš web sajt i obave željenu akciju.</div>
        </div>
        <div class="whatdoit--left-nalog-benefits flex--l flex--l-column align-items--l-center">
          <div class="whatdoit--left-nalog-benefits--col margin-xxl--bottom-48 margin-l--bottom-70 flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/remarketing.svg" alt="remarketing" />
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Širenje svesti o brendu</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/relevance-score.svg" alt="relevance"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Kontekstualno oglašavanje</div>
            </div>
          </div>
          <div class="whatdoit--left-nalog-benefits--col flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/leads.svg" alt="leads"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Niži troškovi u odnosu na klasičan Media Buying</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/custom-audience.svg" alt="custom audience"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Kreiranje tražnje</div>
            </div>
          </div>
        </div>
      </div>
      <div class="whatdoit--left-nalog" id="tab3">
        <div class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-60 margin-l--bottom-70 margin-l--bottom-70 flex--l flex--l-column align-items--l-center"> <!-- napravi borders, ovde treba bottom -->
          <div class="margin-xxl--bottom-24 margin-l--left-24 margin-l--right-24 font-24 font-bold font-grey text--l-center">Približite se vašim potrošačima i neka oni budu najbolji ambasadori vašeg brenda.</div>
          <div class="w--l-50 w--s-75">
              <p class="font-16 font-grey text--l-center">Angažujte korisnike i pokrenite akciju na najvećoj online platformi za video sadržaj.</p>
              <p class="font-16 font-grey text--l-center">Ljudi iz celog sveta - iz svih životnih sfera gledaju preko milijardu sati YouTube videa svakog dana. Kreirajte atraktivan video o vašem biznisu, izaberite vrstu oglasa koji najviše odgovara vašem cilju i budite primećeni!</p>
          </div>
        </div>
        <div class="line-mid background-blue line--l-center"></div>
        <div  class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-48 margin-l--bottom-70 flex--l flex--l-column align-items--l-center">
          <div class="font-24 font-weight font-grey margin-xxl--bottom-24 text--l-center">Prednosti YouTube oglašavanja</div>
          <div class="font-16 font-grey text--l-center w--l-50 w--s-75">Nije potrebno da se oglašavate svima - već samo ljudima koji mogu biti zainteresovani za ono što nudite. Publiku0 možete birati prema lokaciji, godinama, interesima i sl. Sa YouTube oglasima, možete doći do potencijalnih klijenata u momentu kada oni gledaju ili pretražuju video sadžaj na YouTube-u, dok plaćate Google-u samo kada oni zaista pokažu interesovanje i pogledaju vaš video.</div>
        </div>
        <div class="whatdoit--left-nalog-benefits flex--l flex--l-column align-items--l-center">
          <div class="whatdoit--left-nalog-benefits--col margin-xxl--bottom-48 margin-l--bottom-70 flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/remarketing.svg" alt="remarketing" />
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Veliki uticaj i vidljivost</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/relevance-score.svg" alt="relevance"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Detaljna analiza i merenje učinka</div>
            </div>
          </div>
          <div class="whatdoit--left-nalog-benefits--col flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/leads.svg" alt="leads"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Napredne opcije targetiranja</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/custom-audience.svg" alt="custom audience"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Niži troškovi oglašavanja</div>
            </div>
          </div>
        </div>
      </div>
      <div class="whatdoit--left-nalog" id="tab4">
        <div class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-60 flex--l flex--l-column align-items--l-center"> <!-- napravi borders, ovde treba bottom -->
          <div class="margin-xxl--bottom-24 margin-l--left-24 margin-l--right-24 font-24 font-bold font-grey text--l-center">Ne dozvolite da se vaši korisnici ohlade</div>
          <div class="w--l-50 w--s-75">
              <p class="font-16 font-grey text--l-center">Remarketing je vrsta bihejvioralnog oglašavanja koja omogućava marketarima da ciljaju publiku koja je prethodno posetila web sajta.</p>
              <p class="font-16 font-grey text--l-center">Ako se pravilno postavi i koristi, Remarketing može biti veoma efikasan način oglašavanja. U stvari, studija pokazuje da je verovatnoća da će potrošači dovršiti proces kupovine za 70% veća kod onih kod kojih je korišćen Remarketing u odnosu na potrošače koji nisu ciljani ovom metodom oglašavanja.</p>
          </div>
        </div>
        <div class="line-mid background-blue line--l-center"></div>
        <div  class="whatdoit--left-nalog-block margin-xxl--top-60 margin-xxl--bottom-48 margin-l--bottom-70 flex--l flex--l-column align-items--l-center">
          <div class="font-32 font-weight font-grey margin-xxl--bottom-24 text--l-center">Prednosti Remarketing oglašavanja</div>
          <div class="font-16 font-grey text--l-center w--l-50 w--s-75">Remakreting je pre svega pametna tehnika oglašavanja koja vam omogućava  da se ponovo povežete sa posetiocima vašeg web sajta i aktivno utičete na odluku o kupovini.</div>
        </div>
        <div class="whatdoit--left-nalog-benefits flex--l flex--l-column align-items--l-center">
          <div class="whatdoit--left-nalog-benefits--col margin-xxl--bottom-48 margin-l--bottom-70 flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/remarketing.svg" alt="remarketing" />
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Ciljanje visoko relevantne publike</div>
            </div>
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/relevance-score.svg" alt="relevance"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center flex align-items-center">Veći broj konverzija</div>
            </div>
          </div>
          <div class="whatdoit--left-nalog-benefits--col flex justify-content-between w--l-75 w--s-75">
            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/leads.svg" alt="leads"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Niža cena po kliku</div>
            </div>

            <div class="whatdoit--left-nalog-benefits--col-elem flex flex--l-column align-items-center">
              <div class="whatdoit--left-nalog-benefits--col-elem--icon margin-xxl--right-24 margin-l--right-none margin-l--bottom-10 flex align-items-center">
                <img src="./images/icons/custom-audience.svg" alt="custom audience"/>
              </div>
              <div class="whatdoit--left-nalog-benefits--col-elem--text text--l-center">Aktivan uticaj na odluku o kupovini</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="whatdoit--right flex align-items-center justify-content-center w-60 w--xl-50 w--l-100">
  <div class="whatdoit--right-images flex overflow-hidden">
    <div class="whatdoit--right-images-image flex align-items-center justify-content-center w-100--min" id="rightpic1">
      <picture class="flex align-items-center justify-content-center">
        <source srcset="./images/google_search_1920.png" media="(min-width: 1025px)">
        <img src="./images/google_search_1024.png">
      </picture>
    </div>
    <div class="whatdoit--right-images-image flex align-items-center justify-content-center w-100--min" id="rightpic2">
      <picture class="flex align-items-center justify-content-center">
        <source srcset="./images/google_display_1920.png" media="(min-width: 1025px)">
        <img src="./images/google_display_1920.png">
      </picture>
    </div>
    <div class="whatdoit--right-images-image flex align-items-center justify-content-center w-100--min" id="rightpic3">
      <picture class="flex align-items-center justify-content-center">
        <source srcset="./images/google_youtube_1920.png" media="(min-width: 1025px)">
        <img src="./images/google_youtube_1920.png">
      </picture>
    </div>
    <div class="whatdoit--right-images-image flex align-items-center justify-content-center w-100--min" id="rightpic4">
      <picture class="flex align-items-center justify-content-center">
        <source srcset="./images/google_right1.png" media="(min-width: 1025px)">
        <img src="./images/google_right1_1024.png">
      </picture>
    </div>
  </div>
  </div>
</div>
<div class="howwhy howwhy-g flex justify-content-center align-items-center align-items--l-end">
  <div class="howwhy--left w--l-100 display--l-none" style="min-width: 50%; height: 100%;">
  </div>
  <div class="howwhy--right margin-xxl--top-100 margin-xxl--bottom-100 margin-xxl--left-48 margin-xl--left-24 margin-s--left-18 margin-xxl--right-48 margin-xl--right-24 margin-s--right-18 w-50 w--l-100  flex--l flex--l-column align-items--l-center justify-content--l-center">
    <div class="howwhy--right-intro">
      <div class="flex flex-wrap flex-column flex--l-column margin-xxl--bottom-60">
        <div class="font-32 font-white font-bold text--l-center">Kako Marketer može da vam</div>
        <div class="flex flex--l-column align-items-center flex--l-column justify-content--l-center">
            <div class="font-32 font-white font-bold margin-xxl--right-60 margin-l--bottom-24 margin-l--right-none">pomogne?</div>
            <div class="line-mid background-blue line--l-center"></div>
        </div>
      </div>
      <div class="font-16 font-white margin-xxl--bottom-24 text--l-center margin-l--left-100  margin-l--right-100 margin-m--left-18  margin-m--right-18">
        Reči su samo reči. Priče su samo priče. Ali u pravom kontekstu one postaju žive. Mi znamo da nije sve u samoj poruci, već u svemu onome što se dešava oko nje i što joj daje pravi smisao. Sa druge strane, kvalitetan sadržaj je samo sadržaj ako se ne promoviše na pravi način. Naš tim poseduje dugogodišnje iskustvo i dokazane rezultate u marketingu na društvenim mrežama.
      </div>
      <div class="font-16 font-white text--l-center">
        Garantujemo:
      </div>
    </div>
    <div class="howwhy--right-how margin-xxl--top-60 margin-xl--top-40  flex--l flex--l-column align-items--l-center justify-content--l-center">
      <div class="howwhy--right-how--icons flex flex-wrap align-items-start justify-content--l-center w--l-75 w--s-100">
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/targetiranje.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Targetiranje pravih ljudi u pravom trenutku
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/vecibroj.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Već broj relevantnih poseta veb sajtu
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/definisanjeciljeva.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Definisanje željenih ciljeva
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/pracenje.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Praćenje konverzija i akcija
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/veciROI.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Veći ROI
          </div></div>
        <div class="howwhy--right-how--icons-icon flex flex--l-column align-items-center margin-xxl--bottom-24"><div class="icon margin-xxl--right-18 margin-l--right-none margin-l--bottom-10" style="background-image: url('./images/icons/boljakontrola.svg')"></div><div class="font-14 font-white text--l-center w--l-50 w--s-75">Bolju kontrolu budžeta
          </div></div>
      </div>
      <div class="howwhy--right-how--text margin-xxl--top-48 text--l-center w--l-75">
        <p class="font-14 font-white">Marketer pomaže kompanijama, bez obzira na veličinu, da maksimiziraju vrednost koju dobijaju od marketinga na društvenim mrežama. </p>
        <p class="font-14 font-white">Od strategije i kreiranja sadržaja do implementacije i izveštavanja, mi osnažujemo naše klijente da ostvare svoje ciljeve.</p>
      </div>
    </div>
    <div class="howwhy--right-cta margin-xxl--top-60 flex align-items-center justify-content--s-between flex--xs-column w--s-75">
      <div class="howwhy--right-cta--links flex flex-column align-items--s-center">
        <div class="flex align-items-center margin-xxl--bottom-60 margin-xs--bottom-24" style="height: 27px;"><img src="./images/icons/googleads_white.svg"></div>
        <button class="button-big flex align-items-center justify-content-center margin-xxl--right-24 margin-s--right-none"><a href="drustvene_mreze"><div class="font-14 font-white">DRUŠTVENE MREŽE</div></a></button>

      </div>
      <div class="howwhy--right-cta--buttons flex flex-column align-items--s-center margin-xs--top-60">
        <div class="flex align-items-center margin-xxl--bottom-60 margin-xs--bottom-24" style="height: 27px;"><img src="./images/icons/googleanalytics_white.svg"></div>
        <button class="button-big flex align-items-center justify-content-center"><a href="web_oglasavanje"><div class="font-14 font-white">WEB REŠENJA</div></a></button>
      </div>
    </div>
  </div>
</div>
<div class="usluge_mini flex flex-column align-items-center justify-content-center">
  <div class="font-24 font-grey margin-xxl--top-100 w-75 text-center">Budite sigurni izborom agencije Marketer.</div>
  <div class="font-16 font-grey--mid margin-xxl--bottom-100 margin-xxl--top-48 w-75 text-center">Angažujete vrhunske stručnjake i dobijate najbolja znanja iz oblasti</br> digitalnog marketinga.</div>
</div>
{{ include('blog-gallery.twig') }}
{{ include('contact_shared.twig') }}

{% endblock %}
