{% extends "base.twig" %}
{# {% block description %}All posts{% endblock %} #}
{% block content %}
  <div class="home sa backgroundom">
    <div class="home-video">

    </div>
    <div class="home-hero">
      <div class="home-line za tablet"></div>
      <div>
        <div>
          <span>Unapredite</span><span></span>
        </div>
        <div>vaš internet marketing</div>
        <div>Kreiramo i implementiramo vrhunske online kampanje koje daju rezultat.</div>
        <button><div>Kako mi to radimo</div></button>
        <div><span>Google</span><span>facebook</span></div>
      </div>
    </div>
  </div>
  {{ include('projekti.twig') }}
  {{ include('contact_shared.twig') }}
{% endblock %}
