{% extends "base.twig" %}
{% block content %}

{% set Klijenti = fetch("Klijenti") %}

<div class="klijenti flex flex-column">
    <div class="klijenti--part flex flex-2 flex-column justify-content-center margin--top-48 margin--bottom-48">
        <div class="margin--left-90 margin--right-90 margin--bottom-24 font-46 font-white">Klijenti</div>
        <div class="margin--left-90 margin--right-90 margin--bottom-24 font-24 font-grey text-center">Sa kim smo sarađivali</div>
        <div class="klijenti--part-linija margin--left-90 margin--right-90 background-blue"></div>
    </div>
    <div class="klijenti--part flex flex-2 flex-wrap justify-content-around align-items-center">
        {% for item in Klijenti %}
            <div class="klijenti--part-logo">
                <img style="max-height: 100%; max-width:100%;" src="img/{{item.Logo}}">
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %} 