{% extends "base.twig" %}
{% block description %}All posts{% endblock %}
{% block content %}

<div class="kontakt_solo flex align-items-center w-100" style="background-image: url('./images/kontaktbck.png')">
  <div class="kontakt_solo--inner flex flex-column justify-content-between w-100--min">
    <div class="margin-xxl--top-200 margin-xl--top-100 margin-l--top-100">
        <div class="font-36 font-white margin-xxl-bottom-24 margin-xl--bottom-18">Kontakt</div>
        <div class="line-big background-blue"></div>
    </div>
    <div class="flex w-100">
      <div class="flex justify-content-center w-100">
        <div class="font-32 font-white"><label>Zdravo, ja sam</label><input type="text" name="ime" /></div><div class="font-32 font-white"><label>moja kompanija je</label><input type="text" name="nazivkompanije" /></div>
      </div>
    </div>
    <div class="flex justify-content-between w-100 margin-xxl--bottom-60">
      <div class="flex align-items-center w-25--min"></div>
      <div class="flex align-items-center justify-content-end w-25--min">
        <div class="flex align-items-center font-18">
          <div class="font-blue">1</div><div style="border: 1px solid #606060; width: 24px;"></div><div class="font-white">4</div>
        </div>
        <div>
          <span class="font-white">Sledeći korak</span><span><img src="./images/icons/next.svg" /></span>
        </div>
        <div class="line-tiny background-blue"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
