{% extends "base.twig" %}
{% block description %}kontakt{% endblock %}
{% block content %}

<div class="kontakt_solo flex w-100 overflow-hidden" style="background-image: url('./images/kontaktbck.png')" id="contactwrap">
  <div class="kontakt_solo--inner fade_in_cont flex flex-column justify-content-between align-items--l-center w-100--min w--m-100" id="strana1">
    <div class="margin-xxl--top-200 margin-xl--top-80 margin-l--top-100 padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100 text--l-center">
        <div class="font-36 font-white margin-xxl-bottom-24 margin-xl--bottom-18">Kontakt</div>
        {# <div class="margin-xxl-bottom-24 margin-xl--bottom-18" style="min-height: 1.3125rem;"></div> #}
        <div class="line-big background-blue"></div>
    </div>
    <div class="flex align-items-center flex--l-column padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100">
      <div class="flex--l flex--l-column margin-l--bottom-50 font-32 font-white"><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 margin-l--bottom-50 text--l-center">Zdravo, ja sam</label><input class="input-kontakt input-kontakt-normal font-32 font-white padding-xxl--left-10 padding-xxl--right-10" type="text" id="ime" /></div>
      <div class="flex--l flex--l-column font-32 font-white margin-xxl--left-180 margin-xl--left-60 margin-l--left-none margin-l--bottom-50"><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 margin-l--bottom-50 text--l-center">moja kompanija je</label><input class="input-kontakt input-kontakt-normal font-32 font-white padding-xxl--left-10 padding-xxl--right-10" type="text" id="nazivkompanije" /></div>
    </div>
    <div class="flex justify-content-between w-100 margin-xxl--bottom-60">
      <div class="left_kontakt flex align-items-center w-25--min"></div>
      <div class="right_kontakt flex flex--m-column align-items-center align-items--m-end justify-content-end w-25--min w--m-75">
        <div class="flex align-items-center justify-content--m-start font-18 display--xxs-none w--m-100">
          <div class="font-blue">1</div><div class="margin-xxl--left-10" style="border: 1px solid #606060; width: 24px;"></div><div class="font-white margin-xxl--left-10">4</div>
        </div>
        <div class="flex align-items-center justify-content--m-end margin-xxl--left-24 text-hover w--m-100 next-disabled" onclick="nextStep(100)" id="next1">
          <span class="font-white">Sledeći korak</span><span class="margin-xxl--left-24 margin-s--left-18"><img src="./images/icons/next.svg" /></span>
          <span class="line-tiny background-blue margin-xxl--left-24"></span>
        </div>

      </div>
    </div>
  </div>
  <!-- prvi ekran -->
  <div class="kontakt_solo--inner fade_out_cont flex flex-column justify-content-between align-items--l-center w-100--min w--m-100" id="strana2">
    <div class="margin-xxl--top-200 margin-xl--top-80 margin-l--top-100 padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100 text--l-center">
        <div class="font-36 font-white margin-xxl-bottom-24 margin-xl--bottom-18">Kontakt</div>
        <!--         <div class="font-18 font-grey margin-xxl-bottom-24 margin-xl--bottom-18">Lorem Ipsum is simply dummy text.</div> -->
        <div class="line-big background-blue"></div>
    </div>
    <div class="flex align-items-center justify-content-between flex--l-column padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100">
      <div class="font-32 font-white flex--l flex--l-column align-items--l-center margin-l--bottom-50 "><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 text--l-center margin-l--bottom-50 ">Web sajt moje kompanije</label><input class="input-kontakt input-kontakt-mid font-32 font-white padding-xxl--left-10 padding-xxl--right-10" type="text" id="webpage" /></div>
      <div class="font-32 font-white flex--l flex--l-column align-items--l-center"><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 text--l-center margin-l--bottom-50 ">Mi se bavimo</label><input class="input-kontakt input-kontakt-mid font-32 font-white padding-xxl--left-10 padding-xxl--right-10" type="text" id="cimesebavimo" /></div>
    </div>
    <div class="flex justify-content-between w-100 margin-xxl--bottom-60">
      <div class="left_kontakt flex align-items-center align-items--m-end justify-content-start w-25--min">
        <div class="flex align-items-center text-hover" onclick="nextStep(0)">
          <span class="line-tiny background-blue"></span>
          <span class="margin-xxl--left-24 margin-s--left-18 margin-xxl--right-24 margin-s--right-18"><img class="icon-rotate-180" src="./images/icons/next.svg" /></span><span class="font-white">Vrati se</span>
        </div>
      </div>
      <div class="right_kontakt flex flex--m-column align-items-center align-items--m-end justify-content-end w-25--min">
        <div class="flex align-items-center justify-content--m-start font-18 display--xxs-none w--m-100">
          <div class="font-blue">2</div><div class="margin-xxl--left-10" style="border: 1px solid #606060; width: 24px;"></div><div class="font-white margin-xxl--left-10">4</div>
        </div>
        <div class="flex align-items-center justify-content--m-end margin-xxl--left-24 text-hover w--m-75 next-disabled" onclick="nextStep(200)" id="next2">
          <span class="font-white">Sledeći korak</span><span class="margin-xxl--left-24 margin-s--left-18"><img src="./images/icons/next.svg" /></span>
          <span class="line-tiny background-blue margin-xxl--left-24 margin-s--left-18"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="kontakt_solo--inner fade_out_cont flex flex-column justify-content-between align-items--l-center w-100--min w--m-100" id="strana3">
    <div class="margin-xxl--top-200 margin-xl--top-80 margin-l--top-100 padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100 text--l-center">
        <div class="font-36 font-white margin-xxl-bottom-24 margin-xl--bottom-18">Kontakt</div>
        <!--         <div class="font-18 font-grey margin-xxl-bottom-24 margin-xl--bottom-18">Lorem Ipsum is simply dummy text.</div> -->
        <div class="line-big background-blue"></div>
    </div>
    <div class="flex align-items-center flex--l-column w-100">
      <div class="font-32 font-white flex--l flex--l-column align-items--l-center padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100 w-100"><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 text--l-center margin-l--bottom-50">Zainteresovani smo za </label><input class="input-kontakt input-kontakt-wide font-32 font-white padding-xxl--left-10 padding-xxl--right-10 w-50" type="text" id="interesovanje" /></div>
    </div>
    <div class="flex justify-content-between w-100 margin-xxl--bottom-60">
      <div class="left_kontakt flex align-items-center align-items--m-end justify-content-start w-25--min">
        <div class="flex align-items-center text-hover" onclick="nextStep(100)">
          <span class="line-tiny background-blue"></span>
          <span class="margin-xxl--left-24 margin-s--left-18 margin-xxl--right-24 margin-s--left-18"><img class="icon-rotate-180" src="./images/icons/next.svg" /></span><span class="font-white">Vrati se</span>
        </div>
      </div>
      <div class="right_kontakt flex flex--m-column align-items-center align-items--m-end justify-content-end w-25--min">
        <div class="flex align-items-center justify-content--m-start font-18 display--xxs-none w--m-100">
          <div class="font-blue">3</div><div class="margin-xxl--left-10" style="border: 1px solid #606060; width: 24px;"></div><div class="font-white margin-xxl--left-10">4</div>
        </div>
        <div class="flex align-items-center justify-content--m-end margin-xxl--left-24 text-hover w--m-75 next-disabled" onclick="nextStep(300)" id="next3">
          <span class="font-white">Sledeći korak</span><span class="margin-xxl--left-24 margin-s--left-18"><img src="./images/icons/next.svg" /></span>
          <span class="line-tiny background-blue margin-xxl--left-24 margin-s--left-18"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="kontakt_solo--inner fade_out_cont flex flex-column justify-content-between align-items--l-center w-100--min w--m-100" id="strana4">
    <div class="margin-xxl--top-200 margin-xl--top-80 margin-l--top-100 padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100">
        <div class="font-36 font-white margin-xxl-bottom-24 margin-xl--bottom-18 text--l-center">Kontakt</div>
        {# <div class="font-18 font-grey margin-xxl-bottom-24 margin-xl--bottom-18 text--l-center">Lorem Ipsum is simply dummy text.</div> #}
        <div class="line-big background-blue"></div>
    </div>
    <div class="flex align-items-center justify-content-between flex--l-column padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100">
      <div class="font-32 font-white flex--l flex--l-column align-items--l-center margin-l--bottom-50"><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 text--l-center margin-l--bottom-50">Možete mi pisati na e-mail</label><input class="input-kontakt input-kontakt-small font-32 font-white padding-xxl--left-10 padding-xxl--right-10" type="email" id="email" /></div>
      <div class="font-32 font-white flex--l flex--l-column align-items--l-center"><label class="margin-xxl--right-24 margin-l--right-none letter-spacing--0_4 text--l-center margin-l--bottom-50">ili me pozvati na broj</label><input class="input-kontakt input-kontakt-small font-32 font-white padding-xxl--left-10 padding-xxl--right-10" type="phone" id="telefon" /></div>
    </div>
    <div class="flex justify-content-between w-100 margin-xxl--bottom-60">
      <div class="left_kontakt flex align-items-center align-items--m-end justify-content-start w-25--min">
        <div class="flex align-items-center text-hover" onclick="nextStep(200)">
          <span class="line-tiny background-blue"></span>
          <span class="margin-xxl--left-24 margin-s--left-18 margin-xxl--right-24 margin-s--right-18"><img class="icon-rotate-180" src="./images/icons/next.svg" /></span><span class="font-white">Vrati se</span>
        </div>
      </div>
      <div class="right_kontakt flex flex--m-column align-items-center align-items--m-end justify-content-end w-25--min">
        <div class="flex align-items-center justify-content--m-start font-18 display--xxs-none w--m-100">
          <div class="font-blue">4</div><div class="margin-xxl--left-10" style="border: 1px solid #606060; width: 24px;"></div><div class="font-white margin-xxl--left-10">4</div>
        </div>
        <div class="flex align-items-center justify-content--m-end margin-xxl--left-24 text-hover w--m-75 next-disabled" onclick="nextStep(400)" id="next4">
          <span class="font-white">Pošalji poruku</span><span class="margin-xxl--l4ft-24 margin-s--left-18"><img src="./images/icons/next.svg" /></span>
          <span class="line-tiny background-blue margin-xxl--left-24 margin-s--left-18"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="kontakt_solo--inner fade_out_cont flex flex-column justify-content-between align-items--l-center w-100--min w--m-100" id="strana5">
    <div class="margin-xxl--top-200 margin-xl--top-80 margin-l--top-100 padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100">
        <div class="font-36 font-white margin-xxl-bottom-24 margin-xl--bottom-18 text--l-center">Kontakt</div>
        {# <div class="font-18 font-grey margin-xxl-bottom-24 margin-xl--bottom-18 text--l-center">Lorem Ipsum is simply dummy text.</div> #}
        <div class="line-big background-blue"></div>
    </div>
    <div class="flex flex-column align-items-center justify-content-between padding-xxl--left-180 padding-xl--left-60 padding-l--left-100 padding-xxl--right-180 padding-xl--right-60 padding-l--right-100">
      <div class="font-46 font-white letter-spacing--0_4 text--l-center  margin-l--bottom-50">Hvala što ste nas kontaktirali.</div>
      <div class="font-46 font-white letter-spacing--0_4 text--l-center">Javićemo se ubrzo!</div>
    </div>
    <div class="flex justify-content-between w-100 margin-xxl--bottom-60">
    </div>
  </div>
</div>
<!-- drugi ekran -->


{% endblock %}
