{% extends "base.twig" %}
{% block content %}

<div class="position background-black-lighter">
    <div class="flex">
        <div class="flex flex-2 flex-column">
            <div class="font-46 font-white margin-xxl--bottom-24">Marketar tv</div>
            <div class="line-big background-blue"></div>
        </div>
        <div class="flex flex-2 font-16 font-white">Targetirano oglašavanje na relevantnim veb sajtovima Biti primećen na internetu postaje sve teže i teže.</div>
    </div>
    <div class="flex-2"></div>
</div>


{% include 'klijenti.twig' %}
{% include 'contact_shared.twig' %}

{% endblock %}