{% extends 'base.twig' %}
{% block content %}

<div class="position o-nama flex align-items-center">
    <div class="padding-xxl--left-90 flex flex-column">
        <div class="font-46 font-white margin-xxl--bottom-48">Ko je marketer?</div>
        <div class="o-nama--text font-16 font-grey--mid margin-xxl--bottom-24">Tim ljudi koji voli svoj posao, uživa u njemu i raduje se svakom novom izazovu...</div>
        <div class="line-big background-blue"></div>
    </div>
</div>

<div class="position o-nama--poruka background-grey-lighter flex flex-column justify-content-center align-items-center">
    <div class="o-nama--poruka-text font-24 font-grey margin-xxl--bottom-48 text-center">Marketer je brzo rastuća agencija za digitalni marketing specijalizovana za Google i Facebook oglašavanje.</div>
    <div class="o-nama--poruka-text font-16 font-grey--mid text-center">Mi ne razbacujemo našu energiju i dragocene resurse – radimo ono što volimo i jako smo dobri u tome!</div>
</div>

<div class="position o-nama--misija flex align-items-center">
    <div class="padding-xxl--left-90 flex flex-column w-33 padding-xxl--top-100 padding-xxl--bottom-100">
        <div class="flex justify-content--l-center w-100 w--l-100 margin-xxl--bottom-48">
                <div class="font-24 font-grey--mid margin-xxl--right-100 margin-xxl--bottom-24 active-link" id="choice1" onclick="nextTab(event);">Koja je naša vizija</div>
                <div class="font-24 font-grey--mid margin-xxl--bottom-24" id="choice2" onclick="nextTab(event);">Naša misija</div>
        </div>
        <div class="flex overflow-hidden w-100">
            <div class="o-nama--misija-info w-100--min" id="tab1">
                <p class="font-14 font-white margin-xxl--bottom-24">Mi duboko verujemo da ključ uspeha u svakom poslu leži u stvaranju najboljih poslovnih odnosa. Za nas je svaki kontakt sa vama put ka stvaranju iskrene i profesionalne komunikacije, koja  se temelji na poverenju i posvećenosti ostvarivanju zadatih ciljeva.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Živimo u svetu interneta. Svakodnevno, sve više aktivnosti obavljamo online. Potrošači su radoznali, zahtevni, nestrpljivi, očekuju korisničko iskustvo koje je prilagođeno, relevantno i korisno kao nikada pre.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Stoga, digitalna transformacija je neizbežan proces u današnjem poslovnom svetu. Mi smo tu da vam pomognemo da vaš biznis prilagodite online okruženju i na pravi način iskoristite sve benefite koje nudi.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Na kraju dana, suština marketinga je u ostvarenju boljeg rezultata.</p>
            </div>
            <div class="o-nama--misija-info w-100--min" id="tab2">
                <p class="font-14 font-white margin-xxl--bottom-24">Vi duboko verujete da ključ uspeha u svakom poslu leži u stvaranju najboljih poslovnih odnosa. Za nas je svaki kontakt sa vama put ka stvaranju iskrene i profesionalne komunikacije, koja  se temelji na poverenju i posvećenosti ostvarivanju zadatih ciljeva.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Živimo u svetu interneta. Svakodnevno, sve više aktivnosti obavljamo online. Potrošači su radoznali, zahtevni, nestrpljivi, očekuju korisničko iskustvo koje je prilagođeno, relevantno i korisno kao nikada pre.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Stoga, digitalna transformacija je neizbežan proces u današnjem poslovnom svetu. Mi smo tu da vam pomognemo da vaš biznis prilagodite online okruženju i na pravi način iskoristite sve benefite koje nudi.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Na kraju dana, suština marketinga je u ostvarenju boljeg rezultata.</p>
            </div>
        </div>
    </div>
</div>

<div class="position o-nama--poruka background-grey-lighter flex flex-column justify-content-center align-items-center">
    <div class="o-nama--poruka-text font-24 font-grey margin-xxl--bottom-48 text-center">„Vizija bez akcije je sanjarenje, akcija bez vizije je noćna mora“.</div>
    <div class="o-nama--poruka-text font-16 font-grey--mid text-center">Stara japanska poslovica kaže</div>
</div>

<div class="position background-black-light padding-xxl--top-100 padding-xxl--bottom-100 padding-xxl--left-90">
    <div class="font-46 font-white margin-xxl--bottom-24">Naše vrednosti</div>
    <div class="line-big background-blue"></div>
</div>

<div class="position flex flex-wrap background-blue padding-xxl--bottom-100 padding-xxl--left-180">
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100">
        <div class="o-nama--vrednosti-slika margin-xxl--bottom-48"><img src="./images/icons/profesionalnost.png"></div>
        <div class="font-24 font-white margin-xxl--bottom-48">Profesionalnost</div>
        <div class="o-nama--vrednosti-text font-16 font-white">Naša prva asocijacija na profesionalnost je pravi odnos prema radu i svakom klijentu. Spremni smo da pružimo maksimum kako bismo ostvarili zajedničke ciljeve.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100">
        <div class="o-nama--vrednosti-slika margin-xxl--bottom-48"><img src="./images/icons/posvecenost.png"></div>
        <div class="font-24 font-white margin-xxl--bottom-48">Posvećenost</div>
        <div class="o-nama--vrednosti-text font-16 font-white">Ljubav prema poslu i velika želja nas pokreću svakog dana. Usmereni smo ka tome da budete zadovoljni našom uslugom i ostvarenim rezultatima.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100">
        <div class="o-nama--vrednosti-slika margin-xxl--bottom-48"><img src="./images/icons/timski-rad.png"></div>
        <div class="font-24 font-white margin-xxl--bottom-48">Timski rad</div>
        <div class="o-nama--vrednosti-text font-16 font-white">Kada grupa ljudi ostvaruje zajedničkom cilju postaje tim. Vođeni zdravom i pozitivnom energijom uvek smo spremni da pružimo više. Stvorili smo tim i sistem rada koji daje rezultat.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100">
        <div class="o-nama--vrednosti-slika margin-xxl--bottom-48"><img src="./images/icons/strucnost.png"></div>
        <div class="font-24 font-white margin-xxl--bottom-48">Stručnost</div>
        <div class="o-nama--vrednosti-text font-16 font-white">Naš razvoj vodio nas je preko osnovnih pojmova marketinga do rada za globalne kompanije. I dalje, svakodnevno učimo i unapređujemo naša znanja i veštine.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100">
        <div class="o-nama--vrednosti-slika margin-xxl--bottom-48"><img src="./images/icons/poverenje.png"></div>
        <div class="font-24 font-white margin-xxl--bottom-48">Poverenje</div>
        <div class="o-nama--vrednosti-text font-16 font-white">Naš rad je transparentan i dostupan. Svesni smo da je odgovornost važna u poslu kojim se bavimo. Gradimo poverenje i stičemo iskustvo zajedno sa vama.</div>
    </div>
    <div class="o-nama--vrednostiflex flex-column margin-xxl--top-100">
        <div class="o-nama--vrednosti-slika margin-xxl--bottom-48"><img src="./images/icons/open-mind.png"></div>
        <div class="font-24 font-white margin-xxl--bottom-48">Open Mind</div>
        <div class="o-nama--vrednosti-text font-16 font-white">Zato što je otvoren um preduslov za napredak. Sinonim za ideje, kreativnost i sve što iz toga poizilazi...</div>
    </div>
</div>

{% include 'klijenti.twig' %}
{% include 'contact_shared.twig' %}

{% endblock %}
