{% extends 'base.twig' %}
{% block content %}

<div class="position o-nama flex align-items-center align-items--l-end justify-content--l-center">
    <div class="padding-xxl--left-90 padding-l--right-90 padding-m--left-24 padding-m--right-24 flex flex-column align-items--l-center">
        <div class="naslov font-46 font-bold font-white margin-xxl--bottom-48 margin-l--bottom-24 text--l-center">Ko je Marketer?</div>
        <div class="text o-nama--text font-16 font-grey--mid margin-xxl--bottom-24 text--l-center">Tim ljudi koji voli svoj posao, uživa u njemu i raduje se svakom novom izazovu...</div>
        <div class="line-big background-blue margin-l--bottom-24"></div>
    </div>
</div>

<div class="position o-nama--poruka background-grey-lighter flex flex-column justify-content-center align-items-center padding-xxl--top-100 padding-xxl--bottom-100 padding-l--top-70 padding-l--bottom-70">
    <div class="o-nama--poruka-text font-24 font-grey margin-xxl--bottom-48 text-center">Marketer je brzo rastuća agencija za digitalni marketing specijalizovana za Google i Facebook oglašavanje.</div>
    <div class="o-nama--poruka-text font-16 font-grey--mid text-center">Mi ne razbacujemo našu energiju i dragocene resurse – radimo ono što volimo i jako smo dobri u tome!</div>
</div>

<div class="position flex flex-column background-black-light">
    <div class="flex flex-column align-items-center margin-xxl--top-100 margin-xxl--bottom-100 margin-l--top-70 margin-l--bottom-70">
        <div class="font-32 font-white text-center margin-xxl--bottom-24 margin-s--left-24 margin-s--right-24">Korak po korak ka uspehu</div>
        <div class="font-16 font-grey--mid text-center margin-s--left-24 margin-s--right-24 text--l-center">Kreiramo i implementiramo vrhunske online kampanje koje daju rezultat.</div>
    </div>
    <div class="recnik--blok2 background-black-light flex flex--l-column">
        <div class="recnik--blok2-left margin-xxl--top-100 flex flex-column margin-l--top-none">
            <div class="flex justify-content-end margin-xxl--top-200 margin-l--top-none flex--l-column align-items--l-center">
                <div data-aos="zoom-in" class="o-nama--koraci margin-xxl--right-100 flex flex-column margin-l--right-24 margin-l--left-24">
                    <div class="o-nama--koraci-text font-white margin-xxl--top-24 margin-xxl--bottom-48 text--l-center">Ciljevi</div>
                    <div class="font-16 font-white text--l-center">Definisanje ciljeva je jedan od najvažnijih elementa svake online kampanje. Kada imamo jasne ciljeve ispred sebe, biramo najbolji način da ih ostvarimo.</div>
                </div>
                <div class="recnik--blok2-line background-blue margin-l--top-50 margin-l--bottom-50 margin-s--top-24 margin-s--bottom-24"></div>
            </div>
            <div class="flex justify-content-end flex--l-column align-items--l-center">
                <div data-aos="zoom-in" class="o-nama--koraci margin-xxl--right-100 flex flex-column margin-l--right-24 margin-l--left-24">
                    <div class="o-nama--koraci-text font-white margin-xxl--top-24 margin-xxl--bottom-48 text--l-center">Optimizacija</div>
                    <div class="font-16 font-white text--l-center">Da bismo bili sigurni da smo na pravom putu, svakodnevno pratimo i merimo efekte kampanja i optimizujemo ih u skladu njihovim učinkom.</div>
                </div>
                <div class="recnik--blok2-line background-blue margin-l--top-50 margin-l--bottom-50 margin-s--top-24 margin-s--bottom-24"></div>
            </div>
            <div class="flex justify-content-end flex--l-column align-items--l-center">
                <div data-aos="zoom-in" class="o-nama--koraci margin-xxl--right-100 flex flex-column margin-l--right-24 margin-l--left-24">
                    <div class="o-nama--koraci-text font-white margin-xxl--top-24 margin-xxl--bottom-48 text--l-center">Komunikacija</div>
                    <div class="font-16 font-white text--l-center">Efikasna i stalna komunikacija je osnov za uspeh i dobru saradnju. Mi insistiramo i negujemo otvoren partnerski odnos, razmenu mišljenja i ideja.</div>
                </div>
                <div class="recnik--blok2-line background-blue margin-l--top-50 margin-l--bottom-50 margin-s--top-24 margin-s--bottom-24"></div>
            </div>
        </div>
        <div class="o-nama--koraci-line background-blue margin-xxl--top-100 display--l-none"></div>
        <div class="recnik--blok2-right margin-xxl--top-100 flex flex-column margin-l--top-none">
            <div class="flex justify-content--l-center">
                <div class="recnik--blok2-line background-blue display--l-none"></div>
                <div data-aos="zoom-in" class="o-nama--koraci margin-xxl--left-100 margin-l--left-24 margin-l--right-24">
                    <div class="o-nama--koraci-text font-white margin-xxl--top-24 margin-xxl--bottom-48 text--l-center">Istraživanje</div>
                    <div class="font-16 font-white text--l-center">Tražimo odgovore na ključna pitanja –  Ko je vaša publika? Šta voli i koja su njena interesovanja? Šta radi vaša konkurencija? Na koji način bi trebalo da komunicirate sa tržištem?</div>
                </div>
            </div>
            <div class="flex flex--l-column align-items--l-center">
                <div class="recnik--blok2-line background-blue margin-l--top-50 margin-l--bottom-50 margin-s--top-24 margin-s--bottom-24"></div>
                <div data-aos="zoom-in" class="o-nama--koraci margin-xxl--left-100 margin-l--left-24 margin-l--right-24">
                    <div class="o-nama--koraci-text font-white margin-xxl--top-24 margin-xxl--bottom-48 text--l-center">Kampanje</div>
                    <div class="font-16 font-white text--l-center">Ovde postavljamo temelj uspeha. Kreiramo kampanje koje će na najbolji način predstavljati vaš brend, komunicirati sa tržištem i postići željeni cilj.</div>
                </div>
            </div>
            <div class="flex flex--l-column align-items--l-center margin-l--bottom-70">
                <div class="recnik--blok2-line background-blue margin-l--top-50 margin-l--bottom-50 margin-s--top-24 margin-s--bottom-24"></div>
                <div data-aos="zoom-in" class="o-nama--koraci margin-xxl--left-100 margin-l--left-24 margin-l--right-24">
                    <div class="o-nama--koraci-text font-white margin-xxl--top-24 margin-xxl--bottom-48 text--l-center">Analiza</div>
                    <div class="font-16 font-white text--l-center">Analiziramo i kreiramo izveštaje koji će transparentno i razumljivo predstaviti rezultate kampanje. Nakon svake kampanje sledi analiza jer želimo da svaka sledeća bude bolja.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position o-nama--misija flex align-items-center justify-content--l-center align-items--l-end">
    <div class="padding-xxl--left-90 flex flex-column w-33 padding-xxl--top-100 padding-xxl--bottom-100 w--l-75 padding-l--top-50 padding-l--bottom-50 padding-l--left-24 padding-l--right-24 w--s-100">
        <div class="flex justify-content--l-center w-100 w--l-100 margin-xxl--bottom-48"  id="numberofitems">
                <div class="font-24 font-grey--mid margin-xxl--right-100 margin-s--right-none margin-xxl--bottom-24 active-link text--s-center hover-tab" id="choice1" onclick="nextTabs(1);">Naša vizija</div>
                <div class="font-24 font-grey--mid margin-xxl--bottom-24 text--s-center margin-s--left-24 hover-tab" id="choice2" onclick="nextTabs(2);">Naša misija</div>
        </div>
        <div class="flex overflow-hidden w-100" id="onamatabs">
            <div class="o-nama--misija-info w-100--min text--l-center" id="tab1">
                <p class="font-14 font-white margin-xxl--bottom-24">Mi duboko verujemo da ključ uspeha u svakom poslu leži u izgradnji najboljih poslovnih odnosa. Za nas je svaki kontakt sa vama put ka stvaranju iskrene i profesionalne komunikacije, koja se temelji na poverenju i posvećenosti ostvarivanju zadatih ciljeva.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Za nas, digitalni marketing predstavlja sastavni i neraskidivi deo sveobuhvatne marketing strategije. Kreiramo online kampanje koje će kroz sinergetski efekat i vrhunsko korisničko iskustvo razvijati i unaprediti poslovanje i dovesti do željenog cilja  – ostvaren profit i zadovoljan klijent.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Digitalna transformacija je neizbežan proces u današnjem poslovnom svetu. Mi smo tu da vam pomognemo da vaš biznis prilagodite online okruženju i na pravi način iskoristite sve benefite koje nudi.</p>
            </div>
            <div class="o-nama--misija-info w-100--min text--l-center" id="tab2">
                <p class="font-14 font-white margin-xxl--bottom-24">Mi smo profesionalci i entuzijasti kojima je digitalni marketing svakodnevni posao u kome uživamo. Apsolutno smo posvećeni našim klijentima i njihovom uspehu. Uvek idemo u korak sa najnovijim informacionim tehnologijama i digitalnim alatima kako bismo bili u mogućnosti da kreiramo inovativna i jedinstvena rešenja za vaš biznis.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Za nas, digitalni marketing predstavlja sastavni i neraskidivi deo sveobuhvatne marketing strategije. Kreiramo online kampanje koja će kroz sinergetski efekat i vrhunsko korisničko iskustvo razvijati i unaprediti poslovanje i postići rezultat koji svi očekuju – ostvaren profit i zadovoljan klijenat.</p>
                <p class="font-14 font-white margin-xxl--bottom-24">Na kraju dana, suština marketinga je u ostvarenju boljeg rezultata.</p>
            </div>
        </div>
    </div>
</div>

<div class="position background-grey-lighter flex flex-column justify-content-center align-items-center padding-xxl--top-100 padding-xxl--bottom-100 padding-s--left-none padding-l--top-70 padding-l--bottom-70">
    <div class="o-nama--poruka-text font-24 font-grey margin-xxl--bottom-48 text-center">„Vizija bez akcije je sanjarenje, akcija bez vizije je noćna mora“.</div>
    <div class="o-nama--poruka-text font-16 font-grey--mid text-center">Stara japanska poslovica</div>
</div>

<div class="position flex flex-column background-black-light padding-xxl--top-100 padding-xxl--bottom-100 padding-xxl--left-90 padding-s--left-none padding-l--top-70 padding-l--bottom-70 align-items--s-center">
    <div class="font-46 font-bold font-white margin-xxl--bottom-24 text--s-center">Naše vrednosti</div>
    <div class="font-24 font-grey margin-xxl--bottom-24 text--s-center">Težimo ka onome što je važno</div>
    <div class="line-big background-blue"></div>
</div>

<div class="position flex flex-wrap background-blue padding-xxl--bottom-100 padding-xxl--left-180 padding-l--left-24 padding-l--right-24">
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100 align-items--l-center">
        <div data-aos="fade-up" class="o-nama--vrednosti-slika margin-xxl--bottom-48 margin-m--bottom-24"><img src="./images/icons/profesionalnost.png"></div>
        <div data-aos="fade-up" data-aos-delay="200" class="font-24 font-white margin-xxl--bottom-48 text--l-center margin-m--bottom-24">Profesionalnost</div>
        <div data-aos="fade-up" data-aos-delay="400" class="o-nama--vrednosti-text font-16 font-white text--l-center">Naša prva asocijacija na profesionalnost je odgovoran odnos prema radu i svakom klijentu. Spremni smo da pružimo maksimum kako bismo ostvarili zajedničke ciljeve.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100 align-items--l-center">
        <div data-aos="fade-up" class="o-nama--vrednosti-slika margin-xxl--bottom-48 margin-m--bottom-24"><img src="./images/icons/posvecenost.png"></div>
        <div data-aos="fade-up" data-aos-delay="200" class="font-24 font-white margin-xxl--bottom-48 text--l-center margin-m--bottom-24">Posvećenost</div>
        <div data-aos="fade-up" data-aos-delay="400" class="o-nama--vrednosti-text font-16 font-white text--l-center">Ljubav prema poslu je ono što nas pokreće svakoga dana. Usmereni smo ka tome da budete zadovoljni našom uslugom i ostvarenim rezultatima.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100 align-items--l-center">
        <div data-aos="fade-up" class="o-nama--vrednosti-slika margin-xxl--bottom-48 margin-m--bottom-24"><img src="./images/icons/timski-rad.png"></div>
        <div data-aos="fade-up" data-aos-delay="200" class="font-24 font-white margin-xxl--bottom-48 text--l-center margin-m--bottom-24">Timski rad</div>
        <div data-aos="fade-up" data-aos-delay="400" class="o-nama--vrednosti-text font-16 font-white text--l-center">Koristiti ovaj tekst: Kada grupa ljudi ide ka zajedničkom cilju postaje tim. Vođeni pozitivnom energijom uvek smo spremni da pružimo više. Stvorili smo sistem rada koji daje rezultat.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100 align-items--l-center">
        <div data-aos="fade-up" class="o-nama--vrednosti-slika margin-xxl--bottom-48 margin-m--bottom-24"><img src="./images/icons/strucnost.png"></div>
        <div data-aos="fade-up" data-aos-delay="200" class="font-24 font-white margin-xxl--bottom-48 text--l-center margin-m--bottom-24">Stručnost</div>
        <div data-aos="fade-up" data-aos-delay="400" class="o-nama--vrednosti-text font-16 font-white text--l-center">Naš razvoj vodio nas je preko osnovnih pojmova marketinga do rada za globalne kompanije. I dalje, svakodnevno učimo i unapređujemo naša znanja i veštine.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100 align-items--l-center">
        <div data-aos="fade-up" class="o-nama--vrednosti-slika margin-xxl--bottom-48 margin-m--bottom-24"><img src="./images/icons/poverenje.png"></div>
        <div data-aos="fade-up" data-aos-delay="200" class="font-24 font-white margin-xxl--bottom-48 text--l-center margin-m--bottom-24">Poverenje</div>
        <div data-aos="fade-up" data-aos-delay="400" class="o-nama--vrednosti-text font-16 font-white text--l-center">Naš rad je transparentan i dostupan. Svesni smo da je odgovornost važna u poslu kojim se bavimo. Gradimo poverenje i stičemo iskustvo zajedno sa vama.</div>
    </div>
    <div class="o-nama--vrednosti flex flex-column margin-xxl--top-100 align-items--l-center">
        <div data-aos="fade-up" class="o-nama--vrednosti-slika margin-xxl--bottom-48 margin-m--bottom-24"><img src="./images/icons/open-mind.png"></div>
        <div data-aos="fade-up" data-aos-delay="200" class="font-24 font-white margin-xxl--bottom-48 text--l-center margin-m--bottom-24">Open Mind</div>
        <div data-aos="fade-up" data-aos-delay="400" class="o-nama--vrednosti-text font-16 font-white text--l-center">Zato što je otvoren um preduslov za napredak. Sinonim za ideje, kreativnost i sve što iz toga proizilazi...</div>
    </div>
</div>

{% include 'klijenti.twig' %}
{% include 'contact_shared.twig' %}

{% endblock %}
