{% extends "base.twig" %}
{% block content %}

  <div class="position background-black-lighter flex flex-column justify-content-center align-items-center padding-xxl--top-100 padding-xxl--bottom-100">
    <div class="post font-46 font-white margin-xxl--bottom-60 margin-l--left-24 margin-l--right-24 text--l-center padding-l--left-180 padding-l--right-180 padding-m--left-90 padding-m--right-90 padding-s--left-none padding-s--right-none">Politika privatnosti</div>
    <div class="post font-16 font-white margin-l--left-24 margin-l--right-24 text--l-center"></div>
  </div>


  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Vaša saglasnost u vezi sa ovom politikom privatnosti</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Molimo vas da pažljivo pročitate našu politiku privatnosti. Obavezujemo se da ćemo čuvati privatnost vaših ličnih podataka koje nam dostavljate korišćenjem ovog web-sajta. Primenjujemo opšte prihvaćene standarde tehnološke i operativne bezbednosti da bismo zaštitili vaše lične podatke od gubitka, zloupotrebe, preoblikovanja, ili uništavanja. Korišćenjem ovog sajta, vi nam odobravate da sakupljamo, koristimo i pohranjujemo vaše lične podatke na način opisan u ovoj politici privatnosti, i na drugim mestima na sajtu. Ako se ne slažete sa nekim uslovom u ovoj politici privatnosti, molimo vas da ne dajete nikakve lične podatke na ovom sajtu.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Sakupljanje ličnih informacija</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Kada posetite naš sajt, moći ćete da nam ostavite svoje lične podatke što će vam omogućiti da iskoristite usluge koje vam nudimo, kao što je zahtev za dodatnim informacijama ili onlajn/elektronsko podnošenje molbe. Ti podaci mogu da uključuju informacije koje se mogu opravdano koristiti kao parametri za vašu ličnu identifikaciju, i to su ime, prezime, broj telefona, email adresa, ili bilo koji drugi lični podatak. Imajte na umu i to da, ukoliko ne želite da dobrovoljno date ove podatke, nećemo preuzimati niti sakupljati vaše lične informacije koje dobijemo prilikom vaše posete sajtu.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Cookies</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Ovaj sajt može koristiti cookies da bi identifikovao vas ili vaša interesovanja, i da bi pratio korišćenje sajta. Cookies su zapravo mali tekstovi čuvani na vašem kompjuteru na osnovu kojih znamo koji pretraživač koristite, gde ste bili na sajtu, ili na web-sajtovima na koje se možete povezati da biste koristili neke od naših sadržaja. Takve informacije nam pomažu da poboljšamo ili prilagodimo potrebama naš web-sajt u korist naših klijenata. Cookies nam takođe pokazuju da li ste registrovani kod nas i omogućavaju nam da povežemo vaš trenutni boravak na našem sajtu sa prethodnom posetom sajtu ili pridruženim sajtovima. Korisnik koji ne prihvati cooky sa sajta neće moći da pristupi izvesnim poljima na sajtu. Mi takođe logujemo i IP adrese ili lokaciju kompjutera na internetu, da bismo lakše dijagnostifikovali probleme sa serverom i da bismo lakše upravljali sajtom.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Korišćenje vaših ličnih informacija</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Vaše lične podatke koje nam dostavite ćemo koristiti samo one u svrhe i na onaj način na koji smo se to obavezali kad ste nam dostavljali podatke o sebi. Možemo da koristimo email adresu prilikom slanja elektronske pošte posetiocima ili telefonskim pozivom možemo da obavestimo svoje posetioce koji su nam dostavili svoju email adresu ili telefonski broj o novim proizvodima, uslugama ili događajima. Vašu email adresa i telefonski broj možemo takođe koristiti kada želimo da vas kontaktiramo u vezi sa informacijama koje ste od nas tražili. Nećemo obelodanjivati, prodavati, iznajmljivati, pozajmljivati ili razmenjivati vaše lične podatke sa bilo kojom drugom osobom, organizacijom ili licem, osim u onoj meri u kojoj je to neophodno da bismo vam obezbedili tražene informacije ili usluge. Po pravilu, nećemo obelodanjivati vaše lične podatke nekom nepovezanom trećem licu u bilo kom smislu i za bilo koje potrebe koje nisu vezane za usluge koje nudimo. Dodali bismo još i to da, u izvesnim ograničenim okolnostima, Marketer može biti u zakonskoj obavezi da objavi vaše lične informacije kao ispunjenje obaveze po sudskom nalogu, pozivanjem na određene zakonske akte ili regulative.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">E-mail</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Korišćenjem našeg sajta, imaćete priliku da sa nama razmenjujete e-mail poruke. Pre nego što bilo šta uradite u tom pogledu, imajte na umu to da su, u pogledu poverljivosti podataka, kompjuterski/elektronski obrasci i e-mail/elektronska pošta ograničeni. Informacije koje razmenjujete s nama na ovaj način možda neće biti sigurne. Mi čuvamo e-mail adrese koje nam svojom slobodnom voljom dostave korisnici sajta, i to putem e-mail poruka upućenih na elektronsku adresu naše kompanije ili njenog osoblja. Te adrese možemo da koristimo prilikom obaveštavanja zainteresovanih posetilaca sajta o događajima, proizvodima, uslugama i drugim zanimljivim stvarima. Osim toga, putem elektronske pošte možemo da obavestimo posetioce o nedavnim izmenama i osavremenjivanju podataka na našem web-sajtu, da im dostavimo obaveštenja o novinama u domenu proizvoda ili usluga ili biltene. Ovo može obavljati sama kompanija Marketer ili posredstvom trećeg lica koje Makteter angažuje u tu svrhu.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Izmene ličnih podataka</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Želimo da uvek imamo potpuno tačne i ažurirane vaše lične kontakt podatke. Vi, takođe, imate pravo da zahtevate od nas brisanje tih kontakt informacija. Da biste izmenili lične podatke ili lične kontakt podatke, ili da biste od nas tražili da mi preuzmemo obavezu brisanja informacija koje ste nam elektronskim putem preko web-sajta dostavili, molimo vas da nam pošaljete e-mail poruku, pišete ili pozovete naš korisnički servis.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Izmene naše politike privatnosti</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Povremeno su moguće izmene ove politike privatnosti. Ovde ćemo objaviti svaku eventualnu promenu, te vas, iz tog razloga, molimo da povremeno proverite da li je istih bilo.</p>
    </div>
  </div>
  <div class="position background-black-lighter">
    <div class="flex flex-wrap justify-content-center padding-xxl--bottom-100 padding-xxl--top-100 padding-m--bottom-70 padding-m--top-70 margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-l--right-none margin-s--right-18">
      {% set Post = fetch("Post") %}
      {% for item in Post %}
          {% if loop.index < 3 %}
              <div class="blog--part margin-xxl--top-24 margin-xxl--bottom-24" style="background-image: url('img/{{item.Image}}');">
                  <div class="blog--part-grad flex flex-column justify-content-end">
                      <div class="blog--part-grad-text font-16 font-white margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-m--right-18 margin-xxl--bottom-24 margin-m--bottom-18 text-center">{{item.Short | raw }}</div>
                      <div class="margin-l--left-24 margin-m--left-18 margin-l--right-24 margin-m--right-18  padding-xxl--bottom-24 padding-m--bottom-18  text-center">
                          <button class="button-midd button-border-blue background-black-light font-white font-14"><a href="post/{{item.Slug}}">VIŠE</a></button>
                      </div>
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      </div>
  </div>

{% include 'contact_shared.twig' %}

{% endblock %}
