{% set testimonials = fetch("Testimonials") %}

<div class="testimonials flex flex-column justify-content-center align-items-center w-100 background-black-light" style="min-height: 100vh;">
  <div class="testimonials--title flex flex-column align-items-center margin-xxl--top-100 w-100">
    <div class="w-100">
      <p class="font-46 font-white margin-xxl--bottom-24 w-100 text-center">Testimonial</p>
      <p class="font-32 font-grey margin-xxl--bottom-24 w-100 text-center">Naši verni prijatelji</p>
    </div>
    <div class="line-big background-blue"></div>
  </div>
  <div class="testimonials--inner flex w-50 w--l-75 margin-xxl--top-100 margin-xxl--bottom-100" style="border: 1px solid white">
    <div class="testimonials--inner-left"><div class="testimonials--inner-left--arrow"></div></div>
    <div class="testimonials--inner-mid flex align-items-center overflow-hidden margin-xxl--left-180 margin-xxl--right-180 margin-xxl--bottom-100">
      <div class="flex flex-column align-items-center w-100--min">
        <div class="logo margin-xxl--bottom-48"><img src=""></div>
        <div class="person margin-xxl--bottom-48">
          <p class="font-24 font-white margin-xxl--bottom-24"></p>
          <p class="font-16 font-grey"></p>
        </div>
        <div class="testimony text-center">"Poklon paket za trudnice #zdravobebo lansiran je na naše tržište pre par meseci i za veoma kratko vreme je pronašao put i osvojio srca trudnica. Marketer nam je pomogao da se putem online promocije veoma visoko pozicioniramo u svesti korisnika i postanemo prepoznatljivi kod trudnica i mama. Lojalnost i rast potražnje pokazuju nam da smo na dobrom putu."</div>
      </div>
      <div class="w-100--min">

      </div>
      <div class="w-100--min">

      </div>
    </div>
    <div class="testimonials--inner-right"><div class="testimonials--inner-left--arrow"></div></div>
  </div>
</div>
